{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Gestión de usuarios{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Parametrización</li>
      <li>Usuarios</li>
      
    </ul>

{% endblock %}

	

{% block section %}

	<div class="section" ng-controller="FiltrosUsuarioCtrl">
      <div class="container">
        <div class="row" >
          
          <div class="col-md-6">
            <div class="btn-group">
              <a href="{{ path('homepage') }}" class="btn btn-warning">Volver</a>
               <a href="{{ path('homepage') }}register" class="btn btn-success">Nuevo</a>              
            </div>
          </div>

          <div class="col-md-4">
          </div>

          <div class="col-md-2">
            <div class="btn-group [[styleBuscarHerramientas]]">              
                
                <button class="btn btn-info" ng-click="buttonBuscarHerramientasUsuario(CountBuscarHerramientas)">Filtros <span class="caret"></span></button>  
              <button class="btn btn-primary" ng-click="limpiarCamposFiltroBusquedaUsuario();">Limpiar</button>                            
            </div>
          </div>

        </div>
      </div>


      <br>
      <div class="container well" ng-show="CountBuscarHerramientas === 1">

        <form method="get" action="{{ path('usuarioGestion') }}">               
                  
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

        {{ form_errors(form) }}

        <div class="row">          

            

                  <div class="col-md-3">
                  
                    {{ form_label(form.numero_documento) }}
                    {{ form_errors(form.numero_documento) }}
                    {{ form_widget(form.numero_documento, { 'attr': {'class': 'form-control', 'placeholder': 'Número de documento'} }) }}

                  </div>

                  <div class="col-md-3">

                    {{ form_label(form.primer_apellido) }}
                    {{ form_errors(form.primer_apellido) }}
                    {{ form_widget(form.primer_apellido, { 'attr': {'class': 'form-control', 'placeholder': 'Primer apellido'} }) }}

                  </div>

                  <div class="col-md-3">

                    {{ form_label(form.primer_nombre) }}
                    {{ form_errors(form.primer_nombre) }}
                    {{ form_widget(form.primer_nombre, { 'attr': {'class': 'form-control', 'placeholder': 'Primer nombre'} }) }}

                  </div>

                  <div class="col-md-3">

                    {{ form_label(form.username) }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre de Usuario'} }) }}

                  </div>

                  
        </div>

        <br />        

        <div class="row">    

                  <div class="col-md-12 text-right">

                  <button class="btn btn-default" style="color:white; background-color:#ccc;"  type="submit" name="submit-filter" value="filter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

                  </div>                  
        </div>

        {{ form_end(form) }}

        </form>

      </div>


    </div>
    
     
  	<br>

    <div class="container">
    <div class="alert alert-[[estadoMensaje]] alert-dismissible" id="MensajeCtrl" ng-show="mostrarMensaje === true" role="alert">[[textoMensaje]]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    </div>
    
    <br>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                	<tr>

                    <th class="text-center">{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                    <th></th><th></th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination, 'Nombre', 'a.nombre') }}</th>
                    
                    <th class="text-center">{{ knp_pagination_sortable(pagination, 'Username', 'a.Username') }}</th>

                    <th class="text-center">{{ knp_pagination_sortable(pagination, 'Email', 'a.email') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination, 'Acciones', 'a.acciones') }}</th>

	                 
	                </tr>
	           </thead>
	           <tbody>
                {% set consecutivo = 1 %}
        
          {% for usuario in pagination %}
                  
                  <tr id="filaUsuario{{ consecutivo }}">
                    <td class="text-center">{{ consecutivo }}</td>  
                    <td></td><td></td>     
                    <td class="text-left">{{ usuario.primerNombre}} {{ usuario.SegundoNombre}} {{ usuario.PrimerApellido}} {{ usuario.SegundoApellido}}</td>
                        
                    <td class="text-left">{{ usuario.Username}}</td>   
                    <td class="text-center">{{ usuario.email}}</td>   
                    <td class="text-center">
                      
                      <a href="{{ path('beneficiarioGestion', {'idGrupo': usuario.id}) }}" alt="Beneficiarios" title="Beneficiarios"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></td>
                    
                    
                  </tr>
                  {% set consecutivo = consecutivo + 1 %}
                  {% else %}
                  
                  <tr>
                      <td colspan="9" class="info">No se encontraron registros.</td>
                  </tr>
                  
                  {% endfor %}
             

             
	             
               </tbody>
            </table>
            <div class="navigation text-center">
              <nav>
                <ul class="pagination">
                  {{ knp_pagination_render(pagination) }}
                </ul>
              </nav>
            </div>  
          </div>
        </div>
      </div>
    </div>  

	
           
{% endblock %}

