{# app/Resources/views/frontend.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('public/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('public/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('public/css/docs.min.css') }}" rel="stylesheet" type="text/css">
	
    <style type="text/css" media="screen">
      label.required:before {
          content: "* ";
      }
      .form-control label.required:before {
          content: "";
      }
      .form-control label {
          content: "";
          padding-left: 2px;
          padding-right: 20px;
      }
      .dropdown-submenu {
                  position: relative;
              }
              
              .dropdown-submenu>.dropdown-menu {
                  top: 0;
                  left: 100%;
                  margin-top: -6px;
                  margin-left: -1px;
                  -webkit-border-radius: 0 6px 6px 6px;
                  -moz-border-radius: 0 6px 6px;
                  border-radius: 0 6px 6px 6px;
              }
              
              .dropdown-submenu:hover>.dropdown-menu {
                  display: block;
              }
              
              .dropdown-submenu>a:after {
                  display: block;
                  content: " ";
                  float: right;
                  width: 0;
                  height: 0;
                  border-color: transparent;
                  border-style: solid;
                  border-width: 5px 0 5px 5px;
                  border-left-color: #ccc;
                  margin-top: 5px;
                  margin-right: -10px;
              }
              
              .dropdown-submenu:hover>a:after {
                  border-left-color: #fff;
              }
              
              .dropdown-submenu.pull-left {
                  float: none;
              }
              
              .dropdown-submenu.pull-left>.dropdown-menu {
                  left: -100%;
                  margin-left: 10px;
                  -webkit-border-radius: 6px 0 6px 6px;
                  -moz-border-radius: 6px 0 6px 6px;
                  border-radius: 6px 0 6px 6px;
              }
			  
			  
			  
			  
			  .hr-form {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #73777 -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
    </style>
	
	
{% endblock %}

{% block scriptshead %}
	<script type="text/javascript" src="{{ asset('public/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/lib/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/lib/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/lib/ui-bootstrap-tpls-0.14.3.min.js') }}"></script>
    <!--script type="text/javascript" src="{{ asset('public/lib/angular-bootstrap-confirm.js') }}"></script-->
    <script type="text/javascript" src="{{ asset('public/lib/bootstrap-confirmation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/lib/docs.min.js') }}"></script>
	<script type="text/javascript">

	</script>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('public/js/scripts.js') }}"></script>
{% endblock %}

{% block body %}
	{% block header %}
		<header>    
		    <div class="section">
		      <div class="container">
		        <div class="row">
		          <div class="col-md-12 text-center" style="padding:20px;">
		            <img src="https://www.minagricultura.gov.co/imgLayout/Banner_nuevo_madr.png">
		          </div>
		        </div>
		      </div>
		    </div>
		</header>
	{% endblock %}
	
	{% block nav %}
  		{% render controller('AppBundle:Default:nav') %}
	{% endblock %}

	{% block breadcrumb %}
	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          	{% block breadcrumb_ul %}
            
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

	{% block section %}{% endblock %}
	
	<input type="hidden" id="path" ng-model="rutaServidor" value="{{ path('homepage') }}" />
  
	<DIV style="CLEAR: both"></DIV>

	{% block footer %}
		<footer class="section section-primary alert alert-success">
	      <div class="container">
	        <div class="row">
	          <div class="col-sm-6">
	            <h1>Capacidades Empresariales</h1>
	            <p>Ministerio de Agricultura y Desarrollo Rural.
	              <br>República de Colombia. Bogotá D.C
	              <br>Avenida Jimenez N°. 7A - 17. PBX (+571)2543300</p>
	          </div>
	          <div class="col-sm-6">
	            <div class="row">
	              <div class="col-md-12 hidden-xs text-center">
	                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS5PrfPlcPTzKS_CruxYUjOwWqC-fjZuv0prAHw6TBr479vv_B7w" class="img-thumbnail" height="220px" width="130px">
	                <img src="http://www.nu.org.bo/wp-content/uploads/2013/03/Logo_FIDA.png" class="img-thumbnail" height="220px" width="130px">
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </footer>
	{% endblock %}


{% endblock %}