{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Incentivo al Ahorro editar{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Financiera</li>
      
      <li><a href="{{ path('ahorroGestion') }}">Incentivo al Ahorro</a></li>
	  <li>Editar</li>
    </ul>

{% endblock %}


{% block section %}

     
  	<br>

    <hr>

    
  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
              <button name="grupo[Guardar]" id="grupo_Guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('ahorroGestion') }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section">
      <div class="container">
        <div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Datos del incentivo de ahorro</legend>
				</fieldset>            
			</div>
		</div>
            <!--form class="form-horizontal" role="form"-->
		<br/>
		
		<div class="row">
				<div class="col-md-4">
                  {{ form_label(form.grupo) }}
				  {{ form_errors(form.grupo) }}
                  {{ form_widget(form.grupo, { 'attr': {'class': 'form-control'} }) }}
                </div> 
                <div class="col-md-4">
                  {{ form_label(form.fecha_registro) }}
				  {{ form_errors(form.fecha_registro) }}
                  {{ form_widget(form.fecha_registro, { 'attr': {'class': 'form-control'} }) }}
                </div> 
                <div class="col-md-4">
                  {{ form_label(form.fecha_inicio) }}
				  {{ form_errors(form.fecha_inicio) }}
                  {{ form_widget(form.fecha_inicio, { 'attr': {'class': 'form-control'} }) }}
                </div>  
		</div>

		<br/>

		<div class="row">
				<div class="col-md-4">
                  {{ form_label(form.estado) }}
				  {{ form_errors(form.estado) }}
                  {{ form_widget(form.estado, { 'attr': {'class': 'form-control'} }) }}
                </div> 
                <div class="col-md-4">
                  {{ form_label(form.incentivo_ahorro_colectivo) }}
				  {{ form_errors(form.incentivo_ahorro_colectivo) }}
                  {{ form_widget(form.incentivo_ahorro_colectivo, { 'attr': {'class': 'form-control'} }) }} 
                </div> 
		</div>
		<br/>
		<br/>
		<!--/form-->          
      </div>
    </div>

  {{ form_end(form) }}
               
{% endblock %}

