{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Clear{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Formacion de capital social asociativo y desarrollo empresarial</li>
      <li class="active">CLEAR</li>
    </ul>
{% endblock %}





{% block section %}
  <div class="container">
    <h1>Gestión CLEAR "Comité Local de Evaluación y Asignación de Recursos"</h1>
    <hr>
  </div>

  <br />
  <br />

    <div class="section" ng-controller="FiltrosClearCtrl">
      <div class="container">
        <div class="row" >
          
          <div class="col-md-6">
            <div class="btn-group">
              <a href="{{ path('homepage') }}" class="btn btn-warning">Volver</a>
              <a href="{{ path('clearNuevo') }}" class="btn btn-success">Nuevo</a>              
            </div>
          </div>

          <div class="col-md-4">
          </div>

          <div class="col-md-2">
            <div class="btn-group [[styleBuscarHerramientas]]">              
                
                <button class="btn btn-info" ng-click="buttonBuscarHerramientasClear(CountBuscarHerramientas)">Filtros <span class="caret"></span></button>  
              <button class="btn btn-primary" ng-click="limpiarCamposFiltroBusquedaClear();">Limpiar</button>                            
            </div>
          </div>

        </div>
      </div>

      <br />

        <div class="container well" ng-controller="ListasLocalizacionCtrl" ng-show="CountBuscarHerramientas === 1">
        
        <form method="get" action="{{ path('clearGestion') }}">               
                  
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

        {{ form_errors(form) }}

        <div class="row" >

          <div class="col-md-3">
            <label>Departamento</label>
              <select ng-model="selDepartamento" class="form-control" id="selDepartamento" name="selDepartamento" ng-change="cargarZonas()" ng-options="departamento.nombre for departamento in JSONDepartamento track by departamento.id">     
             </select>
          </div>

          <div class="col-md-3">
            <label>Municipio</label>
             <select ng-model="selMunicipio" class="form-control" id="selMunicipio" name="selMunicipio" ng-options="municipio.nombre for municipio in JSONMunicipio track by municipio.id"></select>           
          </div>          
          
          <div class="col-md-3">
            <label>Zona</label>
             <select ng-model="selZona" class="form-control" id="selZona" name="selZona" ng-change="cargarMunicipios()" ng-options="zona.nombre for zona in JSONZona track by zona.id"></select>
          </div>
          

        </div>

        <br />

        <div class="row"> 
          <div class="col-md-3">
            {{ form_label(form.fecha_inicio) }}
            {{ form_errors(form.fecha_inicio) }}
            {{ form_widget(form.fecha_inicio, { 'attr': {'class': 'form-control', 'placeholder': 'Fecha Inicio'} }) }}
          </div>
          <div class="col-md-3">
            {{ form_label(form.fecha_finalizacion) }}
            {{ form_errors(form.fecha_finalizacion) }}
            {{ form_widget(form.fecha_finalizacion, { 'attr': {'class': 'form-control', 'placeholder': 'Fecha Finalización'} }) }}
          </div>
          
                    
        </div> 

        <br />

        <div class="row">    

          <div class="col-md-12 text-right">

          <button class="btn btn-default" style="color:white; background-color:#ccc;"  type="submit" name="submit-filter" value="filter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

          </div>                  
        </div>

        {{ form_end(form) }}

        </form>
      </div>



    </div>

    
    
    <br>

    <div class="container">
    <div class="alert alert-[[estadoMensaje]] alert-dismissible" id="MensajeCtrl" ng-show="mostrarMensaje === true" role="alert">[[textoMensaje]]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 table-responsive">
            <table class="table table-striped table-hover" ng-controller="gestionClearCtrl">
              <thead>
                	<tr>
	                  <th class="text-center">{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination, 'Fecha Inicio', 'a.fechaInicio') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination, 'Fecha Finalizacion', 'a.fechaFinalizacion') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination, 'Lugar Realizacion', 'a.municipio') }}</th>                    
	                  <th class="text-center">{{ knp_pagination_sortable(pagination, 'Acciones', 'a.acciones') }}</th>
	                </tr>
	           </thead>
	           <tbody>
               
                {% set consecutivo = 1 %}


	    	
	    		{% for article in pagination %}

                  <tr {% if loop.index is odd %}class="color"{% endif %}>     
                  <tr id="filaCLEAR{{ consecutivo }}" >             

                    <td class="text-center">{{article.id }}</td>               
                    <td class="text-center">{{ article.fechaInicio |  date('d - m - Y') }}</td>
                    <td class="text-center">{{ article.fechaFinalizacion |  date('d - m - Y') }}</td>      
                    <td class="text-center"><b>M</b> {{ article.municipio }}
                      <br>
                      <b>D</b> {{ article.municipio.departamento }}
                      <br>
                      <b>Z</b> {{ article.municipio.zona }}
                      <br></td>
	                  <td class="text-center">
                      {% set comprobarSoporte = 0 %}
                      {% for soporteClear in soportesClear %}
                        {% if article.id == soporteClear.clear.id and soporteClear.active == 1 and soporteClear.tipoSoporte == "Acta Inducción e instalación" %}
                            {% set comprobarSoporte = 1 %}
                        {% endif %}
                      {% endfor %}
                      
                        {% if comprobarSoporte == 1 %}
                          <a href="{{ path('clearIntegrante', {'idCLEAR': article.id}) }}" alt="Integrantes CLEAR" title="Integrantes CLEAR"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a> | 
                          <a href="{{ path('clearGrupo', {'idCLEAR': article.id}) }}" alt="Asignacion Grupos" title="Asignacion Grupos"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a> | 
                          <a href="{{ path('clearSoporte', {'idCLEAR': article.id}) }}" alt="subir archivos" title="Subir archivos"><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span></a> | 
                          <a href="{{ path('clearActaInicio', {'idCLEAR': article.id}) }}" alt="Actas de Inicio" title="Actas de Inicio"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span></a> | 
                          <a href="{{ path('clearActaCierre', {'idCLEAR': article.id}) }}" alt="Actas de Cierre" title="Actas de Cierre"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a> | 
                          <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ article.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> |      
                          <a class="ng-binding ng-isolate-scope" href="" mwl-confirm="" alt="Anular" title="Anular registro" message="¿Está seguro de anular este registro?" confirm-text="Si &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;" cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;" on-confirm="eliminarClear({{article.id}}, {{consecutivo}});" on-cancel="" confirm-button-type="danger" cancel-button-type="default" handle-focus="true" ng-click="idCLEAR = {{article.id}};"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        {% else %}
                          <a href="{{ path('clearIntegrante', {'idCLEAR': article.id}) }}" alt="Integrantes CLEAR" title="Integrantes CLEAR"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a> | 
                          <a href="{{ path('clearGrupo', {'idCLEAR': article.id}) }}" alt="Asignacion Grupos" title="Asignacion Grupos"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a> | 
                          <a href="{{ path('clearSoporte', {'idCLEAR': article.id}) }}" alt="subir archivos" title="Subir archivos"><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span></a> | 
                          <a href="{{ path('clearActaInicio', {'idCLEAR': article.id}) }}" alt="Actas de Inicio" title="Actas de Inicio"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span></a> | 
                          <a href="{{ path('clearActaCierre', {'idCLEAR': article.id}) }}" alt="Actas de Cierre" title="Actas de Cierre"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a> | 
                          <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ article.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> |                      
                          <a title="Editar" alt="Editar" href="{{ path('clearEditar', {'idCLEAR': article.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> | 
                          <a class="ng-binding ng-isolate-scope" href="" mwl-confirm="" alt="Anular" title="Anular registro" message="¿Está seguro de anular este registro?" confirm-text="Si &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;" cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;" on-confirm="eliminarClear({{article.id}}, {{consecutivo}});" on-cancel="" confirm-button-type="danger" cancel-button-type="default" handle-focus="true" ng-click="idCLEAR = {{article.id}};"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                      {% endif %}
                    
	                    
	                  </td>
	                </tr>
	                {% set consecutivo = consecutivo + 1 %}
	                {% else %}
	                
	                <tr>
	                  	<td colspan="9" class="info">No se encontraron registros.</td>
	                </tr>
	                
	                {% endfor %}
              
               </tbody>
            </table>
            <div class="navigation text-center">
              <nav>
                <ul class="pagination">
                  {{ knp_pagination_render(pagination) }}
                </ul>
              </nav>
            </div>    
          </div>
        </div>
      </div>
    </div>  

	{% for clear in pagination %}
    <!-- Modal -->
    
    <div class="modal fade" id="myModal{{  clear.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content col-md-12 table-responsive">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <tr class="col-md-12 table-responsive">
              <td><h4 class="modal-title text-center" id="myModalLabel">{{ clear.lugarRealizacionCLEAR }}</h4><td>
                            
            </tr>
          </div>
        </br>
          <div class="col-md-12 table-responsive">
          <table class="table table-bordered">            
              <thead>
                <tr class="bg-primary">
                    <th class="text-center col-md-5">Información</th>
                    <th class="text-center col-md-7">Datos del CLEAR</th>                    
                </tr>
              </thead>

              <tbody>    

              <tr class="active text-muted">            
                    
                  <td class="text-center">
                    Fecha de Inicio:
                  </td>         
                  <td class="text-center">
                    {{ clear.fechaInicio |  date('d - m - Y') }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Fecha de Finalizacion
                  </td>
                  <td class="text-center">
                    {{ clear.fechaFinalizacion |  date('d - m - Y') }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Lugar de Realizacion del CLEAR
                  </td>
                  <td class="text-center">
                    {{ clear.lugarRealizacionCLEAR }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Zona
                  </td>
                  <td class="text-center">
                   {{ clear.municipio.zona.nombre }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Departamento
                  </td>
                  <td class="text-center">
                    {{ clear.municipio.departamento.nombre }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Municipio
                  </td>
                  <td class="text-center">
                   {{ clear.municipio }}
                  </td>
              </tr>
              </tbody>  
          </table>  
           <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>  
          </div>      
      </div>
    </div>
  </div>
    {% endfor %}           
{% endblock %}

