{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Incentivo al ahorro{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Financiera</li>
      <li>Incentivos al ahorro</li>      
      <li>Beneficiarios Ahorro</li>
      <li><a href="{{ path('beneficiarioAhorroCorteGestion', {'idAhorro': idAhorro, 'idGrupo': idGrupo, 'idBeneficiario': idBeneficiario}) }}">Cortes del Incentivo de Ahorro</a></li>
      <li class="active">Nuevo</li>
    </ul>

{% endblock %}


{% block section %}

     
  	<br>

    <hr>

    
  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
              <button name="grupo[guardar]" id="grupo_guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('beneficiarioAhorroCorteGestion', {'idAhorro': idAhorro, 'idGrupo': idGrupo, 'idBeneficiario': idBeneficiario}) }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section">
      <div class="container">
        <div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Datos del Corte del Incentivo de ahorro</legend>
				</fieldset>            
			</div>
		</div>
            <!--form class="form-horizontal" role="form"-->
		<br/>
		
		<div class="row">				                 
                <div class="col-md-4">
                  {{ form_label(form.fecha_realizacion) }}
				          {{ form_errors(form.fecha_realizacion) }}
                  {{ form_widget(form.fecha_realizacion, { 'attr': {'class': 'form-control'} }) }}
                </div>  		
				        <div class="col-md-4">
                  {{ form_label(form.ahorro_corte) }}
				          {{ form_errors(form.ahorro_corte) }}
                  {{ form_widget(form.ahorro_corte, { 'attr': {'class': 'form-control'} }) }}
                </div>                 
		</div>
		<br/>
		<br/>
		<!--/form-->          
      </div>
    </div>

  {{ form_end(form) }}
               
{% endblock %}

