{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Capacitacion Nuevo{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Conocimiento</li>
      
      <li><a href="{{ path('capacitacionGestion') }}">Capacitacion</a></li>
	  <li>Nuevo</li>
    </ul>

{% endblock %}


{% block section %}

     
  	<br>

    <hr>

    
  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">		
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
              <button name="grupo[Guardar]" id="grupo_Guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('concursoNuevo') }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section">
      <div class="container">
	  <div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Datos de la capacitacion</legend>
				</fieldset>            
			</div>
		</div>	
<!--form class="form-horizontal" role="form"-->			
        <div class="row">
		        <div class="col-md-4">
                  {{ form_label(form.capacitador) }}
				  {{ form_errors(form.capacitador) }}
                  {{ form_widget(form.capacitador, { 'attr': {'class': 'form-control'} }) }}
                </div>		  
                <div class="col-md-4">
                  {{ form_label(form.nombre) }}
				  {{ form_errors(form.nombre) }}
                  {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.fecha_publicacion) }}
				  {{ form_errors(form.fecha_publicacion) }}
                  {{ form_widget(form.fecha_publicacion, { 'attr': {'class': 'form-control'} }) }}
                </div>
		</div>
		
		<br/>
		
		<div class="row">
				<div class="col-md-4">
                  {{ form_label(form.fecha_inicio) }}
				  {{ form_errors(form.fecha_inicio) }}
                  {{ form_widget(form.fecha_inicio, { 'attr': {'class': 'form-control'} }) }}
                </div>
				<div class="col-md-4">
                  {{ form_label(form.fecha_finalizacion) }}
				  {{ form_errors(form.fecha_finalizacion) }}
                  {{ form_widget(form.fecha_finalizacion, { 'attr': {'class': 'form-control'} }) }}
                </div>
				<div class="col-md-4">
                  {{ form_label(form.tipo) }}
				  {{ form_errors(form.tipo) }}
                  {{ form_widget(form.tipo, { 'attr': {'class': 'form-control'} }) }}
                </div>
		</div>
		
		<br/>
		
		<div class="row">
		        <div class="col-md-4">
                  {{ form_label(form.municipio) }}
				  {{ form_errors(form.municipio) }}
                  {{ form_widget(form.municipio, { 'attr': {'class': 'form-control'} }) }}
                </div>
				<div class="col-md-4">
                  {{ form_label(form.modalidad) }}
				  {{ form_errors(form.modalidad) }}
                  {{ form_widget(form.modalidad, { 'attr': {'class': 'form-control'} }) }}
                </div>
		</div>
        
		<br/>
		<br/>		
            
            <!--/form-->
      </div>
    </div>

  {{ form_end(form) }}
               
{% endblock %}

