{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Eventos{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Conocimientos</li>
      <li>Eventos</li>
      
    </ul>

{% endblock %}

	

{% block section %}
    <div class="container">
    <h1>Gestión de Eventos</h1>
    <hr>
  </div>

    <hr>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
              <a href="{{ path('homepage') }}" class="btn btn-warning">Volver</a>
              <a href="{{ path('eventoNuevo') }}" class="btn btn-success">Nuevo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 table-responsive">
            <table class="table table-striped table-hover" ng-controller="gestionEventoCtrl">
              <thead>
                	<tr>
	                  <th>#</th>
	                  
	                  
	                  <th>Nombre Evento </th>
	                  <th>Nombre Organizador</th>
	                  <th>Descripcion</th>
	                  <th>Acciones</th>
	                </tr>
	           </thead>
	           <tbody>
                {% set consecutivo = 1 %}
	    	
	    		{% for evento in eventos %}
	    		
	                
	                <tr id="filaEvento{{ consecutivo }}">
	                  <td>{{ consecutivo }}</td>
	                 
	                <td>
	                  {{ evento.nombre }}
	                  </td>
	                  <td>
	                    {{ evento.organizador}}
	                  </td>
					  <td>
	                   {{ evento.descripcion}}
	                  </td>
	         
	                  
	                  <td>

                      <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ evento.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> |
	                   
	                    <a href="{{ path('eventoSoporte', {'idEvento': evento.id}) }}" alt="subir archivos" title="Subir archivos"><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span></a> |
              
                      <a title="Editar" alt="Editar" href="{{ path('eventoEditar', {'idEvento': evento.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> |      

                      <a class="ng-binding ng-isolate-scope" href="" mwl-confirm="" alt="Anular" title="Anular registro" message="¿Está seguro de anular este registro?" confirm-text="Si &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;" cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;" on-confirm="eliminarEvento({{evento.id}}, {{consecutivo}});" on-cancel="" confirm-button-type="danger" cancel-button-type="default" handle-focus="true" ng-click="idEvento = {{evento.id}};"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                
                    </td>
	                </tr>
					{% set consecutivo = consecutivo + 1 %}
	                {% else %}
	                
	                <tr>
	                  	<td colspan="7" class="info">No se encontraron registros.</td>
	                </tr>
	                
	                {% endfor %}
              
	             
               </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>  

{% for evento in eventos %}
    <!-- Modal -->
    <div class="modal fade" id="myModal{{ evento.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ evento.id }} | {{ evento.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Organizador: {{ evento.organizador }}</b>
            <br>
            <b>Nombre del evento: {{ evento.nombre }}</b>
            <br>
			<b>Descripcion: {{ evento.descripcion }}</b>
            <br>
            <b>Fecha de la publicacion: {{ evento.fechaPublicacion |  date('d - m - Y') }}</b>
            <br>
            <b>Fecha de inicio del evento: {{ evento.fechaInicio |  date('d - m - Y') }}</b>
            <br>
            <b>Fecha de finalizacion del evento: {{ evento.fechaFinalizacion |  date('d - m - Y') }}</b>
            <br>
            <b>Tipo de evento: {{ evento.tipo }}</b>
            <br>
            <b>Municipio: {{ evento.municipio }}</b> 
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}      
{% endblock %}

