{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Eventos{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Conocimientos</li>
      <li>Eventos</li>
      
    </ul>

{% endblock %}

	

{% block section %}

	<div class="section" ng-controller="FiltrosCtrl">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="input-group">
              <input class="form-control" placeholder="Buscar..." ng-model="txtBuscar" type="text">
              <span class="input-group-btn">
			  <button class="btn btn-default" type="button">Buscar</button>
              </span>
            </div>
			
                r:[[txtBuscar]]
			  
          </div>
          <div class="col-md-3 text-center">
		  
            <div class="[[styleBuscarHerramientas]]">
              <button class="btn btn-primary" ng-click="buttonBuscarHerramientas(count)">Filtros <span class="caret"></span></button>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <a class="btn btn-default">Limpiar</a>
          </div>
        </div>
      </div>
      <br>
      <div class="container well" ng-controller="ListasLocalizacionCtrl" ng-show="count === 1">
        <div class="row" >
          <div class="col-md-3">
            <label>Departamento</label>
            <br>
			<select ng-model="selDepartamento" class="form-control" ng-change="cargarZonas()" ng-options="departamento.id as departamento.nombre for departamento in JSONDepartamento"></select>
          </div>
          <div class="col-md-3">
            <label>Zona</label>
            <br>
			<select ng-model="selZona" class="form-control" ng-change="cargarMunicipios()" ng-options="zona.id as zona.nombre for zona in JSONZona"></select>
          </div>
          <div class="col-md-3">
            <label>Municipio</label>
            <br>
			<select ng-model="selMunicipio" class="form-control" ng-options="municipio.id as municipio.nombre for municipio in JSONMunicipio"></select>           
          </div>
          <div class="col-md-3">
            <label>Estado</label>
            <br>
            <input list="estado" placeholder="Estado..." class="form-control">
            <datalist id="estado">
              <option value="Activo"></option>
              <option value="Inactivo"></option>
            </datalist>
          </div>
        </div>
      </div>
    </div>
    <br>
     
  	<br>

    <hr>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
              <a href="{{ path('eventoNuevo') }}" class="btn btn-success">Nuevo</a>
              
              <a class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                	<tr>
	                  <th>#</th>
	                  <th>
	                    <input type="checkbox">
	                  </th>
	                  
	                  <th>Nombre Evento </th>
	                  <th>Nombre Organizador</th>
	                  <th>Descripcion</th>
	                  <th>Acciones</th>
	                </tr>
	           </thead>
	           <tbody>
                {% set consecutivo = 1 %}
	    	
	    		{% for evento in eventos %}
	    		
	                
	                <tr>
	                  <td>1</td>
	                  <td>
	                    <input type="checkbox">
	                  </td>
	                <td>
	                  {{ evento.nombre }}
	                  </td>
	                  <td>
	                    {{ evento.organizador}}
	                  </td>
					  <td>
	                   {{ evento.descripcion}}
	                  </td>
	         
	                  
	                  <td>
	                   
	                    <a href="acta-subir-grupos.html" alt="subir archivos" title="Subir archivos"><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span> | </a>
					    <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> | </a>
	                    <a title="Editar" alt="Editar" href="3-grupos-editar.html"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> | </a>
	                    <a title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registro?"><span class="glyphicon glyphicon-trash"></span></a>
	                  </td>
	                </tr>
					
	                  {% else %}
	                
	                <tr>
	                  	<td colspan="7" class="info">No se encontraron registros.</td>
	                </tr>
	                
	                {% endfor %}
              
	             
               </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>  


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">NP-RIC-3-2014/05-001 | Andrés Carne de Res</h4>
          </div>
          <div class="modal-body">
            <b>Departamento:Antioquia</b>
            <br>
            <b>Municipio: Rionegro</b>
            <br>
            <b>Zona: Oriente Antioqueño</b>
            <br>
            <b>Tipo de grupo: No formal</b>
            <br>
            <b>Codigo de grupo:</b>
            <br>
            <b>Nombre grupo:NP-RIC-3-2014/05-003</b>
            <br>
            <b>Corregimiento:N/A</b>
            <br>
            <b>Vereda:N/A</b>
            <br>
            <b>Cacerio:N/A</b>
            <br>
            <b>Direccion: CLL67 #78-89</b>
            <br>
            <b>Tipo de organización:Cooperativa</b>
            <br>
            <b>NIT:721394731-2</b>
            <br>
            <b>Telefono Movil:3126748675</b>
            <br>
            <b>Telefono Fijo:9867849</b>
            <br>
            <b>Cuenta Bancaria:Si</b>
            <br>
            <b>Tipo de cuenta: Mancomunada</b>
            <br>
            <b>Numero de cuenta:76128348938-97</b>
            <br>
            <b>Banco:Banco de Bogota</b>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
               
{% endblock %}

