{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Asignacion Contador{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Formacion de capital social asociativo y desarrollo empresarial</li>
      <li><a href="{{ path('grupoGestion') }}">Gestión Grupos</a></li>
      <li class="active">Asignar contador</li>
    </ul>

{% endblock %}

{% block section %}

 <div class="container">
    <h1>Gestión Grupos</h1>
    <br>

    {% for grupos in grupo %}
    <h2> Grupo: {{ grupos.nombre }}</h2>
    {% endfor %}
    <br>
    <hr>
    <h3>Asignación Contador</h3>
  </div>

  <br />
  <br />

    <div class="container">
    <div class="alert alert-[[estadoMensaje]] alert-dismissible" id="MensajeCtrl" ng-show="mostrarMensaje === true" role="alert">[[textoMensaje]]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    </div>

<div class="section">
      <div class="container"> 
        <div class="row">
            <div class="col-md-6">
              <div class="btn-group">
                <a href="{{ path('grupoGestion') }}" class="btn btn-warning">Volver</a>                             
              </div>
            </div>
        </div>
      </div>
  </div>

  <br /> 
<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 well">            
            <br>
            {% if mostrarFiltros == 0 %}
            <div class="row well" ng-controller="FiltrosContadorAsignacionCtrl">

              <div class="row">
              <div class="col-md-12 text-right">
                
            <div class="btn-group [[styleBuscarHerramientas]]">              
                
                <button class="btn btn-info" ng-click="buttonBuscarHerramientasContadorAsignacion(CountBuscarHerramientas)">Filtros <span class="caret"></span></button>  
              <button class="btn btn-primary" ng-click="limpiarCamposFiltroBusquedaContadorAsignacion();">Limpiar</button> 
            </div>
          </div>
        </div>

        <br />

        <div ng-show="CountBuscarHerramientas === 1">

        <form method="get" action="{{ path('grupoContador', {'idGrupo': idGrupo}) }}">               
                  
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

        {{ form_errors(form) }}

        <div class="row">       

                  <div class="col-md-6">

                    {{ form_label(form.primer_nombre) }}
                    {{ form_errors(form.primer_nombre) }}
                    {{ form_widget(form.primer_nombre, { 'attr': {'class': 'form-control', 'placeholder': 'Primer nombre'} }) }}

                    
                  </div>

                  <div class="col-md-6">

                    {{ form_label(form.primer_apellido) }}
                    {{ form_errors(form.primer_apellido) }}
                    {{ form_widget(form.primer_apellido, { 'attr': {'class': 'form-control', 'placeholder': 'Primer apellido'} }) }}

                  </div>

        </div>

        <br />

        <div class="row">
                  <div class="col-md-3">
                  </div> 
                  <div class="col-md-6">

                    {{ form_label(form.numero_documento) }}
                    {{ form_errors(form.numero_documento) }}
                    {{ form_widget(form.numero_documento, { 'attr': {'class': 'form-control', 'placeholder': 'Número de documento'} }) }}
   
                  </div>

        </div>

        

        <br />        

        <div class="row">    

                  <div class="col-md-12 text-right">

                  <button class="btn btn-default" style="color:white; background-color:#ccc;"  type="submit" name="submit-filter" value="filter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

                  </div>                  
        </div>

        {{ form_end(form) }}

        </form>

      </div>


        </div>

          {% endif %}
            <hr>            



            <table class="table table-striped table-hover">
              <thead>
                <tr>
                    <th class="text-center">{{ knp_pagination_sortable(pagination1, '#', 'a.id') }}</th>
                    <th></th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination1, 'Opcionados', 'a.opcionados') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination1, 'Tarjeta Profesional', 'a.tarjetaProfesional') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination1, 'Acciones', 'a.acciones') }}</th>
                </tr>                
              </thead>
              <tbody>
                
            {% set pagina = pagination1.getCurrentPageNumber %}
                 
            {% set consecutivo = 1 + ((pagina - 1) * 10) %}
        
            {% for contador in pagination1 %}
        
             <tr {% if loop.index is odd %}class="color"{% endif %}>
                  <td class="text-center">{{ contador.id }}</td>
                  <td>
                  </td>
                  <td>  
                    {{ contador.primerNombre }} {{ contador.primerApellido }}                    
                  </td>                  
                  <td>                    
                    {{ contador.numeroTarjeta }}
                  </td>                                      
                  <td class="text-center">
                    <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ contador.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    <br>                                       
                    <a href="{{ path('grupoContadorAsignacion', {'idGrupo': idGrupo, 'idContador': contador.id}) }}" title="Asignar" alt="Asignar"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                    <br>                      
                  </td>
                </tr>
        
            {% set consecutivo = consecutivo + 1 %}
                  {% else %}
                  
                  <tr>
                      <td colspan="7" class="info">No se encontraron registros.</td>
                  </tr>
                  
                  {% endfor %}
        
                
              </tbody>
            </table>
            <div class="col-md-12 text-center">
              <div class="navigation text-center">
              <nav>
                <ul class="pagination">
                  {{ knp_pagination_render(pagination1) }}
                </ul>
              </nav>
            </div>
            </div>
          </div>

          <div class="col-md-6 col-md-offset-1 well">            
            <table class="table table-striped table-hover" ng-controller="gestionContadorGrupoCtrl">
              <thead>           
                <tr>
                  <th>#</th>
                  <th>
                    
                  </th>
                  <th>Asignado</th>
                  <th>Datos del Beneficiario</th>
                  <th>Acciones</th>
                </tr>
        
              </thead>
              <tbody>
        {% set consecutivo = 1 %}
        
          {% for asignacionContadorGrupo in asignacionesContadorGrupo %}
                <tr id="filaIntegranteCLEAR{{ consecutivo }}">
                  <td>{{ consecutivo }}</td>
                  <td>
                    
                  </td>                 
                  <td>
                    {{ asignacionContadorGrupo.contador.primerNombre }} {{ asignacionContadorGrupo.contador.primerApellido }}
                  </td>
                  <td>
                    {{ asignacionContadorGrupo.contador.numeroTarjeta }}                    
                  </td> 
          
                  <td>
                    <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ asignacionContadorGrupo.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> | 
                    <a class="ng-binding ng-isolate-scope" href="" mwl-confirm="" alt="Anular" title="Anular registro" message="¿Está seguro de anular este registro?" confirm-text="Si &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;" cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;" on-confirm="eliminarContadorGrupo('{{ path('grupoContadorEliminar', {'idGrupo': idGrupo, 'idAsignacionContador': asignacionContadorGrupo.id}) }}')" on-cancel="" confirm-button-type="danger" cancel-button-type="default" handle-focus="true"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
                  </td>
                </tr>
        
         {% set consecutivo = consecutivo + 1 %}
                  {% else %}
          <tr>
                      <td colspan="7" class="info">No se encontraron registros.</td>
                  </tr>
                  
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  {% for contador in pagination1 %}
    <!-- Modal -->
    <div class="modal fade" id="myModal{{  contador.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content col-md-12 table-responsive">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <tr class="col-md-12 table-responsive">
              <td><h4 class="modal-title text-center" id="myModalLabel">{{ contador.numeroDocumento }} | {{ contador.primerNombre }} {{ contador.segundoNombre }} {{ contador.primerApellido }} {{ contador.segundoApellido }}</h4><td>
                            
            </tr>
          </div>
        </br>
          <div class="col-md-12 table-responsive">
          <table class="table table-bordered">            
              <thead>
                <tr class="bg-primary">
                    <th class="text-center col-md-5">Información</th>
                    <th class="text-center col-md-7">Datos del Contador</th>                    
                </tr>
              </thead>

              <tbody>    

              <tr class="active text-muted">            
                    
                  <td class="text-center">
                    Tipo de Documento
                  </td>         
                  <td class="text-center">
                    {{ contador.tipoDocumento }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Número Documento
                  </td>
                  <td class="text-center">
                    {{ contador.numeroDocumento }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Número Tarjeta Profesional
                  </td>
                  <td class="text-center">
                     {{ contador.numeroTarjeta }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                   Primer Apellido
                  </td>
                  <td class="text-center">
                    {{ contador.primerApellido }}
                  
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Segundo Apellido
                  </td>
                  <td class="text-center">
                   {{ contador.segundoApellido }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Primer Nombre
                  </td>
                  <td class="text-center">
                   {{ contador.primerNombre }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Segundo Nombre
                  </td>
                  <td class="text-center">
                   {{ contador.segundoNombre }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Genero
                  </td>
                  <td class="text-center">
                   {{ contador.genero }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Fecha Nacimiento
                  </td>
                  <td class="text-center">
                   {{ contador.fechaNacimiento |  date('d - m - Y')  }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Telefono Fijo
                  </td>
                  <td class="text-center">
                   {{ contador.telefonoFijo }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Telefono Celular
                  </td>
                  <td class="text-center">
                   {{ contador.telefonoCelular }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Correo Electronico
                  </td>
                  <td class="text-center">
                   {{ contador.correoElectronico }}
                  </td>
              </tr>
              </tbody>  
          </table>  
           <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>  
          </div>      
      </div>
    </div>
  </div>
   {% endfor %}             

   {% for asignacionContadorGrupo in asignacionesContadorGrupo %}
    <!-- Modal -->
  
    <div class="modal fade" id="myModal{{  asignacionContadorGrupo.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content col-md-12 table-responsive">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <tr class="col-md-12 table-responsive">
              <td><h4 class="modal-title text-center" id="myModalLabel">{{ asignacionContadorGrupo.contador.numeroDocumento }} | {{ asignacionContadorGrupo.contador.primerNombre }} {{ asignacionContadorGrupo.contador.segundoNombre }} {{ asignacionContadorGrupo.contador.primerApellido }} {{ asignacionContadorGrupo.contador.segundoApellido }}</h4><td>
                            
            </tr>
          </div>
        </br>
          <div class="col-md-12 table-responsive">
          <table class="table table-bordered">            
              <thead>
                <tr class="bg-primary">
                    <th class="text-center col-md-5">Información</th>
                    <th class="text-center col-md-7">Datos del Contador</th>                    
                </tr>
              </thead>

              <tbody>    

              <tr class="active text-muted">            
                    
                  <td class="text-center">
                    Tipo de Documento
                  </td>         
                  <td class="text-center">
                    {{ asignacionContadorGrupo.contador.tipoDocumento }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Número Documento
                  </td>
                  <td class="text-center">
                    {{ asignacionContadorGrupo.contador.numeroDocumento }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Número Tarjeta Profesional
                  </td>
                  <td class="text-center">
                     {{ asignacionContadorGrupo.contador.numeroTarjeta }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                   Primer Apellido
                  </td>
                  <td class="text-center">
                    {{ asignacionContadorGrupo.contador.primerApellido }}
                  
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Segundo Apellido
                  </td>
                  <td class="text-center">
                   {{ asignacionContadorGrupo.contador.segundoApellido }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Primer Nombre
                  </td>
                  <td class="text-center">
                   {{ asignacionContadorGrupo.contador.primerNombre }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Segundo Nombre
                  </td>
                  <td class="text-center">
                   {{ asignacionContadorGrupo.contador.segundoNombre }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Genero
                  </td>
                  <td class="text-center">
                   {{ asignacionContadorGrupo.contador.genero }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Fecha Nacimiento
                  </td>
                  <td class="text-center">
                   {{ asignacionContadorGrupo.contador.fechaNacimiento |  date('d - m - Y')  }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Telefono Fijo
                  </td>
                  <td class="text-center">
                   {{ asignacionContadorGrupo.contador.telefonoFijo }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Telefono Celular
                  </td>
                  <td class="text-center">
                   {{ asignacionContadorGrupo.contador.telefonoCelular }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Correo Electronico
                  </td>
                  <td class="text-center">
                   {{ asignacionContadorGrupo.contador.correoElectronico }}
                  </td>
              </tr>
              </tbody>  
          </table>  
           <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>  
          </div>      
      </div>
    </div>
  </div>
   {% endfor %}             

               
{% endblock %}

