{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Rutas{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Servicio Complementario</li>
      <li><a href="{{ path('tallerGestion', {'idGrupo': idGrupo}) }}">Taller</a></li>
      <li class="active">Nuevo</li>
    </ul>

{% endblock %}


{% block section %}
<div class="container">
    <h1> Gestión Talleres </h1>
    <hr>
    <h3> Nuevo Registro</h3>
    <br />
    <br />
  </div>
     

  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
              <button name="grupo[guardar]" id="grupo_guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('tallerGestion', {'idGrupo': idGrupo}) }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section">
      <div class="container">
        
		
			<div class="row">
				<div class="col-md-12">
					<fieldset>
						<legend>Datos básicos del taller </legend>
					</fieldset>            
				</div>
			</div>	

				<div class="row">
				<div class="col-md-4">
                  {{ form_label(form.fecha) }}
				  {{ form_errors(form.fecha) }}
                  {{ form_widget(form.fecha, { 'attr': {'class': 'form-control', 'placeholder': 'Fecha Taller'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.objetivo) }}
				  {{ form_errors(form.objetivo) }}
                  {{ form_widget(form.objetivo, { 'attr': {'class': 'form-control', 'placeholder': 'Objetivo '} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.agenda) }}
          {{ form_errors(form.agenda) }}
                  {{ form_widget(form.agenda, { 'attr': {'class': 'form-control', 'placeholder': 'Agenda '} }) }}
                </div>
          
		</div>

    <br />
    
      <div class="row">
        <div class="col-md-4">
                  {{ form_label(form.lugar) }}
          {{ form_errors(form.lugar) }}
                  {{ form_widget(form.lugar, { 'attr': {'class': 'form-control', 'placeholder': 'Lugar Taller'} }) }}
                </div>                
                <div class="col-md-4">
                  {{ form_label(form.observaciones) }}
          {{ form_errors(form.observaciones) }}
                  {{ form_widget(form.observaciones, { 'attr': {'class': 'form-control', 'placeholder': 'Primer Observaciones '} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.compromisos) }}
          {{ form_errors(form.compromisos) }}
                  {{ form_widget(form.compromisos, { 'attr': {'class': 'form-control', 'placeholder': 'Compromisos'} }) }}
                </div>          
    </div>

			<br/>				
       
      </div>
    </div>

  {{ form_end(form) }}
               
{% endblock %}

