{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Criterio Calificación nuevo{% endblock %}

{% block breadcrumb_ul %}


    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Concursos de Mejoramiento</li>
      <li>Gestión de Concursos</li>
      <li>Gestión Criterio Calificación</a></li>
      <li class="active">Criterio Calificación Nuevo</li>
    </ul>

{% endblock %}


{% block section %}

     
   <div class="container">
    <h1> Criterio Calificación</h1>
    <hr>
    <h3> Nuevo Registro</h3>   
  </div>
    <br />
  <br />

    
  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
              <button name="grupo[Guardar]" id="grupo_Guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('criterioGestion',{'idConcurso':idConcurso}) }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!--form class="form-horizontal" role="form"-->
   <div class="row">

            <div class="col-md-4">
          {{ form_label(form.criterio) }}
          {{ form_errors(form.criterio) }}
          {{ form_widget(form.criterio, { 'attr': {'class': 'form-control'} }) }}               
           </div> 

           <div class="col-md-4">
          {{ form_label(form.maximo_puntaje) }}
          {{ form_errors(form.maximo_puntaje) }}
          {{ form_widget(form.maximo_puntaje, { 'attr': {'class': 'form-control'} }) }}               
           </div>

    </div> 
			
    <br>

            <!--/form-->
          </div>
        </div>
      </div>
    </div>
     <br>

  {{ form_end(form) }}
               
{% endblock %}

