{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Beneficiarios{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Formacion de capital social asociativo y desarrollo empresarial</li>
      <li><a href="{{ path('gruposGestion') }}">Grupos</a></li>
      <li><a href="{{ path('beneficiariosGestion', {'idGrupo': idGrupo}) }}">Beneficiarios</a></li>
      <li class="active">Nuevo</li>
    </ul>

{% endblock %}


{% block section %}
<div class="container">
    <h1> Gestión Grupos -Beneficiario </h1>
    <hr>
    <h3> Nuevo Registro</h3>
    <br />
    <br />
  </div>
     
  	<br>
    
  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
              <a href="#" onclick="document.forms[0].submit();return false;" class="btn btn-success">Guardar</a>
              
              <a href="{{ path('beneficiariosGestion', {'idGrupo': idGrupo}) }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section">
      <div class="container">
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Información del Beneficiario:</legend>
				</fieldset>            
			</div>
		</div>

		<br/>
 <!--form class="form-horizontal" role="form"-->
		<div class="row">
				<div class="col-md-4">
                  {{ form_label(form.tipo_documento) }}
				  {{ form_errors(form.tipo_documento) }}
                  {{ form_widget(form.tipo_documento, { 'attr': {'class': 'form-control'} }) }}
                </div> 
                <div class="col-md-4">
                  {{ form_label(form.numero_documento) }}
				  {{ form_errors(form.numero_documento) }}
                  {{ form_widget(form.numero_documento, { 'attr': {'class': 'form-control', 'placeholder': 'Número de documento'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.primer_apellido) }}
				  {{ form_errors(form.primer_apellido) }}
                  {{ form_widget(form.primer_apellido, { 'attr': {'class': 'form-control', 'placeholder': 'Primer apellido'} }) }}
                </div>
		</div>
		
		<br/>
		
		<div class="row">
				<div class="col-md-4">
                  {{ form_label(form.segundo_apellido) }}
				  {{ form_errors(form.segundo_apellido) }}
                  {{ form_widget(form.segundo_apellido, { 'attr': {'class': 'form-control', 'placeholder': 'Segundo apellido'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.primer_nombre) }}
				  {{ form_errors(form.primer_nombre) }}
                  {{ form_widget(form.primer_nombre, { 'attr': {'class': 'form-control', 'placeholder': 'Primer nombre '} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.segundo_nombre) }}
				  {{ form_errors(form.segundo_nombre) }}
                  {{ form_widget(form.segundo_nombre, { 'attr': {'class': 'form-control', 'placeholder': 'Segundo nombre'} }) }}
                </div>
		</div>
        
		<br/>
		
		<div class="row">
				<div class="col-md-4">
                  {{ form_label(form.genero) }}
				  {{ form_errors(form.genero) }}
                  {{ form_widget(form.genero, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.fecha_nacimiento) }}
				  {{ form_errors(form.fecha_nacimiento) }}
                  {{ form_widget(form.fecha_nacimiento, { 'attr': {'class': 'form-control', 'placeholder': 'Fecha de nacimiento'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.edad_inscripcion) }}
				  {{ form_errors(form.edad_inscripcion) }}
                  {{ form_widget(form.edad_inscripcion, { 'attr': {'class': 'form-control'} }) }}
                </div>
		</div>
		
		<br/>
		

		<div class="row" ng-controller="CamposDesplazadoBeneficiarioCtrl">
				<div class="col-md-4">
                  {{ form_label(form.desplazado) }}</br>
				  {{ form_errors(form.desplazado) }}
				  <center>
				  <switch id="swDesplazado" name="swDesplazado" ng-model="swDesplazado"  class="green" on="Si" off="No"></switch>
                  {{ form_widget(form.desplazado, { 'attr': {'style':'visibility:hidden'} }) }}
				  </center>				  
                </div> 

                <div ng show="mostrarGrupoIndigena" ng-controller="PertenenciaEtnicaCtrl"> 
                <div class="col-md-4"  > 
                  {{ form_label(form.pertenencia_etnica) }}
				  {{ form_errors(form.pertenencia_etnica) }}
				  {{ form_widget(form.pertenencia_etnica, { 'attr': {'class': 'form-control pertenencia_etnica','ng-model': 'pertenenciaEtnica', 'ng-change': 'grupoIndigena()'} }) }}	     	
                </div>
                <div class="col-md-4" >
                  {{ form_label(form.grupo_indigena) }}
				  {{ form_errors(form.grupo_indigena) }}
				  {{ form_widget(form.grupo_indigena, { 'attr': {'class': 'form-control','ng-show':'mostrarGrupoIndigena'} }) }}                  
				  
                </div>
                </div>

		</div>
		
		<br/>
			<div class="row" ng-controller = "CamposBeneficiarioCtrl">
				<div class="col-md-4">
                  {{ form_label(form.red_unidos) }}
				  {{ form_errors(form.red_unidos) }}
                  <center>
				  <switch id="swRedUnidos" name="swRedUnidos" ng-model="swRedUnidos"  class="green" on="Si" off="No"></switch>
                  {{ form_widget(form.red_unidos, { 'attr': {'style':'visibility:hidden'} }) }}
				  </center>	
                </div>
                <div class="col-md-4">
                  {{ form_label(form.sabe_leer) }}
				  {{ form_errors(form.sabe_leer) }}
                  <center>
				  <switch id="swSabeLeer" name="swSabeLeer" ng-model="swSabeLeer"  class="green" on="Si" off="No"></switch>
                  {{ form_widget(form.sabe_leer, { 'attr': {'style':'visibility:hidden'} }) }}
				  </center>			
                </div>
                <div class="col-md-4">
                  {{ form_label(form.sabe_escribir) }}
				  {{ form_errors(form.sabe_escribir) }}
                  <center>
				  <switch id="swSabeEscribir" name="swSabeEscribir" ng-model="swSabeEscribir"  class="green" on="Si" off="No"></switch>
                  {{ form_widget(form.sabe_escribir, { 'attr': {'style':'visibility:hidden'} }) }}
				  </center>	
                </div>
		</div>
		

		<br/>
                  <div class="row">
                <div class="col-md-4">
                  {{ form_label(form.corte_sisben) }}
				  {{ form_errors(form.corte_sisben) }}
                  {{ form_widget(form.corte_sisben, { 'attr': {'class': 'form-control', 'placeholder': 'Corte sisben'} }) }}
                </div>
				  <div class="col-md-4">
                  {{ form_label(form.puntaje_sisben) }}
				  {{ form_errors(form.puntaje_sisben) }}
                  {{ form_widget(form.puntaje_sisben, { 'attr': {'class': 'form-control', 'placeholder': 'Puntaje sisben'} }) }}
                </div>
                
                <div class="col-md-4">
				  {{ form_label(form.discapacidad) }}
				  {{ form_errors(form.discapacidad) }}
                  {{ form_widget(form.discapacidad, { 'attr': {'class': 'form-control'} }) }}
                </div> 

		</div>
		
		
		<br/>
		<div class="row">
				 <div class="col-md-4">
                  {{ form_label(form.rol_grupo_familiar) }}
				  {{ form_errors(form.rol_grupo_familiar) }}
                  {{ form_widget(form.rol_grupo_familiar, { 'attr': {'class': 'form-control'} }) }}
                </div>
				<div class="col-md-4">
                  {{ form_label(form.miembros_nucleo_familiar) }}
				  {{ form_errors(form.miembros_nucleo_familiar) }}
                  {{ form_widget(form.miembros_nucleo_familiar, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.hijos_menores_5) }}
				  {{ form_errors(form.hijos_menores_5) }}
                  {{ form_widget(form.hijos_menores_5, { 'attr': {'class': 'form-control'} }) }}
                </div>
		</div>
	
		
		<br/>
		
		<div class="row">
				<div class="col-md-4">
                  {{ form_label(form.nivel_estudios) }}
				  {{ form_errors(form.nivel_estudios) }}
                  {{ form_widget(form.nivel_estudios, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.ocupacion) }}
				  {{ form_errors(form.ocupacion) }}
                  {{ form_widget(form.ocupacion, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.tipo_vivienda) }}
				  {{ form_errors(form.tipo_vivienda) }}
                  {{ form_widget(form.tipo_vivienda, { 'attr': {'class': 'form-control'} }) }}
                </div>
		</div>
		
		</br>
		
		<div ng-controller = "CamposDireccionBeneficiarioCtrl">
				<div class="row">
						<div class="col-md-4">
						  {{ form_label(form.rural) }}<br/>
						  {{ form_errors(form.rural) }}
						  <switch id=de"swRural" name="swRural" ng-model="swRural" class="green" on="Si" off="No"></switch>
						  {{ form_widget(form.rural, { 'attr': {'style':'visibility:hidden'} }) }}
						</div>
						<div class="col-md-4">
						  {{ form_label(form.direccion) }}
						  {{ form_errors(form.direccion) }}
						  {{ form_widget(form.direccion, { 'attr': {'class': 'form-control', 'placeholder': 'Dirección'} }) }}
						</div>
						<div class="col-md-4">
							<div ng-show="swRural === false">
							  {{ form_label(form.barrio) }}
							  {{ form_errors(form.barrio) }}
							  {{ form_widget(form.barrio, { 'attr': {'class': 'form-control', 'placeholder': 'Barrio'} }) }}
							</div>
							<div ng-show="swRural === true">							
							  {{ form_label(form.corregimiento) }}
							  {{ form_errors(form.corregimiento) }}
							  {{ form_widget(form.corregimiento, { 'attr': {'class': 'form-control', 'placeholder': 'Corregimiento'} }) }}							  
						</div>
						</div>
				</div>	

				<br/>
	
				<div class="row" ng-show="swRural === true">
						<div class="col-md-4">							  
						</div>

						<div class="col-md-4">
						  {{ form_label(form.vereda) }}
						  {{ form_errors(form.vereda) }}
						  {{ form_widget(form.vereda, { 'attr': {'class': 'form-control', 'placeholder': 'Vereda'} }) }}
						</div>

						<div class="col-md-4">
						  {{ form_label(form.cacerio) }}
						  {{ form_errors(form.cacerio) }}
						  {{ form_widget(form.cacerio, { 'attr': {'class': 'form-control', 'placeholder': 'Cacerío'} }) }}
						</div>
				</div>	
			</div>	
		
		<br/>
		
		<div class="row">
				<div class="col-md-4">
                  {{ form_label(form.telefono_fijo) }}
				  {{ form_errors(form.telefono_fijo) }}
                  {{ form_widget(form.telefono_fijo, { 'attr': {'class': 'form-control', 'placeholder': 'Telefono fijo'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.telefono_celular) }}
				  {{ form_errors(form.telefono_celular) }}
                  {{ form_widget(form.telefono_celular, { 'attr': {'class': 'form-control', 'placeholder': 'Telefono celular'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.correo_electronico) }}
				  {{ form_errors(form.correo_electronico) }}
                  {{ form_widget(form.correo_electronico, { 'attr': {'class': 'form-control', 'placeholder': 'Correo electronico'} }) }}
                </div>
		</div>
		
		<br/>

		<div ng-controller = "EstadoCivilCtrl">
        <div class="row">
                <div class="col-md-4">
                  {{ form_label(form.estado_civil) }}
				  {{ form_errors(form.estado_civil) }}
                  {{ form_widget(form.estado_civil, { 'attr': {'class': 'form-control estado_civil','ng-model': 'estadoCivil', 'ng-change': 'datosConyuge()'} }) }}	
                </div>
        </div>
		
		<br/>


		<div ng-show="mostrarConyuge">
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Información del Conyuge:</legend>
				</fieldset>            
			</div>
		</div>

		<br/>
		
		<div class="row">
				<div class="col-md-4">
                  {{ form_label(form.tipo_documento_conyugue) }}
				  {{ form_errors(form.tipo_documento_conyugue) }}
                  {{ form_widget(form.tipo_documento_conyugue, { 'attr': {'class': 'form-control', 'ng-show':'mostrarConyuge'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.numero_documento_conyugue) }}
				  {{ form_errors(form.numero_documento_conyugue) }}
                  {{ form_widget(form.numero_documento_conyugue, { 'attr': {'class': 'form-control', 'placeholder': 'numero documento conyugue','ng-show':'mostrarConyuge'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.primer_apellido_conyugue) }}
				  {{ form_errors(form.primer_apellido_conyugue) }}
                  {{ form_widget(form.primer_apellido_conyugue, { 'attr': {'class': 'form-control', 'placeholder': 'Primer apellido del conyugue','ng-show':'mostrarConyuge'} }) }}
                </div>
		</div>
		
		<br/>
		
		<div class="row">
				<div class="col-md-4">
                  {{ form_label(form.segundo_apellido_conyugue) }}
				  {{ form_errors(form.segundo_apellido_conyugue) }}
                  {{ form_widget(form.segundo_apellido_conyugue, { 'attr': {'class': 'form-control', 'placeholder': 'segundo apellido conyugue','ng-show':'mostrarConyuge'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.primer_nombre_conyugue) }}
				  {{ form_errors(form.primer_nombre_conyugue) }}
                  {{ form_widget(form.primer_nombre_conyugue, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre conyugue','ng-show':'mostrarConyuge'} }) }}
                </div>
                <div class="col-md-4">
                  {{ form_label(form.segundo_nombre_conyugue) }}
				  {{ form_errors(form.segundo_nombre_conyugue) }}
                  {{ form_widget(form.segundo_nombre_conyugue, { 'attr': {'class': 'form-control', 'placeholder': 'segundo nombre conyugue','ng-show':'mostrarConyuge'} }) }}
                </div>
		</div>
		
		<br/>
		
		<div class="row">
				<div class="col-md-4" ng-show="mostrarConyuge">
                  {{ form_label(form.telefono_fijo_conyugue) }}
				  {{ form_errors(form.telefono_fijo_conyugue) }}
                  {{ form_widget(form.telefono_fijo_conyugue, { 'attr': {'class': 'form-control', 'placeholder': 'telefono fijo conyugue','ng-show':'mostrarConyuge'} }) }}
                </div>

                <div class="col-md-4">
                  {{ form_label(form.telefono_celular_conyugue) }}
				  {{ form_errors(form.telefono_celular_conyugue) }}
                  {{ form_widget(form.telefono_celular_conyugue, { 'attr': {'class': 'form-control', 'placeholder': 'telefono celular conyugue','ng-show':'mostrarConyuge'} }) }}
                </div>
                </div>
		</div>
		</div>

		
		<br/>
		<br/>
            <!--/form-->
          
      </div>
    </div>

  {{ form_end(form) }}
               
{% endblock %}

