{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Evaluación Fases{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Formacion de capital social asociativo y desarrollo empresarial</li>
      <li><a href="{{ path('grupoGestion') }}">Grupos</a></li>
      <li><a href="{{ path('seguimientoGrupo', {'idGrupo': grupo.id}) }}">Seguimiento</a></li>
      <li class="active">Evaluación de Fases</li>
    </ul>

{% endblock %}


{% block section %}
<div class="container">
    <h1> Evaluacion Fases</h1>
    <hr>
    <br />
    <br />
  </div>
     

  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
            {% if not clearFinalizado %}
              <button name="grupo[guardar]" id="grupo_guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('seguimientoGrupo', {'idGrupo': grupo.id}) }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
            {% else %}
              <a href="{{ path('seguimientoGrupo', {'idGrupo': grupo.id}) }}" class="btn btn-warning">Volver</a>
            {% endif %}
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section" ng-controller="CamposEvaluacionFaseCtrl">
      <div class="container">
        
		
			<div class="row">
				<div class="col-md-12">
					<fieldset>
						<legend>Evaluacion de Fases</legend>
					</fieldset>            
				</div>
			</div>	

			<br/>				
       
      </div>
    </div>

      <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 table-responsive">
            <table class="table table-bordered" ng-controller="gestionBeneficiariosCtrl">
                <thead>
                  <tr class="bg-primary">
                    <th class="text-center">Requisitos de asignación</th>
                    <th class="text-center">IEA <br />No Formal</th>
                    <th class="text-center">PI <br />No Formal</th>
                    <th class="text-center">PN <br />Formal</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th colspan="6" class="text-center bg-primary">Requisitos de la fase</th>
                </tr>

                <tr class="active text-muted" {% if clearFinalizado %}style="display:none;"{% endif %}>
                  <td>Calificación</td>
                  <td class="text-center">                    
                    {{ form_errors(form.calificacion_iea) }}
                    {{ form_widget(form.calificacion_iea) }}
                  </td>
                  <td class="text-center">
                    {{ form_errors(form.calificacion_pi) }}
                    {{ form_widget(form.calificacion_pi) }}
                  </input></td>
                  <td class="text-center">
                    {{ form_errors(form.calificacion_pn) }}
                    {{ form_widget(form.calificacion_pn) }}
                  </input></td>
                </tr>

                <tr class="active text-muted" {% if not clearFinalizado %}style="display:none;"{% endif %}>
                  <td>Calificación</td>
                  <td class="text-center">
                    {{ evaluacionFases.calificacionIea }}
                  </td>
                  <td class="text-center">
                    {{ evaluacionFases.calificacionPi }}
                  </input></td>
                  <td class="text-center">
                    {{ evaluacionFases.calificacionPn }}
                  </input></td>
                </tr>

                <tr class="active text-muted">
                    <td>
                    Formato de evaluación
                    </td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                </tr>

                <tr class="active text-muted">
                    <td>
                    Certificación aportes de contrapartida
                    </td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                </tr>

                <tr class="active text-muted">
                    <td>
                    Contrato de adhesión
                    </td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                </tr>

                <tr class="active text-muted">
                    <td>
                    Póliza de cumplimiento
                    </td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                    <td class="text-center"><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></td>
                </tr>

                <tr>
                    <th colspan="6" class="text-center bg-primary">Registrar Aptos</th>
                </tr>

                <tr class="active text-muted vertical-align" {% if clearFinalizado %}style="display:none;"{% endif %}>
                  <th>Fase(s) para las cuales el grupo es apto:</td>
                    
                  <th class="text-center">
                    IEA <br />No Formal <br />
                    {{ form_errors(form.apto_iea) }}
                    {{ form_widget(form.apto_iea) }}
                  </th>
                  <th class="text-center">
                    PI <br />No Formal <br />
                    {{ form_errors(form.apto_pi) }}
                    {{ form_widget(form.apto_pi) }}
                  </th>
                  <th class="text-center">
                    PN <br />Formal <br />
                    {{ form_errors(form.apto_pn) }}
                    {{ form_widget(form.apto_pn) }}
                  </th>
                </tr>
                <tr class="active text-muted vertical-align" {% if not clearFinalizado %}style="display:none;"{% endif %}>
                  <td><b>Fase apta: </b><br><br>
                    La fase para la cual el grupo es apto se marcará con un icono en color verde como "<img width="20px" src="{{ asset('public/images/visto-bueno-verde.png') }}">"
                  </td>
                  <th class="text-center">
                    IEA <br />No Formal <br />
                  {% if evaluacionFases.aptoIea %}
                    <img width="20px" src="{{ asset('public/images/visto-bueno-verde.png') }}">
                  {% else %}
                    <img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}">
                  {% endif %}
                  </th>
                  <th class="text-center">
                    PI <br />No Formal <br />
                  {% if evaluacionFases.aptoPi %}
                    <img width="20px" src="{{ asset('public/images/visto-bueno-verde.png') }}">
                  {% else %}
                    <img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}">
                  {% endif %}
                  </th>
                  <th class="text-center">
                    PN <br />Formal <br />
                  {% if evaluacionFases.aptoPn %}
                    <img width="20px" src="{{ asset('public/images/visto-bueno-verde.png') }}">
                  {% else %}
                    <img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}">
                  {% endif %}
                  </th>
                </tr>

                  
           </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  {{ form_end(form) }}
               
{% endblock %}

