{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Visita{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Parametrizacion</li>
      <li>Territorios de Aprendizaje</li>
      <li><a href="{{ path('rutaGestion') }}">Visita</a></li>
      
    </ul>

{% endblock %}


{% block section %}
<div class="container">
    <h1>Visitas</h1>
    <hr>
    <h3> Nueva Visita</h3>
    <br />
    <br />
  </div>
     

  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
              <button name="grupo[guardar]" id="grupo_guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('seguimientoGrupo' , {'idGrupo':idGrupo}) }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section">
      <div class="container">
        
		
			<div class="row">
				<div class="col-md-12">
					<fieldset>
						<legend>Datos básicos de la Visita</legend>
					</fieldset>            
				</div>
			</div>	

<div class="row">
	<div class="col-md-4">

          {{ form_label(form.fecha) }}
				  {{ form_errors(form.fecha) }}
          {{ form_widget(form.fecha, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
                
  <div class="col-md-4">
          {{ form_label(form.objetivo) }}
				  {{ form_errors(form.objetivo) }}
          {{ form_widget(form.objetivo, { 'attr': {'class': 'form-control', 'placeholder': 'Objetivo de la visita'} }) }}
  </div>
  <div class="col-md-4">
          {{ form_label(form.agenda) }}
          {{ form_errors(form.agenda) }}
          {{ form_widget(form.agenda, { 'attr': {'class': 'form-control', 'placeholder': 'Agenda de la visita'} }) }}
  </div>         
</div>
<br>

<div class="row">
  <div class="col-md-4">

          {{ form_label(form.lugar) }}
          {{ form_errors(form.lugar) }}
          {{ form_widget(form.lugar, { 'attr': {'class': 'form-control', 'placeholder': 'Lugar de la visita'} }) }}
  </div>
                
  <div class="col-md-4">
          {{ form_label(form.asistentes) }}
          {{ form_errors(form.asistentes) }}
          {{ form_widget(form.asistentes, { 'attr': {'class': 'form-control', 'placeholder': 'Numero asistentes de la visita'} }) }}
  </div>
           
</div>

</br>
</br>

<div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Comite de Compras</legend>
          </fieldset>            
        </div>
      </div>

<div class="row">
  <div class="col-md-4">                                  
          </br>
          {% if visita.comiteCompras == 1 %}        
              <center><img width="20px" src="{{ asset('public/images/visto-bueno-verde.png') }}"></center>
            {% else %}
              <center><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></center>
          {% endif %} 
          {{ form_widget(form.comite_compras, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre ', 'style':'visibility: hidden'} }) }}       
  </div>
  <div class="col-md-4">

          {{ form_label(form.funcionamiento_comite_compras) }}
          {{ form_errors(form.funcionamiento_comite_compras) }}
          {{ form_widget(form.funcionamiento_comite_compras, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
  <div class="col-md-4">

          {{ form_label(form.logros_compras) }}
          {{ form_errors(form.logros_compras) }}
          {{ form_widget(form.logros_compras, { 'attr': {'class': 'form-control', 'placeholder': 'Logros compras'} }) }}
  </div>
</div>

</br>
  
  <div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Comite Vamos Bien</legend>
          </fieldset>            
        </div>
      </div>
<div class="row">
  {% set estadoComiteVamosBien = "" %}            
  <div class="col-md-4">
          </br>
          {% if visita.comiteVamosBien == 1 %}        
              <center><img width="20px" src="{{ asset('public/images/visto-bueno-verde.png') }}"></center>
              {% set estadoComiteVamosBien = "enabled" %}
            {% else %}
              <center><img width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></center>
              {% set estadoComiteVamosBien = "'disabled'" %}
          {% endif %}                 
          {{ form_widget(form.comite_vamos_bien, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre ', 'style':'visibility: hidden'} }) }}  
  </div>  
  <div class="col-md-4">
          {{ form_label(form.funcionamiento_comite_vamos_bien) }}
          {{ form_errors(form.funcionamiento_comite_vamos_bien) }}
          {{ form_widget(form.funcionamiento_comite_vamos_bien, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre ', 'estadoComiteVamosBien':''} }) }}
  </div>  
  <div class="col-md-4">
          {{ form_label(form.logros_vamos_bien) }}
          {{ form_errors(form.logros_vamos_bien) }}
          {{ form_widget(form.logros_vamos_bien, { 'attr': {'class': 'form-control', 'placeholder': 'Logros comite vamos bien ', 'disabled': estadoComiteVamosBien} }) }}
  </div> 
</div>  

</br>    

<div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Contador</legend>
          </fieldset>            
        </div>
      </div>

<div class="row">
  {% set estadoContador = "" %} 
  <div class="col-md-4">
          </br>
          {% if visita.contador == 1 %}
            <center><img width="20px" src="{{ asset('public/images/visto-bueno-verde.png') }}"></center>
            {% set estadoContador = "enabled" %}
          {% else %}
            <center><img class="text-center" width="20px" src="{{ asset('public/images/visto-bueno-gris.png') }}"></center>
            {% set estadoContador = "disabled" %}
          {% endif %}
          {{ form_widget(form.contador, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre ', 'style':'visibility: hidden'} }) }}                  
  </div> 
  <div class="col-md-4">

          {{ form_label(form.desempeno_contador) }}
          {{ form_errors(form.desempeno_contador) }}
          {% if visita.contador == 1 %}
            {{ form_widget(form.desempeno_contador, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre territorio aprendizaje'} }) }}
          {% else %}
            {{ form_widget(form.desempeno_contador, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre territorio aprendizaje', 'disabled': 'disabled'} }) }}
          {% endif %}
          
  </div> 
  <div class="col-md-4">
          {{ form_label(form.observaciones_contador) }}
          {{ form_errors(form.observaciones_contador) }}
          {{ form_widget(form.observaciones_contador, { 'attr': {'class': 'form-control', 'placeholder': 'Observaciones contador', disabled: 'enabled'} }) }}
  </div>

</div>

</br>

<div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Presupuesto</legend>
          </fieldset>            
        </div>
      </div>

<div class="row" ng-controller="CampoCambioPresupuestoCtrl">
    <div class="col-md-4">

          {{ form_label(form.cambios_presupuesto_asignado) }}
          {{ form_errors(form.cambios_presupuesto_asignado) }}
          <center>
          <switch id="swCambiosPresupuestoAsignado" name="swCambiosPresupuestoAsignado" ng-model="swCambiosPresupuestoAsignado"  class="green" on="Si" off="No"></switch>
                  {{ form_widget(form.cambios_presupuesto_asignado, { 'attr': {'style':'visibility:hidden'} }) }}
          </center>          
  </div>
<div class="col-md-4">
          {{ form_label(form.observaciones_presupuesto_asignado) }}
          {{ form_errors(form.observaciones_presupuesto_asignado) }}
          {{ form_widget(form.observaciones_presupuesto_asignado, { 'attr': {'class': 'form-control', 'placeholder': 'Observaciones presupuesto asignado '} }) }}
  </div>  
    <div class="col-md-4">
          {{ form_label(form.cambios_razones_presupuesto_asignado) }}
          {{ form_errors(form.cambios_razones_presupuesto_asignado) }}
          {{ form_widget(form.cambios_razones_presupuesto_asignado, { 'attr': {'class': 'form-control', 'placeholder': 'Cambios presupuesto asignado'} }) }}
  </div>       
</div>
<br>
<div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Desempeños</legend>
          </fieldset>            
        </div>
      </div>
<div class="row">
  <div class="col-md-4">
          {{ form_label(form.desempeno_organizacional) }}
          {{ form_errors(form.desempeno_organizacional) }}
          {{ form_widget(form.desempeno_organizacional, { 'attr': {'class': 'form-control', 'placeholder': 'Desempeño organizacional'} }) }}
  </div>    
  <div class="col-md-4">

          {{ form_label(form.desempeno_productivo) }}
          {{ form_errors(form.desempeno_productivo) }}
          {{ form_widget(form.desempeno_productivo, { 'attr': {'class': 'form-control', 'placeholder': 'Desempeño productivo'} }) }}
  </div>  
   <div class="col-md-4">
          {{ form_label(form.desempeno_comercial) }}
          {{ form_errors(form.desempeno_comercial) }}
          {{ form_widget(form.desempeno_comercial, { 'attr': {'class': 'form-control', 'placeholder': 'Desempeño comercial'} }) }}
  </div>
</div>
 <br>
<div class="row">
  <div class="col-md-4">
          {{ form_label(form.desempeno_administrativo) }}
          {{ form_errors(form.desempeno_administrativo) }}
          {{ form_widget(form.desempeno_administrativo, { 'attr': {'class': 'form-control', 'placeholder': 'Desempeño administrativo'} }) }}
  </div> 
    <div class="col-md-4">

          {{ form_label(form.desempeno_financiero) }}
          {{ form_errors(form.desempeno_financiero) }}
          {{ form_widget(form.desempeno_financiero, { 'attr': {'class': 'form-control', 'placeholder': 'Desempeño financiero'} }) }}
  </div>   
</div>
<br>
<div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Cambio de Integrantes</legend>
          </fieldset>            
        </div>
      </div>


<div class="row" ng-controller="CampoCambioIntegranteCtrl">
             
  <div class="col-md-4">
          {{ form_label(form.cambios_integrantes_grupo) }}
          {{ form_errors(form.cambios_integrantes_grupo) }}
          <center>
          <switch id="swCambiosIntegrantesGrupo" name="swCambiosIntegrantesGrupo" ng-model="swCambiosIntegrantesGrupo"  class="green" on="Si" off="No"></switch>
                  {{ form_widget(form.cambios_integrantes_grupo, { 'attr': {'style':'visibility:hidden'} }) }}
          </center>          
  </div>
  <div class="col-md-4">
          {{ form_label(form.cambios_razones_integrantes_grupo) }}
          {{ form_errors(form.cambios_razones_integrantes_grupo) }}
          {{ form_widget(form.cambios_razones_integrantes_grupo, { 'attr': {'class': 'form-control', 'placeholder': 'Razones cambio integrantes '} }) }}
  </div>         
</div>
<br>
<div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Interventoria</legend>
          </fieldset>            
        </div>
      </div>


<div class="row" ng-controller="CampoInterventoriaCtrl">
             
 <div class="col-md-4">
          {{ form_label(form.interventoria) }}
          {{ form_errors(form.interventoria) }}
          <center>
          <switch id="swInterventoria" name="swInterventoria" ng-model="swInterventoria"  class="green" on="Si" off="No"></switch>
                  {{ form_widget(form.interventoria, { 'attr': {'style':'visibility:hidden'} }) }}
          </center>          
  </div>
   <div class="col-md-4">
          {{ form_label(form.razones_interventoria) }}
          {{ form_errors(form.razones_interventoria) }}
          {{ form_widget(form.razones_interventoria, { 'attr': {'class': 'form-control', 'placeholder': 'Razones interventoria'} }) }}
  </div>      
</div>
<div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Finalizacón de la Visita</legend>
          </fieldset>            
        </div>
      </div>

<div class="row">
  <div class="col-md-4">

          {{ form_label(form.observaciones) }}
          {{ form_errors(form.observaciones) }}
          {{ form_widget(form.observaciones, { 'attr': {'class': 'form-control', 'placeholder': 'Observaciones'} }) }}
  </div>
                
  <div class="col-md-4">
          {{ form_label(form.compromisos) }}
          {{ form_errors(form.compromisos) }}
          {{ form_widget(form.compromisos, { 'attr': {'class': 'form-control', 'placeholder': 'Compromisos '} }) }}
  </div>
</div>
<br>
    </div>

  {{ form_end(form) }}
               
{% endblock %}

