{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Rutas{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li class="active">Concrusos de Mejoramiento</li>
	   <li><a href="{{ path('rutaGestion') }}">Rutas</a></li>
      <li class="active">Organizaciones</li>
    </ul>

{% endblock %}

{% block section %}

 <div class="container">
    <h1>Gestión Rutas</h1>
    <hr>
    <h3>Asignación Organización</h3>
  </div>

  <br />
  <br />

    <div class="container">
    <div class="alert alert-[[estadoMensaje]] alert-dismissible" id="MensajeCtrl" ng-show="mostrarMensaje === true" role="alert">[[textoMensaje]]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    </div>

<div class="section">
      <div class="container"> 
        <div class="row">
            <div class="col-md-6">
              <div class="btn-group">
                <a href="{{ path('rutaGestion') }}" class="btn btn-warning">Volver</a>                             
              </div>
            </div>
        </div>
      </div>
  </div>

  <br /> 

	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 well">            
            <br>
            
            <hr>            
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                    <th class="text-center">{{ knp_pagination_sortable(pagination1, 'Id', 'a.id') }}</th>
                    <th></th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination1, 'Organizaciones', 'a.organizaciones') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination1, 'Acciones', 'a.acciones') }}</th>
                </tr>                
              </thead>
              <tbody>
                
         {% set consecutivo = 1 %}
        
          {% for organizacion in pagination1 %}
        
        <tr>
                  <td class="text-center">{{ organizacion.id }}</td>
                  <td>

                  </td>
                  <td>                                        
                    {{ organizacion.organizacion.nombreorganizacion }}
                    <br />
                    Linea Productiva: {{organizacion.organizacion.lineaproductiva}}
                    <br>
                    Tipo de Producto: {{organizacion.organizacion.tipoproducto}}
                    <br>
                    <br>
                  <td>
                    <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ organizacion.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    <br>                    
                    <a href="{{ path('rutaAsignarOrganizacion', {'idRuta': idRuta, 'idOrganizacion': organizacion.organizacion.id}) }}" title="Asignar" alt="Asignar"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                    <br>                    
                  </td>
                </tr>
        
            {% set consecutivo = consecutivo + 1 %}
                  {% else %}
          <tr>
                      <td colspan="7" class="info">No se encontraron registros.</td>
                  </tr>
                  
                  {% endfor %}
        
                
              </tbody>
            </table>
            <div class="navigation text-center">
              <nav>
                <ul class="pagination">
                  {{ knp_pagination_render(pagination1) }}
                </ul>
              </nav>
            </div>
          </div>

          <div class="col-md-6 col-md-offset-1 well">            
            <table class="table table-striped table-hover" ng-controller="gestionOrganizacionRutaCtrl">
              <thead>           
                <tr>
                  <th>#</th>
                  <th>
                    
                  </th>
                  <th>Organizaciones asignadas</th>
                  <th></th>
                  <th>Acciones</th>
                </tr>
        
              </thead>
              <tbody>
        {% set consecutivo = 1 %}
        
          {% for asignacionOrganizacionRuta in asignacionesOrganizacionRuta %}
                <tr id="filaIntegranteCLEAR{{ consecutivo }}">
                  <td>{{ consecutivo }}</td>
                  <td>
                    
                  </td>                  
                  <td>
                    {{ asignacionOrganizacionRuta.organizacion.nombreorganizacion }}
                    <br />
                    Linea Productiva: {{asignacionOrganizacionRuta.organizacion.lineaproductiva}}
                    <br>
                    Tipo de Producto: {{asignacionOrganizacionRuta.organizacion.tipoproducto}}
                    <br>
                  </td>
                  <td>
                    
                  </td>
          
                  <td>
                    <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ asignacionOrganizacionRuta.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> | 
                    <a class="ng-binding ng-isolate-scope" href="" mwl-confirm="" alt="Anular" title="Anular registro" message="¿Está seguro de anular este registro?" confirm-text="Si &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;" cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;" on-confirm="eliminarOrganizacionRuta('{{ path('rutaEliminarOrganizacion', {'idRuta': idRuta, 'idAsignacionOrganizacionRuta': asignacionOrganizacionRuta.id}) }}')" on-cancel="" confirm-button-type="danger" cancel-button-type="default" handle-focus="true"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>                                   
                  </td>
                </tr>
        
         {% set consecutivo = consecutivo + 1 %}
                  {% else %}
          <tr>
                      <td colspan="7" class="info">No se encontraron registros.</td>
                  </tr>
                  
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

   {% for organizacion in organizaciones %}
    <!-- Modal -->
    <div class="modal fade" id="myModal{{ organizacion.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ organizacion.organizacion.id }} | {{ organizacion.organizacion.nombreorganizacion }}</h4>
          </div>
          <div class="modal-body">
            <b>Nombre de la Organización:{{ organizacion.organizacion.nombreorganizacion }}</b>
            <br>
            <b>Linea Productiva: {{organizacion.organizacion.lineaproductiva}}</b>
            <br>
            <b>Tipo de Producto: Oriente {{organizacion.organizacion.tipoproducto}}</b>
            <br>
            
            <b>Dirección: {{organizacion.organizacion.direccion}}</b>
            <br>
        
            <br>
            <b>Barrio: {{organizacion.organizacion.descripcion}}</b>
            <br>
         
            <br>
            <b>Municipio: {{organizacion.organizacion.municipio}}</b>  
            <br>
            <b>Numero Documento Contacto: {{organizacion.organizacion.numerodocumentocontacto}}</b>
            <br>
            <b>Primer Apellido Contacto: {{organizacion.organizacion.primerapellidocontacto}}</b>
            <br>
            <b>Segundo Apellido Contacto: {{organizacion.organizacion.segundoapellidocontacto}}</b>
            <br>
            <b>Primer Nombre Contacto: {{organizacion.organizacion.primernombrecontacto}}</b>
            <br>
            <b>Segundo Nombre Contacto: {{organizacion.organizacion.segundonombrecontacto}}</b>
            <br>
            <b>Telefono Fijo Contacto: {{organizacion.organizacion.telefonofijocontacto}}</b>  
            <br>
            <b>Telefono celular Contacto: {{organizacion.organizacion.telefonocelularcontacto}}</b>
            <br>
            <b>Correo electronico Contacto: {{organizacion.organizacion.correoelectronicocontacto}}</b>
            <br>
            <b>Ruta: {{organizacion.organizacion.ruta}}</b>
            <br>
            <b>Pasantia: {{organizacion.organizacion.pasantia}}</b>
            <br>
            <b>Observaciones: {{organizacion.organizacion.observaciones}}</b> 


          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}


{% for asignacionOrganizacionRuta in asignacionesOrganizacionRuta %}
    <!-- Modal -->
    <div class="modal fade" id="myModal{{ asignacionOrganizacionRuta.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ asignacionOrganizacionRuta.organizacion.id }} | {{ asignacionOrganizacionRuta.organizacion.nombreorganizacion }}</h4>
          </div>
          <div class="modal-body">
            <b>Nombre de la Organización:{{ asignacionOrganizacionRuta.organizacion.nombreorganizacion }}</b>
            <br>
            <b>Linea Productiva: {{asignacionOrganizacionRuta.organizacion.lineaproductiva}}</b>
            <br>
            <b>Tipo de Producto: Oriente {{asignacionOrganizacionRuta.organizacion.tipoproducto}}</b>
            <br>
            
            <b>Dirección: {{asignacionOrganizacionRuta.organizacion.direccion}}</b>
            <br>
           
            <b>Barrio: {{asignacionOrganizacionRuta.organizacion.descripcion}}</b>
            <br>
            
            <br>
            <b>Municipio: {{asignacionOrganizacionRuta.organizacion.municipio}}</b>  
            <br>
            <b>Numero Documento Contacto: {{asignacionOrganizacionRuta.organizacion.numerodocumentocontacto}}</b>
            <br>
            <b>Primer Apellido Contacto: {{asignacionOrganizacionRuta.organizacion.primerapellidocontacto}}</b>
            <br>
            <b>Segundo Apellido Contacto: {{asignacionOrganizacionRuta.organizacion.segundoapellidocontacto}}</b>
            <br>
            <b>Primer Nombre Contacto: {{asignacionOrganizacionRuta.organizacion.primernombrecontacto}}</b>
            <br>
            <b>Segundo Nombre Contacto: {{asignacionOrganizacionRuta.organizacion.segundonombrecontacto}}</b>
            <br>
            <b>Telefono Fijo Contacto: {{asignacionOrganizacionRuta.organizacion.telefonofijocontacto}}</b>  
            <br>
            <b>Telefono celular Contacto: {{asignacionOrganizacionRuta.organizacion.telefonocelularcontacto}}</b>
            <br>
            <b>Correo electronico Contacto: {{asignacionOrganizacionRuta.organizacion.correoelectronicocontacto}}</b>
            <br>
            <b>Ruta: {{asignacionOrganizacionRuta.organizacion.ruta}}</b>
            <br>
            <b>Pasantia: {{asignacionOrganizacionRuta.organizacion.pasantia}}</b>
            <br>
            <b>Observaciones: {{asignacionOrganizacionRuta.organizacion.observaciones}}</b> 


          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

{% endblock %}

