{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Participantes Nuevo{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Financiera</li>
      
      <li><a href="{{ path('polizasGestion') }}">Participantes</a></li>
	  <li>Nuevo</li>
    </ul>

{% endblock %}


{% block section %}

     
  	<br>

    <hr>

    
  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
              <button name="grupo[Guardar]" id="grupo_Guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('concursoNuevo') }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!--form class="form-horizontal" role="form"-->
			<div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.relacion) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.relacion) }}
                  {{ form_widget(form.relacion, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.tipo_documento) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.tipo_documento) }}
                  {{ form_widget(form.tipo_documento, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.numero_documento) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.numero_documento) }}
                  {{ form_widget(form.numero_documento, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			    <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.primer_apellido) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.primer_apellido) }}
                  {{ form_widget(form.primer_apellido, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.segundo_apellido) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.segundo_apellido) }}
                  {{ form_widget(form.segundo_apellido, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.primer_nombre) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.primer_nombre) }}
                  {{ form_widget(form.primer_nombre, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div> 
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.segundo_nombre) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.segundo_nombre) }}
                  {{ form_widget(form.segundo_nombre, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.genero) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.genero) }}
                  {{ form_widget(form.genero, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.fecha_nacimiento) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.fecha_nacimiento) }}
                  {{ form_widget(form.fecha_nacimiento, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			    <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.edad_inscripcion) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.edad_inscripcion) }}
                  {{ form_widget(form.edad_inscripcion, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.pertenencia_etnica) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.pertenencia_etnica) }}
                  {{ form_widget(form.pertenencia_etnica, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  
			  
			  
			  
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.grupo_indigena) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.grupo_indigena) }}
                  {{ form_widget(form.grupo_indigena, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.desplazado) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.desplazado) }}
                  {{ form_widget(form.desplazado, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.discapacidad) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.discapacidad) }}
                  {{ form_widget(form.discapacidad, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			    <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.estado_civil) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.estado_civil) }}
                  {{ form_widget(form.estado_civil, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.rol_grupo_familiar) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.rol_grupo_familiar) }}
                  {{ form_widget(form.rol_grupo_familiar, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.hijos_menores_5) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.hijos_menores_5) }}
                  {{ form_widget(form.hijos_menores_5, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div> 
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.segundo_nombre) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.segundo_nombre) }}
                  {{ form_widget(form.segundo_nombre, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.sabe_leer) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.sabe_leer) }}
                  {{ form_widget(form.sabe_leer, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.sabe_escribir) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.sabe_escribir) }}
                  {{ form_widget(form.sabe_escribir, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			    <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.nivel_estudios) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.nivel_estudios) }}
                  {{ form_widget(form.nivel_estudios, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.ocupacion) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.ocupacion) }}
                  {{ form_widget(form.ocupacion, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
			  
			  <div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.tipo_vivienda) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.tipo_vivienda) }}
                  {{ form_widget(form.tipo_vivienda, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div><div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.telefono_fijo) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.telefono_fijo) }}
                  {{ form_widget(form.telefono_fijo, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div><div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.telefono_celular) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.telefono_celular) }}
                  {{ form_widget(form.telefono_celular, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div><div class="form-group">
                <div class="col-sm-3">
                  {{ form_label(form.correo_electronico) }}
                </div>
                <div class="col-sm-9">
                  {{ form_errors(form.correo_electronico) }}
                  {{ form_widget(form.correo_electronico, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
            <!--/form-->
          </div>
        </div>
      </div>
    </div>

  {{ form_end(form) }}
               
{% endblock %}

