{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Polizas editar{% endblock %}

{% block breadcrumb_ul %}

  <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Financiera</li>      
      <li><a href="{{ path('polizaGestion') }}">Gestión de Polizas</a></li>
    <li>Editar</li>
    </ul>

{% endblock %}


{% block section %}

<div class="container">
    <h1> Gestión de Polizas </h1>
    <hr>
    <h3> Editar Registro</h3>
    <br />
   
  </div>

     
  	<br>

    <hr>

    
  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
              <button name="grupo[Guardar]" id="grupo_Guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('polizaGestion') }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!--form class="form-horizontal" role="form"-->
			<div class="row">
        <div class="col-md-4">
                  {{ form_label(form.estado) }}
          {{ form_errors(form.estado) }}
                  {{ form_widget(form.estado, { 'attr': {'class': 'form-control'} }) }}
                </div> 
                <div class="col-md-4">
                  {{ form_label(form.consecutivo) }}
          {{ form_errors(form.consecutivo) }}
                  {{ form_widget(form.consecutivo, { 'attr': {'class': 'form-control'} }) }}
                </div> 
                <div class="col-md-4">
                  {{ form_label(form.cofinanciacion) }}
          {{ form_errors(form.cofinanciacion) }}
                  {{ form_widget(form.cofinanciacion, { 'attr': {'class': 'form-control'} }) }}
                </div>  
    </div>
			
             
            <!--/form-->
          </div>
        </div>
      </div>
    </div>

  {{ form_end(form) }}
               
{% endblock %}

