{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Diagnostico Organizacional{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Formacion de capital social asociativo y desarrollo empresarial</li>
      <li><a href="{{ path('concursoGestion') }}">Concursos</a></li>
      <li class="active">Nuevo</li>
    </ul>

{% endblock %}


{% block section %}
    
    <div class="container">
    <h1> Diagnostico Organizacional</h1>
    <hr>
    <h3> Nuevo Registro</h3>   
  </div>

  <br />  
 
 <br />

    <div class="section">
      <div class="container">

 <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Respuestas</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Resultados</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

             
      {% set resultadoproductiva = resultadoproductiva %}
      {% set resultadocomercial = resultadocomercial %}
      {% set resultadofinanciera = resultadofinanciera %}
      {% set resultadoadministrativa = resultadoadministrativa %}
      {% set resultadoorganizacional = resultadoorganizacional %}
      {% set resultadototal = resultadototal %}

  <div class="tab-content">
    <br>
    <div role="tabpanel" class="tab-pane active" id="home">








    <div class="row">
      <div class="col-md-9">
        <fieldset>
          <legend>ESTADO ACTUAL DEL AREA PRODUCTIVA DEL NEGOCIO</legend>
        </fieldset>            
      </div>
    </div>            
      
    <div class="row">
      <div class="col-md-12">

          <h2>¿Cómo es la forma en la que producimos ,transformamos o prestamos el servicio?.</h2>
          <label ng-show='{% if DiagnosticoOrganizacional.productivaA == 1 %} true {% else %} false {% endif %} '>
            Cada uno de los(as) de las personas que integran el grupo produce en forma distinta.
          </label>
          <label ng-show='{% if DiagnosticoOrganizacional.productivaA == 2 %} true {% else %} false {% endif %} '>
            Existen algunos(as) personas del grupo que están unificando los procesos de producción.
          </label>
          <label ng-show='{% if DiagnosticoOrganizacional.productivaA == 3 %} true {% else %} false {% endif %} '>
            Existen procesos de producción iguales para todos los socios.
          </label>      
      </div>                   
    </div>

        <br/>

      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            <h2>¿Cómo Cumplimos los requisitos de distintos clientes?.</h2>
          <label ng-show='{% if DiagnosticoOrganizacional.productivaB == 1 %} true {% else %} false {% endif %} '>
             No diferenciamos requisitos técnicos para nuestros clientes.
            </label>
          <label ng-show='{% if DiagnosticoOrganizacional.productivaB == 2 %} true {% else %} false {% endif %} '>
              Cumplimos con algunos requisitos técnicos para algunos clientes.
            </label>
          <label ng-show='{% if DiagnosticoOrganizacional.productivaB == 3 %} true {% else %} false {% endif %} '>
              Producimos teniendo en cuenta requisitos técnico de distintos clientes.
            </label>      
            <br />
          </div>                   
      </div>
<br />
      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            <h2>¿Cómo compramos los insumos?.</h2>
          <label ng-show='{% if DiagnosticoOrganizacional.productivaC == 1 %} true {% else %} false {% endif %} '>
             Cada uno compra en forma individual los insumos que requiere.
            </label>
          <label ng-show='{% if DiagnosticoOrganizacional.productivaC == 2 %} true {% else %} false {% endif %} '>
             Hacemos compras de algunos insumos en conjunto'
            </label>
          <label ng-show='{% if DiagnosticoOrganizacional.productivaC == 3 %} true {% else %} false {% endif %} '>
              Hacemos la totalidad de las compras de insumos de acuerdo con las necesidades de todos
            </label>      
            <br />
          </div>                   
      </div>

<br/>
          <div class="row">
          
          <div class="col-md-12">
            <h2>¿Tenemos los registros y aplicamos las normas sanitarias que exigen el mercado?.</h2>
           <label ng-show='{% if DiagnosticoOrganizacional.productivaD == 1 %} true {% else %} false {% endif %} '>
            El mercado que tenemos no nos exige registros ni normas sanitarias.
            </label>           
            <label ng-show='{% if DiagnosticoOrganizacional.productivaD == 2 %} true {% else %} false {% endif %} '> 
            Estamos iniciando el registro de algunas normas sanitarias.
            </label>            
             <label ng-show='{% if DiagnosticoOrganizacional.productivaD == 3 %} true {% else %} false {% endif %} '>
            Cumplimos con el registro y normas sanitarias que nos exige el mercado.
            </label>      
            
          </div>                   
      </div>

<br/>
         <div class="row">     
          <div class="col-md-12">
            <h2>¿Que nivel de calidad tenemos en nuestros productos en el mercado que atentemos?.</h2>
           <label ng-show='{% if DiagnosticoOrganizacional.productivaE == 1 %} true {% else %} false {% endif %} '>
            No tenemos que cumplir requisitos de calidad para el mercado que atendemos.
            </label>          
           <label ng-show='{% if DiagnosticoOrganizacional.productivaE == 2 %} true {% else %} false {% endif %} '>
            No cumplimos con algunos requisitos de calidad del mercado que atendemos.
            </label>            
            <label ng-show='{% if DiagnosticoOrganizacional.productivaE == 3 %} true {% else %} false {% endif %} '>
            Cumplimos con los requisitos de calidad del mercado especializado al que hemos logrado llegar.
            </label>      
          </div>  
        </div> 

<br/>
      <div class="row">          
          <div class="col-md-12">
            <h2>¿Hacemos control de calidad del producto o servicio.?</h2>
          <label ng-show='{% if DiagnosticoOrganizacional.productivaF == 1 %} true {% else %} false {% endif %} '>
            No controlamos la calidad del producto o servicio.
            </label>          
          <label ng-show='{% if DiagnosticoOrganizacional.productivaF == 2 %} true {% else %} false {% endif %} '>             
            Tenemos algunos procesos de control de calidad del producto o servicio.     
              </label>         
          <label ng-show='{% if DiagnosticoOrganizacional.productivaF == 3 %} true {% else %} false {% endif %} '>           
            Tenemos control de calidad y hacemos seguimiento a la calidad de los productos.
            </label>                  
          </div>                   
      </div>  

 <div class="row">
        <div class="col-md-9">
            <fieldset>
              <legend>ESTADO ACTUAL DEL ÁREA DEL MERCADODEL NEGOCIO.</legend>
            </fieldset>            
        </div>
  </div>

<div class="row">       
  <div class="col-md-12">
    
            <h2>¿Cómo fijamos el precio de venta de los productos y/o servicios?.</h2>  

            <label ng-show='{% if DiagnosticoOrganizacional.comercialA == 1 %} true {% else %} false {% endif %} '>           
            No fijamos el precio de venta.
            </label>

            <label ng-show='{% if DiagnosticoOrganizacional.comercialA == 2 %} true {% else %} false {% endif %} '>           
              Con algunos clientes podemos negociar el precio y algunas condiciones comerciales.
            </label> 

            <label ng-show='{% if DiagnosticoOrganizacional.comercialA == 3 %} true {% else %} false {% endif %} '>           
              Podemos fijar el precio directamente con los clientes.
            </label>      
            
  </div>                   
</div>

<br/>
<div class="row">
          
    <div class="col-md-12">

            <h2>¿En que forma vendemos?.</h2> 

             <label ng-show='{% if DiagnosticoOrganizacional.comercialB == 1 %} true {% else %} false {% endif %} '> 
             Cada Productor vende su producto en forma individual.
            </label> 

             <label ng-show='{% if DiagnosticoOrganizacional.comercialB == 2 %} true {% else %} false {% endif %} '>            
             Tenemos algunos grandes clientes y hacemos algunas grandes ventas en conjunto.
            </label>  

             <label ng-show='{% if DiagnosticoOrganizacional.comercialB == 3 %} true {% else %} false {% endif %} '> 
            Trabajamos conjuntamente para atender negocios en los que vendamos en conjunto.
            </label>      
    
    </div>                   
</div>
<br/>

<div class="row">
          
    <div class="col-md-12">
           
            <h2>¿Como conseguimos los clientes?.</h2>
            
            <label ng-show='{% if DiagnosticoOrganizacional.comercialC == 1 %} true {% else %} false {% endif %} '>  
            Los clientes nos buscan y compran los productos.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.comercialC == 2 %} true {% else %} false {% endif %} '>  
            Identificamos los clientes para disminuir la intermediación.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.comercialC == 3 %} true {% else %} false {% endif %} '>   
            Conocemos el mercado y buscamos clientes constantemente.
            </label>      
          
    </div>                   
</div>

<br/>
      
<div class="row">
          
  <div class="col-md-12">

            
            <h2>¿Hemos desarrollado nuevos productos?.</h2>
         
            <label ng-show='{% if DiagnosticoOrganizacional.comercialD == 1 %} true {% else %} false {% endif %} '>            
            El mercado no nos exige el desarrollo de nuevos productos.
            </label>
            
             <label ng-show='{% if DiagnosticoOrganizacional.comercialD == 2 %} true {% else %} false {% endif %} '>              
            Hemos visto la oportunidad de desarrollar nuevos productos, pero no tenemos la tecnologia necesaria.
            </label>
          
            <label ng-show='{% if DiagnosticoOrganizacional.comercialD == 3 %} true {% else %} false {% endif %} '>           
              Hemos desarrollado nuevos productos solicitados por los clientes.
            </label>      
            
  </div>                   
</div>  

<br/>
             
<div class="row">
         
          <div class="col-md-12">

           
            <h2>¿Cómo damos a conocer nuestros productos a los clientes?.</h2>
           
            <label ng-show='{% if DiagnosticoOrganizacional.comercialE == 1 %} true {% else %} false {% endif %} '> 
            Contamos a las personas conocidas sobre el producto que tenemos.
            </label>
          
            <label ng-show='{% if DiagnosticoOrganizacional.comercialE == 2 %} true {% else %} false {% endif %} '> 
            Tenemos catálogos de productos, pero falta desarrollar más.
            </label>
          
            <label ng-show='{% if DiagnosticoOrganizacional.comercialE == 3 %} true {% else %} false {% endif %} '> 
            Hacemos promoción de los productos por diferentes medios (publicidad, ferias entre otros).
            </label>      
           
          </div>                   
</div>


<div class="row">
      <div class="col-md-9">
            <fieldset>
              <legend>ESTADO ACTUAL DEL ÁREA FINANCIERA DEL NEGOCIO.</legend>
            </fieldset>            
      </div>
</div>  

<div class="row">
        
      <div class="col-md-12">

           
            <h2>¿Cómo determinamos la utilidad de nuestros productos ?.</h2>
            
            <label ng-show='{% if DiagnosticoOrganizacional.financieraA == 1 %} true {% else %} false {% endif %} '> 
            No tenemos en cuenta los costos para establecer la utilidad.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.financieraA == 2 %} true {% else %} false {% endif %} '>   
            Se tienen en cuenta costos de producción y administrativos. para conocer la ganancia neta.
            </label>
            
            <label ng-show='{% if DiagnosticoOrganizacional.financieraA == 3 %} true {% else %} false {% endif %} '>   
            Se conoce la totalidad de los costos internos y externos para determinar la ganancia neta.
            </label>      
           
      </div>                   
</div>
<br/>

<div class="row">
          
    <div class="col-md-12">

           
            <h2>¿Contamos con algun mecanismo de capitalización fuera de los bancos u otras instituciones bancarias ?.</h2>
          
            <label ng-show='{% if DiagnosticoOrganizacional.financieraB == 1 %} true {% else %} false {% endif %} '>  
            No contamos con ningun mecanismo de financiacion interna.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.financieraB == 2 %} true {% else %} false {% endif %} '>               
            Si contamos con un fondo de ahorro y credito pero actualmente no funciona.
            </label>
            
            <label ng-show='{% if DiagnosticoOrganizacional.financieraB == 3 %} true {% else %} false {% endif %} '>            
            Si contamos con un fondo de ahorro y credito y actualmente funciona.
            </label>      
           
    </div>                   
</div>
<br/>

<div class="row">
          <!--form class="form-horizontal" role="form"-->
    <div class="col-md-12">

           
            <h2>¿Como conseguimos recursos para el grupo?.</h2>
            
             <label ng-show='{% if DiagnosticoOrganizacional.financieraC == 1 %} true {% else %} false {% endif %} '>           
             No gestionamos para conseguir recursos.
            </label>
          
             <label ng-show='{% if DiagnosticoOrganizacional.financieraC == 2 %} true {% else %} false {% endif %} '>             
            En ocasiones hemos conseguido recursos de forma grupal.
            </label>
            
             <label ng-show='{% if DiagnosticoOrganizacional.financieraC == 3 %} true {% else %} false {% endif %} '>             
            Presentamos proyectos y gestionamos de forma grupal para conseguir recursos.
            </label>      
           
    </div>                   
</div> 

<br/>
          
<div class="row">
         
  <div class="col-md-12">

            
            <h2>¿Cómo planificamos el uso del dinero en nuestro negocio?.</h2>
          
            <label ng-show='{% if DiagnosticoOrganizacional.financieraD == 1 %} true {% else %} false {% endif %} '>         
            No planificamos el uso del dinero,gastamos en lo urgente.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.financieraD == 2 %} true {% else %} false {% endif %} '> 
            Planificamos algunas veces comprando lo que se decide que es prioritario.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.financieraD == 3 %} true {% else %} false {% endif %} '>              
              Planificamos el uso del dinero de acuerdo a lo que dicen los socios.
            </label>      
       
  </div>                   
</div>   
<br/>
             
<div class="row">
         
  <div class="col-md-12">

           
            <h2>¿Cómo llevamos la información contable de la organización?.</h2>
          
             <label ng-show='{% if DiagnosticoOrganizacional.financieraE == 1 %} true {% else %} false {% endif %} '>
            No llevamos la contabilidad.
            </label>
           
             <label ng-show='{% if DiagnosticoOrganizacional.financieraE == 2 %} true {% else %} false {% endif %} '>              
            Contamos con un libro de ingresos y egresos soportando todos los gastos.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.financieraE == 3 %} true {% else %} false {% endif %} '>            
            Tenemos un contador que lleva la contabilidad del grupo.
            </label>      
            
  </div>                   
</div> 

<br/>
         
<div class="row">
        
  <div class="col-md-12">

           
            <h2>¿Contamos con un plan de trabajo a mediano plazo ?.</h2>
            
            <label ng-show='{% if DiagnosticoOrganizacional.financieraF == 1 %} true {% else %} false {% endif %} '>              
            No contamos con un plan de trabajo.
            </label>
            
           <label ng-show='{% if DiagnosticoOrganizacional.financieraF == 2 %} true {% else %} false {% endif %} '>             
            Se tienen planeadas algunas actividades del negocio.
            </label>
            
            <label ng-show='{% if DiagnosticoOrganizacional.financieraF == 3 %} true {% else %} false {% endif %} '>              
            Contamos con un documento escrito del plan de trabajo de nuestro grupo.
            </label>      
            
  </div>                   
</div>

<div class="row">
        <div class="col-md-9">
            <fieldset>
              <legend>ESTADO ACTUAL DEL ÁREA ADMINISTRATIVA DEL NEGOCIO.</legend>
            </fieldset>            
        </div>
</div>   

<div class="row">
          
    <div class="col-md-12">

            
            <h2>¿Cómo tenemos organizados los papeles y documentos del grupo?.</h2>
            
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaA == 1 %} true {% else %} false {% endif %} '>              
            No tenemos un archivo con los documentos del negocio.
            </label>
          
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaA == 2 %} true {% else %} false {% endif %} '>             
            Tenemos los papeles y documentos del grupo, pero en desorden.
            </label>
          
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaA == 3 %} true {% else %} false {% endif %} '>              
             Tenemos ordenados y archivados la totalidad de los documentos del grupo.
            </label>      
            
    </div>                   
</div>
<br/>


<div class="row">
         
      <div class="col-md-12">

            
            <h2>¿Cómo realizamos las labores administrativas en nuestro grupo?.</h2>
            
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaB == 1 %} true {% else %} false {% endif %} '>               
           No tenemos personal administrativo.
            </label>
            
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaB == 2 %} true {% else %} false {% endif %} '>           
            Las tareas se reparten entre el lider y los integrantes del grupo.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaB == 3 %} true {% else %} false {% endif %} '>             
             Se cuenta con personal administrativo que paga el grupo.
            </label>      
            
      </div>                   
</div>
 <br/>
      

<div class="row">
        
  <div class="col-md-12">

          
            <h2>¿Contamos con manuales administrativos y reglamentos de trabajo?.</h2>
            
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaC == 1 %} true {% else %} false {% endif %} '>            
             No contamos con manuales administrativos y/o reglamentos de trabajo.
            </label>
            
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaC == 2 %} true {% else %} false {% endif %} '>             
            Estan en proceso algunos reglamentos basicos de trabajo.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaC == 3 %} true {% else %} false {% endif %} '>             
           Tenemos los reglamentos y manuales de trabajo que necesitamos.
            </label>      
           
  </div>                   
</div>  
<br/>
            
<div class="row">
          
  <div class="col-md-12">

           
            <h2>¿Vendemos con o sin factura?.</h2>
        
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaD == 1 %} true {% else %} false {% endif %} '>              
            Generalmente vendemos sin factura.
            </label>
         
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaD == 2 %} true {% else %} false {% endif %} '>               
            Vendemos con factura a los clientes que lo exigen.
            </label>
        
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaD == 3 %} true {% else %} false {% endif %} '>               
            Vendemos la totalidad de lo vendido con factura.
            </label>      
           
  </div>                  
</div>  
<br/>

<div class="row">
          
  <div class="col-md-12">

           
            <h2>¿Cómo nos repartimos las labores al interior de la institución?.</h2>
           
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaE == 1 %} true {% else %} false {% endif %} '>
           No hay tareas asignadas ni plan de trabajo.
            </label>
            
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaE == 2 %} true {% else %} false {% endif %} '>              
           Existen algunos comites de trabajo.
            </label>
            
            <label ng-show='{% if DiagnosticoOrganizacional.administrativaE == 3 %} true {% else %} false {% endif %} '>              
           Existen funciones definidas, hay una clara division del trabajo.
            </label>      
            
  </div>                   
</div> 
<br/>

<div class="row">
    <div class="col-md-9">
            <fieldset>
              <legend>ESTADO ACTUAL DEL ÁREA ORGANIZACIONAL Y SOCIAL DEL NEGOCIO.</legend>
            </fieldset>            
    </div>
</div>  

<div class="row">
          
    <div class="col-md-12">

           
            <h2>¿Con que frecuencia nos reunimos para analizar temas de nuestro negocio?.</h2>
            
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalA == 1 %} true {% else %} false {% endif %} '>
            Nos reunimos muy ocasionalmente.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalA == 2 %} true {% else %} false {% endif %} '>
            Se cita a asamblea normal o extraordinaria cuando es necesario, solo cuando existe.
            </label>
         
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalA == 3 %} true {% else %} false {% endif %} '>
            Los socios se reunen constantemente o minimo cuando lo dictan los estatutos.
            </label>      
           
    </div>                   
</div>
<br/>

<div class="row">
          
    <div class="col-md-12">

            
            <h2>¿Trabajamos en proyectos que mejoren la condición de los asociados?.</h2>
            
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalB == 1 %} true {% else %} false {% endif %} '>              
            Todavia no hemos hecho proyectos que beneficien a la mayoria.
            </label>
            
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalB == 2 %} true {% else %} false {% endif %} '>             
            Tenemos algunos proyectos que han mejorado la situación de los asociados.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalB == 3 %} true {% else %} false {% endif %} '>             
            Tenemos proyectos que estan beneficiando la calidad de vida de los asociados.
            </label>      
           
    </div>                   
</div>
<br/>
      
<div class="row">

    <div class="col-md-12">

          
            <h2>¿Comó participamos en el grupo?.</h2>
           
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalC == 1 %} true {% else %} false {% endif %} '>             
             Se cuentan con pocas actividades colectivas.
            </label>
    
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalC == 2 %} true {% else %} false {% endif %} '>  
            Tenemos participación de los lideres de la asociación y algunos socios.
            </label>
      
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalC == 3 %} true {% else %} false {% endif %} '>             
            La mayoria de los miembros del grupo participan en diferentes actividades.
            </label>      
        
    </div>                   
</div>  
<br/>
             

 <div class="row">
          
    <div class="col-md-12">
          
            <h2>¿Comó observamos el progreso de nuestro grupo?.</h2>
           
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalD == 1 %} true {% else %} false {% endif %} '>               
            No hacemos seguimiento al desarrollo de las actividades de nuestro grupo.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalD == 2 %} true {% else %} false {% endif %} '>             
            Programamos tareas pero no les hacemos seguimiento.
            </label>
           
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalD == 3 %} true {% else %} false {% endif %} '>           
              Normalmente llevamos actas de seguimiento para saber como va el proceso del grupo.
            </label>      
          
    </div>                   
</div>  
<br/>
             

<div class="row">
          
    <div class="col-md-12">

           
            <h2>¿Cómo elaboramos y presentamos los proyectos ante las entidades?.</h2>
            
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalE == 1 %} true {% else %} false {% endif %} '>              
            No hemos elaborado o presentado nunca un proyecto.
            </label>
            
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalE == 2 %} true {% else %} false {% endif %} '>               
           En algunos proyectos nos ayudan personas externas.
            </label>
          
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalE == 3 %} true {% else %} false {% endif %} '>              
          Somos independientes al formular proyectos.
            </label>      
           
    </div>                   
</div> 
<br/>


<div class="row">
         
    <div class="col-md-12">

           
            <h2>¿Los miembros del grupo han tenido la oportunidad de capacitarse?.</h2>
            
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalF == 1 %} true {% else %} false {% endif %} '>             
            Nuestro proceso asociativo es reciente y faltan programas de capacitación para los asociados.
            </label>
          
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalF == 2 %} true {% else %} false {% endif %} '>             
            Hemos capacitado a los socios en algunas areas.
            </label>
            
            <label ng-show='{% if DiagnosticoOrganizacional.organizacionalF == 3 %} true {% else %} false {% endif %} '>             
            Hemos gestionado con entidades externas programas de capacitación.
            </label>      
         
    </div>                   
</div> 


</div>
    <div role="tabpanel" class="tab-pane" id="profile">

      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-4">
          <h2>Resultado Sección Productiva</h2>    
          {{resultadoproductiva}}   
          
          </div>  
          <div class="col-md-4">
          <h2>Resultado Sección Comercial</h2>  
          {{resultadocomercial}}     
         
          </div> 
          <div class="col-md-4">
          <h2>Resultado Sección Financiera</h2>    
          {{resultadofinanciera}}   
          
          </div>
       </div> 
<br>
       <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-4">
          <h2>Resultado Sección Administrativa</h2>    
          {{resultadoadministrativa}}   
          
          </div>  
          <div class="col-md-4">
          <h2>Resultado Sección Organizacional</h2> 
          {{resultadoorganizacional}}      
          
          </div> 
          <div class="col-md-4">
          <h2>Resultado Total</h2>
          {{resultadototal}}       
         
          </div>
       </div> 
<br>

    </div>

    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>

 

               
{% endblock %}

