{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Diagnostico Organizacional{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Formacion de capital social asociativo y desarrollo empresarial</li>
      <li><a href="{{ path('gruposGestion') }}">Grupos</a></li>
      <li><a href="{{ path('seguimientoGrupo', {'idGrupo': grupo.id}) }}">Seguimiento</a></li>
      <li><a href="{{ path('diagnosticoVisualizar', {'idGrupo': grupo.id}) }}">Diagnóstico Organizacional</a></li>
      <li class="active">Nuevo</li>
    </ul>

{% endblock %}


{% block section %}
    
    <div class="container">
    <h1> Diagnostico Organizacional</h1>
    <hr>
    <h3> Nuevo Formulario</h3>   
  </div>

  <br />
  <br />


    

    
  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
              <button name="concurso[Guardar]" id="grupo_Guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('seguimientoGrupo', {'idGrupo': grupo.id}) }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        
 <br />

    <div class="section" ng-controller="DiagnosticoOrganizacionCtrl">
      <div class="container">
        <div class="row">
            <div class="col-md-10">
            <fieldset>
              <legend>Fechas</legend>
            </fieldset>            
        </div>
      </div> 
        <div class="row">
      <div class="col-md-9">
                  {{ form_label(form.fecha_visita) }}
                  {{ form_errors(form.fecha_visita) }}
                  {{ form_widget(form.fecha_visita, { 'attr': {'class': 'form-control'} }) }}
          </div>   
          </div> 
   <br/>

        <div class="row">
						<div class="col-md-9">
						<fieldset>
							<legend>ESTADO ACTUAL DEL AREA PRODUCTIVA DEL NEGOCIO</legend>
						</fieldset>            
				</div>
      </div>      			
			
			<div class="row">
			    <!--form class="form-horizontal" role="form"-->
			    <div class="col-md-12">

            {{ form_errors(form.productivaA) }}
            <h2>* {{ form_widget(form.productivaA, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Cómo es la forma en la que producimos ,transformamos o prestamos el servicio?.</h2>
            <br />
            <label>
              <input name="productivaA" id="productivaA1" ng-click="seleccionarProductivaA(1)" value="1" type="radio"> 
              Cada uno de los(as) de las personas que integran el grupo produce en forma distinta.
            </label>
            <br />
            <label>
              <input name="productivaA" id="productivaA2" ng-click="seleccionarProductivaA(2)" value="2" type="radio"> 
              Existen algunos(as) personas del grupo que están unificando los procesos de producción.
            </label>
            <br />
            <label>
              <input name="productivaA" id="productivaA3" ng-click="seleccionarProductivaA(3)" value="3" type="radio"> 
              Existen procesos de producción iguales para todos los socios.
            </label>      
            <br />
          </div>		 	             
			</div>
        <br/>

      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.productivaB) }}
            <h2>* {{ form_widget(form.productivaB, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Cómo Cumplimos los requisitos de distintos clientes?.</h2>
            <br />
            <label>
              <input name="productivaB" id="productivaB1" ng-click="seleccionarProductivaB(1)" value="1" type="radio"> 
             No diferenciamos requisitos técnicos para nuestros clientes.
            </label>
            <br />
            <label>
              <input name="productivaB" id="productivaB2" ng-click="seleccionarProductivaB(2)" value="2" type="radio"> 
              Cumplimos con algunos requisitos técnicos para algunos clientes.
            </label>
            <br />
            <label>
              <input name="productivaB" id="productivaB3" ng-click="seleccionarProductivaB(3)" value="3" type="radio"> 
              Producimos teniendo en cuenta requisitos técnico de distintos clientes.
            </label>      
            <br />
          </div>                   
      </div>
        <br/>
      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.productivaC) }}
            <h2>* {{ form_widget(form.productivaC, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Cómo compramos los insumos?.</h2>
            <br />
            <label>
              <input name="productivaC" id="productivaC1" ng-click="seleccionarProductivaC(1)" value="1" type="radio"> 
             Cada uno compra en forma individual los insumos que requiere.
            </label>
            <br />
            <label>
              <input name="productivaC" id="productivaC2" ng-click="seleccionarProductivaC(2)" value="2" type="radio"> 
             Hacemos compras de algunos insumos en conjunto'
            </label>
            <br />
            <label>
              <input name="productivaC" id="productivaC3" ng-click="seleccionarProductivaC(3)" value="3" type="radio"> 
              Hacemos la totalidad de las compras de insumos de acuerdo con las necesidades de todos
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.productivaD) }}
            <h2>* {{ form_widget(form.productivaD, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Tenemos los registros y aplicamos las normas sanitarias que exigen el mercado?.</h2>
            <br />
            <label>
              <input name="productivaD" id="productivaD1" ng-click="seleccionarProductivaD(1)" value="1" type="radio"> 
            El mercado que tenemos no nos exige registros ni normas sanitarias.
            </label>
            <br />
            <label>
              <input name="productivaD" id="productivaD2" ng-click="seleccionarProductivaD(2)" value="2" type="radio"> 
            Estamos iniciando el registro de algunas normas sanitarias.
            </label>
            <br />
            <label>
              <input name="productivaD" id="productivaD3" ng-click="seleccionarProductivaD(3)" value="3" type="radio"> 
              Cumplimos con el registro y normas sanitarias que nos exige el mercado.
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.productivaE) }}
            <h2>* {{ form_widget(form.productivaE, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Que nivel de calidad tenemos en nuestros productos en el mercado que atentemos?.</h2>
            <br />
            <label>
              <input name="productivaE" id="productivaE1" ng-click="seleccionarProductivaE(1)" value="1" type="radio"> 
            No tenemos que cumplir requisitos de calidad para el mercado que atendemos.
            </label>
            <br />
            <label>
              <input name="productivaE" id="productivaE2" ng-click="seleccionarProductivaE(2)" value="2" type="radio"> 
            No cumplimos con algunos requisitos de calidad del mercado que atendemos.
            </label>
            <br />
            <label>
              <input name="productivaE" id="productivaE3" ng-click="seleccionarProductivaE(3)" value="3" type="radio"> 
            Cumplimos con los requisitos de calidad del mercado especializado al que hemos logrado llegar.
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.productivaF) }}
            <h2>* {{ form_widget(form.productivaF, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }}¿Hacemos control de calidad del producto o servicio.?</h2>
            <br />
            <label>
              <input name="productivaC" id="productivaF1" ng-click="seleccionarProductivaF(1)" value="1" type="radio"> 
            No controlamos la calidad del producto o servicio.
            </label>
            <br />
            <label>
              <input name="productivaC" id="productivaF2" ng-click="seleccionarProductivaF(2)" value="2" type="radio"> 
            Tenemos algunos procesos de control de calidad del producto o servicio.
            <br />
            <label>
              <input name="productivaC" id="productivaF3" ng-click="seleccionarProductivaF(3)" value="3" type="radio"> 
            Tenemos control de calidad y hacemos seguimiento a la calidad de los productos.
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>



 <div class="row">
            <div class="col-md-9">
            <fieldset>
              <legend>ESTADO ACTUAL DEL ÁREA DEL MERCADODEL NEGOCIO.</legend>
            </fieldset>            
        </div>
      </div>


      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.comercialA) }}
            <h2>* {{ form_widget(form.comercialA, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Cómo fijamos el precio de venta de los productos y/o servicios?.</h2>
            <br />
            <label>
              <input name="comercialA" id="comercialA1" ng-click="seleccionarComercialA(1)" value="1" type="radio"> 
             No fijamos el precio de venta.
            </label>
            <br />
            <label>
              <input name="comercialA" id="comercialA2" ng-click="seleccionarComercialA(2)" value="2" type="radio"> 
              Con algunos clientes podemos negociar el precio y algunas condiciones comerciales.
            </label>
            <br />
            <label>
              <input name="comercialA" id="comercialA3" ng-click="seleccionarComercialA(3)" value="3" type="radio"> 
              Podemos fijar el precio directamente con los clientes.
            </label>      
            <br />
          </div>                   
      </div>
        <br/>

      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.comercialB) }}
            <h2>* {{ form_widget(form.comercialB, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿En que forma vendemos?.</h2>
            <br />
            <label>
              <input name="comercialB" id="comercialB1" ng-click="seleccionarComercialB(1)" value="1" type="radio"> 
             Cada Productor vende su producto en forma individual.
            </label>
            <br />
            <label>
              <input name="comercialB" id="comercialB2" ng-click="seleccionarComercialB(2)" value="2" type="radio"> 
             Tenemos algunos grandes clientes y hacemos algunas grandes ventas en conjunto.
            </label>
            <br />
            <label>
              <input name="comercialB" id="comercialB3" ng-click="seleccionarComercialB(3)" value="3" type="radio"> 
              Trabajamos conjuntamente para atender negocios en los que vendamos en conjunto.
            </label>      
            <br />
          </div>                   
      </div>
        <br/>
      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.comercialC) }}
            <h2>* {{ form_widget(form.comercialC, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Como conseguimos los clientes?.</h2>
            <br />
            <label>
              <input name="comercialC" id="comercialC1" ng-click="seleccionarComercialC(1)" value="1" type="radio"> 
             Los clientes nos buscan y compran los productos.
            </label>
            <br />
            <label>
              <input name="comercialC" id="comercialC2" ng-click="seleccionarComercialC(2)" value="2" type="radio"> 
             Identificamos los clientes para disminuir la intermediación.
            </label>
            <br />
            <label>
              <input name="comercialC" id="comercialC3" ng-click="seleccionarComercialC(3)" value="3" type="radio"> 
              Conocemos el mercado y buscamos clientes constantemente.
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.comercialD) }}
            <h2>* {{ form_widget(form.comercialD, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Hemos desarrollado nuevos productos?.</h2>
            <br />
            <label>
              <input name="comercialD" id="comercialD1" ng-click="seleccionarComercialD(1)" value="1" type="radio"> 
            El mercado no nos exige el desarrollo de nuevos productos.
            </label>
            <br />
            <label>
              <input name="comercialD" id="comercialD2" ng-click="seleccionarComercialD(2)" value="2" type="radio"> 
            Hemos visto la oportunidad de desarrollar nuevos productos, pero no tenemos la tecnologia necesaria.
            </label>
            <br />
            <label>
              <input name="comercialD" id="comercialD3" ng-click="seleccionarComercialD(3)" value="3" type="radio"> 
              Hemos desarrollado nuevos productos solicitados por los clientes.
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.comercialE) }}
            <h2>* {{ form_widget(form.comercialE, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Cómo damos a conocer nuestros productos a los clientes?.</h2>
            <br />
            <label>
              <input name="comercialE" id="comercialE1" ng-click="seleccionarComercialE(1)" value="1" type="radio"> 
            Contamos a las personas conocidas sobre el producto que tenemos.
            </label>
            <br />
            <label>
              <input name="comercialE" id="comercialE2" ng-click="seleccionarComercialE(2)" value="2" type="radio"> 
           Tenemos catálogos de productos, pero falta desarrollar más.
            </label>
            <br />
            <label>
              <input name="comercialE" id="comercialE3" ng-click="seleccionarComercialE(3)" value="3" type="radio"> 
          Hacemos promoción de los productos por diferentes medios (publicidad, ferias entre otros).
            </label>      
            <br />
          </div>                   
      </div> 

        <div class="row">
            <div class="col-md-9">
            <fieldset>
              <legend>ESTADO ACTUAL DEL ÁREA FINANCIERA DEL NEGOCIO.</legend>
            </fieldset>            
        </div>
      </div>            
      
      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.financieraA) }}
            <h2>* {{ form_widget(form.financieraA, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Cómo determinamos la utilidad de nuestros productos ?.</h2>
            <br />
            <label>
              <input name="financieraA" id="financieraA1" ng-click="seleccionarFinancieraA(1)" value="1" type="radio"> 
            No tenemos en cuenta los costos para establecer la utilidad.
            </label>
            <br />
            <label>
              <input name="financieraA" id="financieraA2" ng-click="seleccionarFinancieraA(2)" value="2" type="radio"> 
            Se tienen en cuenta costos de producción y administrativos. para conocer la ganancia neta.
            </label>
            <br />
            <label>
              <input name="financieraA" id="financieraA3" ng-click="seleccionarFinancieraA(3)" value="3" type="radio"> 
              Se conoce la totalidad de los costos internos y externos para determinar la ganancia neta.
            </label>      
            <br />
          </div>                   
      </div>
        <br/>

      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.financieraB) }}
            <h2>* {{ form_widget(form.financieraB, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }}¿Contamos con algun mecanismo de capitalización fuera de los bancos u otras instituciones bancarias ?.</h2>
            <br />
            <label>
              <input name="financieraB" id="financieraB1" ng-click="seleccionarFinancieraB(1)" value="1" type="radio"> 
            No contamos con ningun mecanismo de financiacion interna.
            </label>
            <br />
            <label>
              <input name="financieraB" id="financieraB2" ng-click="seleccionarFinancieraB(2)" value="2" type="radio"> 
            Si contamos con un fondo de ahorro y credito pero actualmente no funciona.
            </label>
            <br />
            <label>
              <input name="financieraB" id="financieraB3" ng-click="seleccionarFinancieraB(3)" value="3" type="radio"> 
            Si contamos con un fondo de ahorro y credito y actualmente funciona.
            </label>      
            <br />
          </div>                   
      </div>
        <br/>
      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.financieraC) }}
            <h2>* {{ form_widget(form.financieraC, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Como conseguimos recursos para el grupo?.</h2>
            <br />
            <label>
              <input name="financieraC" id="financieraC1" ng-click="seleccionarFinancieraC(1)" value="1" type="radio"> 
             No gestionamos para conseguir recursos.
            </label>
            <br />
            <label>
              <input name="financieraC" id="financieraC2" ng-click="seleccionarFinancieraC(2)" value="2" type="radio"> 
            En ocasiones hemos conseguido recursos de forma grupal.
            </label>
            <br />
            <label>
              <input name="financieraC" id="financieraC3" ng-click="seleccionarFinancieraC(3)" value="3" type="radio"> 
            Presentamos proyectos y gestionamos de forma grupal para conseguir recursos.
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.financieraD) }}
            <h2>* {{ form_widget(form.financieraD, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Cómo planificamos el uso del dinero en nuestro negocio?.</h2>
            <br />
            <label>
              <input name="financieraD" id="financieraD1" ng-click="seleccionarFinancieraD(1)" value="1" type="radio"> 
            No planificamos el uso del dinero,gastamos en lo urgente.
            </label>
            <br />
            <label>
              <input name="financieraD" id="financieraD2" ng-click="seleccionarFinancieraD(2)" value="2" type="radio"> 
            Planificamos algunas veces comprando lo que se decide que es prioritario.
            </label>
            <br />
            <label>
              <input name="financieraD" id="financieraD3" ng-click="seleccionarFinancieraD(3)" value="3" type="radio"> 
              Planificamos el uso del dinero de acuerdo a lo que dicen los socios.
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.financieraE) }}
            <h2>* {{ form_widget(form.financieraE, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Cómo llevamos la información contable de la organización?.</h2>
            <br />
            <label>
              <input name="comercialE" id="financieraE1" ng-click="seleccionarFinancieraE(1)" value="1" type="radio"> 
            No llevamos la contabilidad.
            </label>
            <br />
            <label>
              <input name="comercialE" id="financieraE2" ng-click="seleccionarFinancieraE(2)" value="2" type="radio"> 
           Contamos con un libro de ingresos y egresos soportando todos los gastos.
            </label>
            <br />
            <label>
              <input name="comercialE" id="financieraE3" ng-click="seleccionarFinancieraE(3)" value="3" type="radio"> 
          Tenemos un contador que lleva la contabilidad del grupo.
            </label>      
            <br />
          </div>                   
      </div> 
      <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.financieraF) }}
            <h2>* {{ form_widget(form.financieraF, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Contamos con un plan de trabajo a mediano plazo ?.</h2>
            <br />
            <label>
              <input name="comercialF" id="financieraF1" ng-click="seleccionarFinancieraF(1)" value="1" type="radio"> 
            No contamos con un plan de trabajo.
            </label>
            <br />
            <label>
              <input name="comercialF" id="financieraF2" ng-click="seleccionarFinancieraF(2)" value="2" type="radio"> 
           Se tienen planeadas algunas actividades del negocio.
            </label>
            <br />
            <label>
              <input name="comercialF" id="financieraF3" ng-click="seleccionarFinancieraF(3)" value="3" type="radio"> 
          Contamos con un documento escrito del plan de trabajo de nuestro grupo.
            </label>      
            <br />
          </div>                   
      </div> 

<div class="row">
        <div class="col-md-9">
            <fieldset>
              <legend>ESTADO ACTUAL DEL ÁREA ADMINISTRATIVA DEL NEGOCIO.</legend>
            </fieldset>            
        </div>
</div>            
      
      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.administrativaA) }}
            <h2>* {{ form_widget(form.administrativaA, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }}¿Cómo tenemos organizados los papeles y documentos del grupo?.</h2>
            <br />
            <label>
              <input name="administrativaA" id="administrativaA1" ng-click="seleccionarAdministrativaA(1)" value="1" type="radio"> 
            No tenemos un archivo con los documentos del negocio.
            </label>
            <br />
            <label>
              <input name="administrativaA" id="administrativaA2" ng-click="seleccionarAdministrativaA(2)" value="2" type="radio"> 
            Tenemos los papeles y documentos del grupo, pero en desorden.
            </label>
            <br />
            <label>
              <input name="administrativaA" id="administrativaA3" ng-click="seleccionarAdministrativaA(3)" value="3" type="radio"> 
             Tenemos ordenados y archivados la totalidad de los documentos del grupo.
            </label>      
            <br />
          </div>                   
      </div>
        <br/>

      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.administrativaB) }}
            <h2>* {{ form_widget(form.administrativaB, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }}¿Cómo realizamos las labores administrativas en nuestro grupo?.</h2>
            <br />
            <label>
              <input name="administrativaB" id="administrativaB1" ng-click="seleccionarAdministrativaB(1)" value="1" type="radio"> 
           No tenemos personal administrativo.
            </label>
            <br />
            <label>
              <input name="administrativaB" id="administrativaB2" ng-click="seleccionarAdministrativaB(2)" value="2" type="radio"> 
            Las tareas se reparten entre el lider y los integrantes del grupo.
            </label>
            <br />
            <label>
              <input name="administrativaB" id="administrativaB3" ng-click="seleccionarAdministrativaB(3)" value="3" type="radio"> 
       Se cuenta con personal administrativo que paga el grupo.
            </label>      
            <br />
          </div>                   
      </div>
        <br/>
      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.administrativaC) }}
            <h2>* {{ form_widget(form.administrativaC, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Contamos con manuales administrativos y reglamentos de trabajo?.</h2>
            <br />
            <label>
              <input name="administrativaC" id="administrativaC1" ng-click="seleccionarAdministrativaC(1)" value="1" type="radio"> 
             No contamos con manuales administrativos y/o reglamentos de trabajo.
            </label>
            <br />
            <label>
              <input name="administrativaC" id="administrativaC2" ng-click="seleccionarAdministrativaC(2)" value="2" type="radio"> 
            Estan en proceso algunos reglamentos basicos de trabajo.
            </label>
            <br />
            <label>
              <input name="administrativaC" id="administrativaC3" ng-click="seleccionarAdministrativaC(3)" value="3" type="radio"> 
           Tenemos los reglamentos y manuales de trabajo que necesitamos.
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.administrativaD) }}
            <h2>* {{ form_widget(form.administrativaD, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Vendemos con o sin factura?.</h2>
            <br />
            <label>
              <input name="administrativaD" id="administrativaD1" ng-click="seleccionarAdministrativaD(1)" value="1" type="radio"> 
            Generalmente vendemos sin factura.
            </label>
            <br />
            <label>
              <input name="administrativaD" id="administrativaD2" ng-click="seleccionarAdministrativaD(2)" value="2" type="radio"> 
            Vendemos con factura a los clientes que lo exigen.
            </label>
            <br />
            <label>
              <input name="administrativaD" id="administrativaD3" ng-click="seleccionarAdministrativaD(3)" value="3" type="radio"> 
              Vendemos la totalidad de lo vendido con factura.
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.administrativaE) }}
            <h2>* {{ form_widget(form.administrativaE, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Cómo nos repartimos las labores al interior de la institución?.</h2>
            <br />
            <label>
              <input name="administrativaE" id="administrativaE1" ng-click="seleccionarAdministrativaE(1)" value="1" type="radio"> 
            No hay tareas asignadas ni plan de trabajo.
            </label>
            <br />
            <label>
              <input name="administrativaE" id="administrativaE2" ng-click="seleccionarAdministrativaE(2)" value="2" type="radio"> 
           Existen algunos comites de trabajo.
            </label>
            <br />
            <label>
              <input name="administrativaE" id="administrativaE3" ng-click="seleccionarAdministrativaE(3)" value="3" type="radio"> 
          Existen funciones definidas, hay una clara division del trabajo.
            </label>      
            <br />
          </div>                   
      </div> 
      <br/>

          <div class="row">
            <div class="col-md-9">
            <fieldset>
              <legend>ESTADO ACTUAL DEL ÁREA ORGANIZACIONAL Y SOCIAL DEL NEGOCIO.</legend>
            </fieldset>            
        </div>
      </div>  


 
 <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.organizacionalA) }}
            <h2>* {{ form_widget(form.organizacionalA, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Con que frecuencia nos reunimos para analizar temas de nuestro negocio?.</h2>
            <br />
            <label>
              <input name="organizacionalA" id="organizacionalA1" ng-click="seleccionarOrganizacionalA(1)" value="1" type="radio"> 
            Nos reunimos muy ocasionalmente.
            </label>
            <br />
            <label>
              <input name="organizacionalA" id="organizacionalA2" ng-click="seleccionarOrganizacionalA(2)" value="2" type="radio"> 
            Se cita a asamblea normal o extraordinaria cuando es necesario, solo cuando existe.
            </label>
            <br />
            <label>
              <input name="organizacionalA" id="organizacionalA3" ng-click="seleccionarOrganizacionalA(3)" value="3" type="radio"> 
              Los socios se reunen constantemente o minimo cuando lo dictan los estatutos.
            </label>      
            <br />
          </div>                   
      </div>
        <br/>

      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.organizacionalB) }}
            <h2>* {{ form_widget(form.organizacionalB, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }}¿Trabajamos en proyectos que mejoren la condición de los asociados?.</h2>
            <br />
            <label>
              <input name="organizacionalB" id="organizacionalB1" ng-click="seleccionarOrganizacionalB(1)" value="1" type="radio"> 
            Todavia no hemos hecho proyectos que beneficien a la mayoria.
            </label>
            <br />
            <label>
              <input name="organizacionalB" id="organizacionalB2" ng-click="seleccionarOrganizacionalB(2)" value="2" type="radio"> 
            Tenemos algunos proyectos que han mejorado la situación de los asociados.
            </label>
            <br />
            <label>
              <input name="organizacionalB" id="organizacionalB3" ng-click="seleccionarOrganizacionalB(3)" value="3" type="radio"> 
            Tenemos proyectos que estan beneficiando la calidad de vida de los asociados.
            </label>      
            <br />
          </div>                   
      </div>
        <br/>
      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.organizacionalC) }}
            <h2>* {{ form_widget(form.organizacionalC, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Comó participamos en el grupo?.</h2>
            <br />
            <label>
              <input name="organizacionalC" id="organizacionalC1" ng-click="seleccionarOrganizacionalC(1)" value="1" type="radio"> 
             Se cuentan con pocas actividades colectivas.
            </label>
            <br />
            <label>
              <input name="organizacionalC" id="organizacionalC2" ng-click="seleccionarOrganizacionalC(2)" value="2" type="radio"> 
            Tenemos participación de los lideres de la asociación y algunos socios.
            </label>
            <br />
            <label>
              <input name="organizacionalC" id="organizacionalC3" ng-click="seleccionarOrganizacionalC(3)" value="3" type="radio"> 
            La mayoria de los miembros del grupo participan en diferentes actividades.
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.organizacionalD) }}
            <h2>* {{ form_widget(form.organizacionalD, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Comó observamos el progreso de nuestro grupo?.</h2>
            <br />
            <label>
              <input name="organizacionalD" id="organizacionalD1" ng-click="seleccionarOrganizacionalD(1)" value="1" type="radio"> 
            No hacemos seguimiento al desarrollo de las actividades de nuestro grupo.
            </label>
            <br />
            <label>
              <input name="organizacionalD" id="organizacionalD2" ng-click="seleccionarOrganizacionalD(2)" value="2" type="radio"> 
            Programamos tareas pero no les hacemos seguimiento.
            </label>
            <br />
            <label>
              <input name="organizacionalD" id="organizacionalD3" ng-click="seleccionarOrganizacionalD(3)" value="3" type="radio"> 
              Normalmente llevamos actas de seguimiento para saber como va el proceso del grupo.
            </label>      
            <br />
          </div>                   
      </div>  
             <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.organizacionalE) }}
            <h2>* {{ form_widget(form.organizacionalE, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Cómo elaboramos y presentamos los proyectos ante las entidades?.</h2>
            <br />
            <label>
              <input name="organizacionalE" id="organizacionalE1" ng-click="seleccionarOrganizacionalE(1)" value="1" type="radio"> 
            No hemos elaborado o presentado nunca un proyecto.
            </label>
            <br />
            <label>
              <input name="organizacionalE" id="organizacionalE2" ng-click="seleccionarOrganizacionalE(2)" value="2" type="radio"> 
           En algunos proyectos nos ayudan personas externas.
            </label>
            <br />
            <label>
              <input name="organizacionalE" id="organizacionalE3" ng-click="seleccionarOrganizacionalE(3)" value="3" type="radio"> 
          Somos independientes al formular proyectos.
            </label>      
            <br />
          </div>                   
      </div> 
      <br/>
             <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-12">

            {{ form_errors(form.organizacionalF) }}
            <h2>* {{ form_widget(form.organizacionalF, { 'attr': {'style': 'opacity: 0.0; width: 0px;'} }) }} ¿Los miembros del grupo han tenido la oportunidad de capacitarse?.</h2>
            <br />
            <label>
              <input name="organizacionalF" id="organizacionalF1" ng-click="seleccionarOrganizacionalF(1)" value="1" type="radio"> 
            Nuestro proceso asociativo es reciente y faltan programas de capacitación para los asociados.
            </label>
            <br />
            <label>
              <input name="organizacionalF" id="organizacionalF2" ng-click="seleccionarOrganizacionalF(2)" value="2" type="radio"> 
           Hemos capacitado a los socios en algunas areas.
            </label>
            <br />
            <label>
              <input name="organizacionalF" id="organizacionalF3" ng-click="seleccionarOrganizacionalF(3)" value="3" type="radio"> 
          Hemos gestionado con entidades externas programas de capacitación.
            </label>      
            <br />
          </div>                   
      </div> 


  {{ form_end(form) }}
               
{% endblock %}

