{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Diagnostico Organizacional{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Formacion de capital social asociativo y desarrollo empresarial</li>
      <li><a href="{{ path('concursoGestion') }}">Concursos</a></li>
      <li class="active">Nuevo</li>
    </ul>

{% endblock %}


{% block section %}
    
    <div class="container">
    <h1> Diagnostico Organizacional</h1>
    <hr>
    <h3> Nuevo Registro</h3>   
  </div>

  <br />


    



    
 
 <br />

    <div class="section">
      <div class="container">

 <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Respuestas</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Resultados</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

             
      {% set resultadoproductiva = resultadoproductiva %}
      {% set resultadocomercial = resultadocomercial %}
      {% set resultadofinanciera = resultadofinanciera %}
      {% set resultadoadministrativa = resultadoadministrativa %}
      {% set resultadoorganizacional = resultadoorganizacional %}
      {% set resultadototal = resultadototal %}

  <div class="tab-content">
    <br>
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
    <div role="tabpanel" class="tab-pane" id="profile">
     

      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-4">
          <h2>Resultado Sección Productiva</h2>       
          <input type="text" value="{{resultadoproductiva}}" center="true" disabled="true" ></input>
          </div>  
          <div class="col-md-4">
          <h2>Resultado Sección Comercial</h2>       
          <input type="text" value="{{resultadocomercial}}" center="true" disabled="true" ></input>
          </div> 
          <div class="col-md-4">
          <h2>Resultado Sección Financiera</h2>       
          <input type="text" value="{{resultadofinanciera}}" center="true" disabled="true" ></input>
          </div>
       </div> 
<br>
       <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="col-md-4">
          <h2>Resultado Sección Administrativa</h2>       
          <input type="text" value="{{resultadoadministrativa}}" center="true" disabled="true" ></input>
          </div>  
          <div class="col-md-4">
          <h2>Resultado Sección Organizacional</h2>       
          <input type="text" value="{{resultadoorganizacional}}" center="true" disabled="true" ></input>
          </div> 
          <div class="col-md-4">
          <h2>Resultado Total</h2>
          {{resultadototal}}       
          <input type="text" value="{{resultadototal}}" center="true" disabled="true" ></input>
          </div>
       </div> 
<br>

    </div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>

 

               
{% endblock %}

