{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Empleados{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Seguimiento</li>
      <li><a href="{{ path('empleadoGestion') }}">Empleados</a></li>
      <li class="active">Nuevo</li>
    </ul>

{% endblock %}


{% block section %}
<div class="container">
    <h1> Gestión de Empleados </h1>
    <hr>
    <h3> Nuevo Registro</h3>
    <br />
    <br />
  </div>
     

  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
              <button name="grupo[guardar]" id="grupo_guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('empleadoGestion') }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section">
      <div class="container">
        
		
			<div class="row">
				<div class="col-md-12">
					<fieldset>
						<legend>Datos básicos de los Empleados</legend>
					</fieldset>            
				</div>
			</div>	

<div class="row">
				
            <div class="col-md-4">
                  {{ form_label(form.periodicidad) }}
				          {{ form_errors(form.periodicidad) }}
                  {{ form_widget(form.periodicidad, { 'attr': {'class': 'form-control', 'placeholder': 'Periodicidad'} }) }}
            </div>
               
            <div class="col-md-4">
                  {{ form_label(form.nombre) }}
				          {{ form_errors(form.nombre) }}
                  {{ form_widget(form.nombre, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre'} }) }}
            </div>
                
            <div class="col-md-4">
                  {{ form_label(form.sexo) }}
                  {{ form_errors(form.sexo) }}
                  {{ form_widget(form.sexo, { 'attr': {'class': 'form-control', 'placeholder': 'Genero'} }) }}
            </div>
         
</div>
<br/>
<div class="row">
        
            <div class="col-md-4">
                  {{ form_label(form.socio_organizacion) }}
                  {{ form_errors(form.socio_organizacion) }}
                  {{ form_widget(form.socio_organizacion, { 'attr': {'class': 'form-control', 'placeholder': 'Socio Organización'} }) }}
            </div>
               
            <div class="col-md-4">
                  {{ form_label(form.fecha_ingreso) }}
                  {{ form_errors(form.fecha_ingreso) }}
                  {{ form_widget(form.fecha_ingreso, { 'attr': {'class': 'form-control', 'placeholder': 'Fecha de ingreso'} }) }}
            </div>
            <div class="col-md-4">
                  {{ form_label(form.fecha_nacimiento) }}
                  {{ form_errors(form.fecha_nacimiento) }}
                  {{ form_widget(form.fecha_nacimiento, { 'attr': {'class': 'form-control', 'placeholder': 'Fecha de nacimiento'} }) }}
            </div>
</div>
<br/>                                 
<div class="row">
        
            <div class="col-md-4">
                  {{ form_label(form.edad_al_ingreso) }}
                  {{ form_errors(form.edad_al_ingreso) }}
                  {{ form_widget(form.edad_al_ingreso, { 'attr': {'class': 'form-control', 'placeholder': 'Edad al Ingreso'} }) }}
            </div>
               
           <div class="col-md-4">
                  {{ form_label(form.periodo_pago) }}
                  {{ form_errors(form.periodo_pago) }}
                  {{ form_widget(form.periodo_pago, { 'attr': {'class': 'form-control', 'placeholder': 'Periodo Pagado'} }) }}
            </div>
             <div class="col-md-4">
                  {{ form_label(form.remuneracion__bruta_anual) }}
                  {{ form_errors(form.remuneracion__bruta_anual) }}
                  {{ form_widget(form.remuneracion__bruta_anual, { 'attr': {'class': 'form-control', 'placeholder': 'Remuneracion anual'} }) }}
            </div>
         
</div>
			<br/>				
       
      </div>
    </div>

  {{ form_end(form) }}
               
{% endblock %}

