{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Grupos{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Formacion de capital social asociativo y desarrollo empresarial</li>
      <li><a href="{{ path('gruposGestion', {'idGrupo': grupo.id}) }}">Grupos</a></li>
      <li class="active">Seguimiento</li>
    </ul>

{% endblock %}

{% block section %}

  <div class="container">
    <h1>Seguimiento de Grupo {{grupo.nombre}}</h1>
    <hr>
  </div>

  <br />

  <div class="container">
    <div class="alert alert-[[estadoMensaje]] alert-dismissible" id="MensajeCtrl" ng-show="mostrarMensaje === true" role="alert">[[textoMensaje]]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
  </div>

  <div class="section">
      <div class="container"> 
        <div class="row">
            <div class="col-md-6">
              <div class="btn-group">
                <a href="{{ path('gruposGestion') }}" class="btn btn-warning">Volver</a>                             
              </div>
            </div>
        </div>
      </div>
  </div>

  <br />


  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 table-responsive">
          Mantener relación de aspecto <input id="aspecto" type = "checkbox" checked onclick="escalarX()"><br><br>
          Ancho <input id="escalaX" type="range" style="width: 30vw; display:inline; margin-right:5vw;" min="15" max="200" step="1" value="50" width="200px" onChange="escalarX()">
          Alto <input id="escalaY" type="range" style="width: 30vw; display:inline;" min="15" max="200" step="1" value="50" width="200px" onChange="escalarY()">
          
       </div>
      </div>
    </div>
  </div>  

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 table-responsive">
          
            
            <br />

            
            <canvas id="myCanvas" width="1400" height="500" style="border:1px solid #EBEBEB;">
            </canvas>

            <script type="text/javascript">
              
              var c = document.getElementById("myCanvas");
              var ctx = c.getContext("2d");
              
              var camino = []

              for(var nodo=1; nodo<32; nodo++)
                camino.push(0);

              {% for nodoCamino in camino %}
                camino[{{nodoCamino.nodo.id}}] = {{nodoCamino.estado}};
              {% endfor %}

              var escX = .5;
              var escY = .5;

              var circles = [];

              dibujar();

             

              function escalarX(){
                if (document.getElementById("aspecto").checked)
                  document.getElementById("escalaY").value = document.getElementById("escalaX").value;
                dibujar();
              }

              function escalarY(){
                if (document.getElementById("aspecto").checked)
                  document.getElementById("escalaX").value = document.getElementById("escalaY").value;
                dibujar();
              }

              function dibujar(){

                circles = [];
                
                c.width = c.width;

                escX = document.getElementById("escalaX").value/100;
                escY = document.getElementById("escalaY").value/100;
                c.width = 2500*escX;
                c.height = 800*escY;
                
                ctx.save();


                ctx.fillStyle = "#F2F2F2";    ctx.fillRect(200*escX, 100*escY, 250*escX, 600*escY);

                ctx.fillStyle = "#EBEBEB";    ctx.fillRect(450*escX, 100*escY, 450*escX, 300*escY);
                ctx.fillStyle = "#F2F2F2";    ctx.fillRect(900*escX, 100*escY, 450*escX, 300*escY);
                ctx.fillStyle = "#EBEBEB";    ctx.fillRect(1350*escX, 100*escY, 450*escX, 300*escY);
                ctx.fillStyle = "#F2F2F2";    ctx.fillRect(1800*escX, 100*escY, 450*escX, 300*escY);

                ctx.fillStyle = "#F2F3F7";    ctx.fillRect(450*escX, 400*escY, 450*escX, 300*escY);
                ctx.fillStyle = "#EBEDF4";    ctx.fillRect(900*escX, 400*escY, 450*escX, 300*escY);
                ctx.fillStyle = "#F2F3F7";    ctx.fillRect(1350*escX, 400*escY, 450*escX, 300*escY);
                ctx.fillStyle = "#EBEDF4";    ctx.fillRect(1800*escX, 400*escY, 450*escX, 300*escY);


                ctx.fillStyle = "#F2F2F2";    ctx.fillRect(450*escX, 22*escY, 450*escX, 70*escY);
                ctx.fillStyle = "#EBEBEB";    ctx.fillRect(900*escX, 22*escY, 450*escX, 70*escY);
                ctx.fillStyle = "#F2F2F2";    ctx.fillRect(1350*escX, 22*escY, 450*escX, 70*escY);
                ctx.fillStyle = "#EBEBEB";    ctx.fillRect(1800*escX, 22*escY, 450*escX, 70*escY);

                ctx.fillStyle = "#F2F2F2";    ctx.fillRect(450*escX, 708*escY, 450*escX, 70*escY);
                ctx.fillStyle = "#EBEBEB";    ctx.fillRect(900*escX, 708*escY, 1350*escX, 70*escY);

                ctx.fillStyle = "#F2F2F2";    ctx.fillRect(2300*escX, 100*escY, 150*escX, 300*escY);
                ctx.fillStyle = "#EBEDF4";    ctx.fillRect(2300*escX, 400*escY, 150*escX, 300*escY);



                linea(200, 400, 280, 400)       // 1 a 2
                linea(280, 400, 380, 180)       // 2 a 3
                linea(280, 400, 280, 630)       // 2 a 4
                linea(280, 400, 330, 580)       // 2 a 5

                linea(280, 400, 480, 280)       // 2 a 6
                linea(280, 400, 480, 530)       // 2 a 10
                linea(480, 530, 630, 530)       // 10 a 11  //corregir a partir de aca
                linea(630, 530, 780, 530)       // 11 a 12  //11 a 12 y etc
                linea(780, 530, 900, 530)       // 12 a 13
                linea(900, 530, 950, 530)       // 14 a 15
                linea(950, 530, 1050, 530)      // 14 a 15
                linea(1050, 530, 1100, 530)     // 15 a 16
                linea(1100, 530, 1150, 530)     // 16 a 17
                linea(1150, 530, 1250, 530)     // 17 a 18
                linea(1250, 530, 1350, 530)     // 18 a 19
                linea(1350, 530, 1400, 530)     // 19 a 20
                linea(1400, 530, 1500, 530)     // 20 a 21
                linea(1500, 530, 1550, 530)     // 21 a 22
                linea(1550, 530, 1600, 530)     // 22 a 23
                linea(1600, 530, 1700, 530)     // 23 a 24
                linea(1700, 530, 1800, 400)     // 24 a 25
                linea(1800, 400, 1850, 280)     // 25 a 26
                linea(1850, 280, 1950, 280)     // 26 a 27
                linea(1950, 280, 2000, 280)     // 27 a 28
                linea(2000, 280, 2050, 280)     // 28 a 29
                linea(2050, 280, 2150, 280)     // 29 a 30
                linea(2150, 280, 2250, 280)     // 30 a 31

                linea(480, 280, 630, 280)       // 6 a 7
                linea(630, 280, 780, 280)       // 7 a 8
                linea(780, 280, 900, 280)       // 8 a 9
                linea(900, 280, 1850, 280)       // 9 a 26

                linea(380, 180, 1800, 180)       // 3 a 26
                linea(1800, 180, 1850, 280)       // 3 a 26

                linea(330, 580, 450, 610)       // 5 a 14
                linea(450, 610, 900, 610)       // 5 a 14
                linea(900, 610, 950, 530)       // 5 a 14

                linea(280, 630, 450, 660)       // 4 a 20
                linea(450, 660, 1350, 660)      // 4 a 20
                linea(1350,660, 1400, 530)       // 4 a 20

                linea(1350, 530, 1380, 430)     // 19 a 26
                linea(1380, 430, 1850, 280)     // 19 a 26





                // data for "hot points"
                var dataTab = {
                  0: 'circulo n0',
                  1: 'circulo n1',
                  2: 'circulo n2',
                };

                ctx.font = 26*(escX+escY)/2+"px Arial";

                ctx.fillStyle = "#999"; 
                ctx.textAlign="left"; ctx.fillText("Convocatoria",10*escX,408*escY);
                circulo(200, 400);   // 1    Convocatoria

                ctx.font = 15*(escX+escY)/2+"px Arial";

                ctx.fillStyle = "#999"; ctx.textAlign="right"; ctx.fillText("CLEAR",280*escX,350*escY); ctx.fillText("Habilitación",280*escX,370*escY);
                circulo(280, 400);   // 2    CLEAR Habilitación
                
                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("Visita previa",380*escX,150*escY);
                circulo(380, 180);      // 3    Visita previa Formal PN

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("Visita previa",280*escX,670*escY);
                circulo(280, 630);      // 4    Visita previa No Formal PI

                ctx.fillStyle = "#999"; ctx.textAlign="left"; ctx.fillText("Visita previa",330*escX,550*escY);
                circulo(330, 580);      // 5    Visita previa No Formal IEA

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("CLEAR",480*escX,210*escY); ctx.fillText("Asignación",480*escX,230*escY); ctx.fillText("$ 760.000",480*escX,250*escY);
                circulo(480, 280);      // 6    Formal MOT Clear Asignación

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("Talleres",630*escX,250*escY);
                circulo(630, 280);      // 7    Formal MOT Talleres

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("Legalización",780*escX,320*escY); ctx.fillText("Fase",780*escX,340*escY);
                circulo(780, 280);      // 8    Formal MOT Legalización Fase

                ctx.fillStyle = "#999"; ctx.textAlign="right"; ctx.fillText("CLEAR  ",900*escX,210*escY); ctx.fillText("Contraloría",900*escX,230*escY); ctx.fillText("Social  ",900*escX,250*escY);
                circulo(900, 280);     // 9 Contraloría Social

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("CLEAR",480*escX,460*escY); ctx.fillText("Asignación",480*escX,480*escY); ctx.fillText("$ 760.000",480*escX,500*escY);
                circulo(480, 530);      // 10    No Formal MOT Clear Asignación

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("Talleres",630*escX,500*escY);
                circulo(630, 530);      // 11   No Formal MOT Talleres

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("Legalización",780*escX,570*escY); ctx.fillText("Fase",780*escX,590*escY);
                circulo(780, 530);      // 12   No Formal MOT Legalización Fase 

                ctx.fillStyle = "#999"; ctx.textAlign="right"; ctx.fillText("CLEAR  ",900*escX,460*escY); ctx.fillText("Contraloría",900*escX,480*escY); ctx.fillText("Social  ",900*escX,500*escY);
                circulo(900, 530);      // 13   No Formal CLEAR Contraloría Social MOT 

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("CLEAR",970*escX,460*escY); ctx.fillText("Asignación 5:1",970*escX,480*escY); ctx.fillText("max $ 5'700.000",970*escX,500*escY);
                circulo(950, 530);      // 14  No Formal CLEAR Asignacion IEA

                
                ctx.fillStyle = "#999"; ctx.save(); ctx.translate( 1050*escX, 500*escY ); ctx.rotate(-Math.PI / 4); ctx.textAlign="left"; ctx.fillText("Visita 1",0,0); ctx.restore();
                circulo(1050, 530);     // 15    
                
                ctx.fillStyle = "#999"; ctx.save(); ctx.translate( 1100*escX, 500*escY ); ctx.rotate(-Math.PI / 4); ctx.textAlign="left"; ctx.fillText("Visita 2",0,0); ctx.restore();
                circulo(1100, 530);     // 16

                ctx.fillStyle = "#999"; ctx.save(); ctx.translate( 1150*escX, 500*escY ); ctx.rotate(-Math.PI / 4); ctx.textAlign="left"; ctx.fillText("Visita 3",0,0); ctx.restore(); 
                circulo(1150, 530);     // 17

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("Legalización",1250*escX,570*escY); ctx.fillText("Fase",1250*escX,590*escY);
                circulo(1250, 530);     // 18    

                ctx.fillStyle = "#999"; ctx.textAlign="right"; ctx.fillText("CLEAR  ",1350*escX,460*escY); ctx.fillText("Contraloría",1350*escX,480*escY); ctx.fillText("Social  ",1350*escX,500*escY);
                circulo(1350, 530);     // 19    

                ctx.fillStyle = "#999"; ctx.textAlign="right"; ctx.fillText("CLEAR ",1450*escX,460*escY); ctx.fillText("Asignación 2:1 ",1475*escX,480*escY); ctx.fillText("max. $5'440.000",1475*escX,500*escY);
                circulo(1400, 530);     // 20

                ctx.fillStyle = "#999"; ctx.save(); ctx.translate( 1500*escX, 500*escY ); ctx.rotate(-Math.PI / 4); ctx.textAlign="left"; ctx.fillText("Visita 1",0,0); ctx.restore();
                circulo(1500, 530);     // 21

                ctx.fillStyle = "#999"; ctx.save(); ctx.translate( 1550*escX, 500*escY ); ctx.rotate(-Math.PI / 4); ctx.textAlign="left"; ctx.fillText("Visita 2",0,0); ctx.restore();    
                circulo(1550, 530);     // 22    

                ctx.fillStyle = "#999"; ctx.save(); ctx.translate( 1600*escX, 500*escY ); ctx.rotate(-Math.PI / 4); ctx.textAlign="left"; ctx.fillText("Visita 3",0,0); ctx.restore();
                circulo(1600, 530);     // 23    

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("Legalización",1700*escX,570*escY); ctx.fillText("Fase",1700*escX,590*escY);
                circulo(1700, 530);     // 24    

                ctx.fillStyle = "#999"; ctx.textAlign="right"; ctx.fillText("CLEAR  ",1760*escX,385*escY); ctx.fillText(" Contraloría",1760*escX,405*escY); ctx.fillText("Social  ",1760*escX,425*escY);
                circulo(1800, 400);     // 25

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("CLEAR",1890*escX,180*escY); ctx.fillText("Asignación 3:1",1890*escX,200*escY); ctx.fillText("max. $10'300.000",1890*escX,220*escY);
                circulo(1850, 280);     // 26
                
                ctx.fillStyle = "#999"; ctx.save(); ctx.translate( 1950*escX, 250*escY ); ctx.rotate(-Math.PI / 4); ctx.textAlign="left"; ctx.fillText("Visita 1",0,0); ctx.restore();
                circulo(1950, 280);     // 27    

                ctx.fillStyle = "#999"; ctx.save(); ctx.translate( 2000*escX, 250*escY ); ctx.rotate(-Math.PI / 4); ctx.textAlign="left"; ctx.fillText("Visita 2",0,0); ctx.restore();
                circulo(2000, 280);     // 28    

                ctx.fillStyle = "#999"; ctx.save(); ctx.translate( 2050*escX, 250*escY ); ctx.rotate(-Math.PI / 4); ctx.textAlign="left"; ctx.fillText("Visita 3",0,0); ctx.restore();
                circulo(2050, 280);     // 29    

                ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("Legalización",2150*escX,320*escY); ctx.fillText("Fase",2150*escX,340*escY);
                circulo(2150, 280);     // 30   

                 ctx.fillStyle = "#999"; ctx.textAlign="center"; ctx.fillText("CLEAR",2250*escX,320*escY); ctx.fillText("Contraloria",2250*escX,340*escY); ctx.fillText("Social",2250*escX,360*escY);
                circulo(2250, 280);     // 31


                ctx.fillStyle = "#999"; ctx.font="10px Verdana"; ctx.textAlign="center"; ctx.fillText("FASE 0",670*escX,50*escY);ctx.fillText("MOT",670*escX,70*escY); // FASE 0 MOT

                 ctx.fillStyle = "#999"; ctx.font="10px Verdana"; ctx.textAlign="center"; ctx.fillText("FASE I",1120*escX,50*escY);ctx.fillText("IEA",1120*escX,70*escY); // FASE I IEA

                 ctx.fillStyle = "#999"; ctx.font="10px Verdana"; ctx.textAlign="center"; ctx.fillText("FASE II",1570*escX,50*escY);ctx.fillText("PI",1570*escX,70*escY); // FASE II PI

                 ctx.fillStyle = "#999"; ctx.font="10px Verdana"; ctx.textAlign="center"; ctx.fillText("FASE III",2020*escX,50*escY);ctx.fillText("PN",2020*escX,70*escY); // FASE III PN


                 ctx.fillStyle = "#999"; ctx.font="15px Verdana"; ctx.textAlign="center"; ctx.fillText("Sin Negocio",670*escX,750*escY); // Sin Negocio

                 ctx.fillStyle = "#999"; ctx.font="15px Verdana"; ctx.textAlign="center"; ctx.fillText("Con Negocio",1570*escX,750*escY); // Con Negocio

                 ctx.fillStyle = "#999"; ctx.font="10px Verdana"; ctx.textAlign="center"; ctx.fillText("Formal",2375*escX,270*escY); // Formal

                 ctx.fillStyle = "#999"; ctx.font="10px Verdana"; ctx.textAlign="center"; ctx.fillText("No Formal",2375*escX,550*escY); // No Formal



                



                
              }
                    
              function Circle(x, y, radius) {
                  this.left = x - radius;
                  this.top = y - radius;
                  this.right = x + radius;
                  this.bottom = y + radius;
              };

              function circulo(x, y){

                var radius = 45/2*(escX+escY)/2;

                ctx.fillStyle = color(camino[circles.length+1]);
                ctx.beginPath(); 
                ctx.arc(x*escX,y*escY, radius,0,2*Math.PI, true); 
                ctx.closePath();
                ctx.fill();

                var circle = new Circle(x*escX, y*escY, radius);
                circles.push(circle);
              }

              var vinculo = function(x, y, radius) {
                this.left = x - radius;
                this.top = y - radius;
                this.right = x + radius;
                this.bottom = y + radius;
              };


              function linea(x1, y1, x2, y2, estado){
        
                ctx.strokeStyle=color(estado); 
                ctx.lineWidth=4; 
                ctx.beginPath(); 
                ctx.moveTo(x1*escX, y1*escY); 
                ctx.lineTo(x2*escX, y2*escY); 
                ctx.closePath();
                ctx.stroke(); 
              }

              function color(estado){

                var colorHexa = "#E0E0D5";    
                if(estado == 1) // Programado : Gris Oscuro
                  colorHexa = "#999";
                else if(estado == 2) // Ejecutado Ok: Verde
                  colorHexa = "#A1D44A";
                else if(estado == 3) // Rechazado: Café
                  colorHexa = "#B28500";
                else if(estado == 4)  // Finalizado: Rojo
                  colorHexa = "#DB0041";
                else if(estado == 5) // Ejecutado con observaciones: Azul
                  colorHexa = "#00BFFF";
                else if(estado == 6) // Intervenido: Naraja
                  colorHexa = "#DCDC00";  
                else if(estado == -1)
                  colorHexa = "transparent";
    
                return colorHexa;
              }

              $('#myCanvas').click(function (e) {
           
                    var scrollX = ( window.scrollX !== null && typeof window.scrollX !== 'undefined') ? window.scrollX : window.pageXOffset;
                    var scrollY = ( window.scrollY !== null && typeof window.scrollY !== 'undefined') ? window.scrollY : window.pageYOffset;
                    clickedX = e.pageX - $("#myCanvas").offset().left //+ scrollX;
                    clickedY = e.pageY - $("#myCanvas").offset().top //+ scrollY;

  
                    ctx.fillStyle = "#333"; 
                 
                    for (var i = 0; i < circles.length; i++) {
                        
                        //ctx.fillText(Math.round(circles[i].left)+" a "+Math.round(circles[i].right)+"    ,    "+Math.round(circles[i].top)+" a "+Math.round(circles[i].bottom),circles[i].left,circles[i].top);
            
                        if (clickedX < circles[i].right && clickedX > circles[i].left && clickedY > circles[i].top && clickedY < circles[i].bottom) {
                            console.log ('clicked number ' + (i + 1));
                            if((i+1) == 2)
                              $('#myModalNodo2').modal('show')
                            if((i+1) == 3)
                              $('#myModalNodo3').modal('show')
                            if((i+1) == 6)
                              $('#myModalNodo6').modal('show')
                            if((i+1) == 8)
                              $('#myModalNodo8').modal('show')
                            if((i+1) == 10)
                              $('#myModalNodo10').modal('show')
                            if((i+1) == 12)
                              $('#myModalNodo12').modal('show')
                            if((i+1) == 14)
                              $('#myModalNodo14').modal('show')
                            if((i+1) == 18)
                              $('#myModalNodo18').modal('show')
                            if((i+1) == 20)
                              $('#myModalNodo20').modal('show')
                            if((i+1) == 24)
                              $('#myModalNodo24').modal('show')
                            if((i+1) == 26)
                              $('#myModalNodo26').modal('show')
                            if((i+1) == 30)
                              $('#myModalNodo30').modal('show')
                        }
                    }
                });


              

            </script>     

            <br />
            <br />

        </div>
      </div>
    </div>
  </div>  


    
    <!-- Modal NODO 2 -->
    <div class="modal fade" id="myModalNodo2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Acciones en CLEAR Habilitación</b>
            <br>
            <br>
            <b><a href="{{ path('habilitacionFases', {'idGrupo': grupo.id}) }}">Habilitación de fases</a></b>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal NODO 3 -->
    <div class="modal fade" id="myModalNodo3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Acciones en CLEAR Habilitación</b>
            <br>
            <br>
            <b><a href="{{ path('diagnosticoVisualizar', {'idGrupo': grupo.id}) }}">Diagnóstico organizacional</a></b>
            <hr>
            <br>
            <b>Acciones</b>
            <br>
            <br>
            <a href="#{#{ path('diagnosticoSoporte', {'idGrupo': grupo.id}) }#}" alt="subir archivos" title="Subir archivos"><span class="glyphicon glyphicon-level-up" aria-hidden="true"> Subir soportes</a>
            <br>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal NODO 6 -->
    <div class="modal fade" id="myModalNodo6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Inicio de MOT</b>
            <br>
            <b>Grupo Formal</b>
            <br>
            <br>
            <b><a href="{{ path('seguimientoMotInicio', {'idGrupo': grupo.id, 'idNodo' : 6}) }}">Nuevo Inicio de MOT</a></b>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal NODO 8 -->
    <div class="modal fade" id="myModalNodo8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Cierre de MOT</b>            
            <br>
            <b>Grupo Formal</b>
            <br>
            <br>
            <b><a href="{{ path('seguimientoMotCierre', {'idGrupo': grupo.id, 'idNodo' : 8}) }}">Nuevo Cierre de MOT</a></b>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal NODO 10 -->
    <div class="modal fade" id="myModalNodo10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Inicio de MOT</b>            
            <br>
            <b>Grupo No Formal</b>
            <br>
            <br>
            <b><a href="{{ path('seguimientoMotInicio', {'idGrupo': grupo.id, 'idNodo' : 10}) }}">Nuevo Inicio de MOT</a></b>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal NODO 12 -->
    <div class="modal fade" id="myModalNodo12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Cierre de MOT</b>            
            <br>
            <b>Grupo No Formal</b>
            <br>
            <br>
            <b><a href="{{ path('seguimientoMotCierre', {'idGrupo': grupo.id, 'idNodo' : 12}) }}">Nuevo Cierre de MOT</a></b>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal NODO 14 -->
    <div class="modal fade" id="myModalNodo14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Inicio de Fase</b>
            <br>
            <br>
            <b><a href="{{ path('seguimientofaseInicio', {'idGrupo': grupo.id, 'idNodo' : 14}) }}">Nuevo Inicio de Fase</a></b>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal NODO 18 -->
    <div class="modal fade" id="myModalNodo18" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Cierre de Fase</b>
            <br>
            <br>
            <b><a href="{{ path('seguimientofaseCierre', {'idGrupo': grupo.id, 'idNodo' : 18}) }}">Nuevo Cierre de Fase</a></b>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal NODO 20 -->
    <div class="modal fade" id="myModalNodo20" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Inicio de Fase</b>
            <br>
            <br>
            <b><a href="{{ path('seguimientofaseInicio', {'idGrupo': grupo.id, 'idNodo' : 20}) }}">Nuevo Inicio de Fase</a></b>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal NODO 24 -->
    <div class="modal fade" id="myModalNodo24" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Cierre de Fase</b>
            <br>
            <br>
            <b><a href="{{ path('seguimientofaseCierre', {'idGrupo': grupo.id, 'idNodo' : 24}) }}">Nuevo Cierre de Fase</a></b>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal NODO 26 -->
    <div class="modal fade" id="myModalNodo26" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Inicio de Fase</b>
            <br>
            <br>
            <b><a href="{{ path('seguimientofaseInicio', {'idGrupo': grupo.id, 'idNodo' : 26}) }}">Nuevo Inicio de Fase</a></b>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal NODO 30 -->
    <div class="modal fade" id="myModalNodo30" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ grupo.codigo }} | {{ grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Cierre de Fase</b>
            <br>
            <br>
            <b><a href="{{ path('seguimientofaseCierre', {'idGrupo': grupo.id, 'idNodo' : 30}) }}">Nuevo Cierre de Fase</a></b>
            <br>           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

               
{% endblock %}

