{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Jurado Comite nuevo{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Formacion de capital social asociativo y desarrollo empresarial</li>
	   <li><a href="{{ path('comiteGestion') }}">Comité de Concursos</a></li>
      <li class="active">Jurados</li>
    </ul>

{% endblock %}

{% block section %}

  <div class="container">
    <h1>Gestión Comites de Concursos</h1>
    <hr>
    <h3>Asignación Jurados</h3>
  </div>

  <br />
  <br />

     <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 well">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <input class="form-control" placeholder="Buscar..." type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Buscar</button>
                  </span>
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="btn-group">
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Filtros <span class="fa fa-caret-down"></span></a>
                </div>
              </div>
              <div class="col-md-3 text-center">
                <a class="btn btn-default">Limpiar</a>
              </div>
            </div>
            <br>
            <div class="row well">
              <div class="col-md-6">
                <label>Cargo</label>
                <br>
                <input list="cargo" placeholder="Cargo..." class="form-control">
                <datalist id="cargo">
                  <option value="Funcionario"></option>
                  <option value="Promotor"></option>
                </datalist>
              </div>
              <div class="col-md-6">
                <label>Entidad</label>
                <br>
                <input list="entidad" placeholder="Entidad..." class="form-control">
                <datalist id="entidad">
                  <option value=""></option>
                </datalist>
              </div>
            </div>
            <hr>
            <div class="btn-group">
              <a href="" class="btn btn-default">Nuevo</a>
              <a href="#" class="btn btn-default">Eliminar</a>
              <a href="#" class="btn btn-default">Asignar</a>
            </div>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>
                    <input type="checkbox">
                  </th>
                  <th>Opcionado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                
				 {% set consecutivo = 1 %}
	    	
	    		{% for integrantesComites in integrantesComite %}
				
				<tr>
                  <td>{{ consecutivo }}</td>
                  <td>
                    <input type="checkbox">
                  </td>
                  <td>
				    <br>{{integrantesComites.primernombre}} {{integrantesComites.segundonombre}} {{integrantesComites.primerapellido}} {{integrantesComites.segundoapellido}}
                    <br>{{integrantesComites.entidad}}
                    <br>{{integrantesComites.cargo}}
					<br>{{integrantesComites.tipodocumento}}
					<br>{{integrantesComites.numerodocumento}}

                    
                  <td>
                    <a href="#" alt="Detalles" title="Detalles"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    <br>
                    <a href="clear-integrantes-editar.html" title="Editar" alt="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <br>
                    <a href="#" title="Asignar" alt="Asignar"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                    <br>
                    <a href="#" title="¿Eliminar registro?" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                  </td>
                </tr>
				
				    {% set consecutivo = consecutivo + 1 %}
	                {% else %}
					<tr>
	                  	<td colspan="7" class="info">No se encontraron registros.</td>
	                </tr>
	                
	                {% endfor %}
				
                
              </tbody>
            </table>
            <div class="col-md-12 text-center">
              <ul class="pagination">
                <li>
                  <a href="#">Anterior</a>
                </li>
                <li>
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">3</a>
                </li>
                <li>
                  <a href="#">4</a>
                </li>
                <li>
                  <a href="#">5</a>
                </li>
                <li>
                  <a href="#">Siguiente</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-1">
            <ul class="pager">
              <li>
                <a href="#">Asignar  →</a>
              </li>
            </ul>
            <ul class="pager">
              <li>
                <a href="#">←  Retirar</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 well">
            <div class="btn-group">
              <a href="#" class="btn btn-default">Retirar</a>
              <a href="#" class="btn btn-default"></a>
              <a href="#" class="btn btn-default"></a>
              <a href="#" class="btn btn-default"></a>
            </div>
            <table class="table table-striped table-hover">
              <thead>
			  
			  
			  
                <tr>
                  <th>#</th>
                  <th>
                    <input type="checkbox">
                  </th>
                  <th>Integrante del CLEAR</th>
                  <th>Rol (Comité)</th>
                  <th>Acciones</th>
                </tr>
				
              </thead>
              <tbody>
			  {% set consecutivo = 1 %}
	    	
	    		{% for integrantesComites in integrantesComite %}
                <tr>
                  <td>{{ consecutivo }}</td>
                  <td>
                    <input type="checkbox">
                  </td>
                  <td>{{integrantesComites.primernombre}} {{integrantesComites.segundonombre}}</td>
                  <td>{{integrantesComites.cargo}}</td>
				  
                  <td>
                    <a href="#" alt="Detalles" title="Detalles"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> | </a>
                    <a href="#" title="Editar" alt="Editar"></a>
                    <a href="#" title="¿Eliminar registro?" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
                  </td>
                </tr>
				
				 {% set consecutivo = consecutivo + 1 %}
	                {% else %}
					<tr>
	                  	<td colspan="7" class="info">No se encontraron registros.</td>
	                </tr>
	                
	                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
               
{% endblock %}

