{% extends 'AppBundle::frontend.html.twig' %}

{% block title %}Visita{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Parametrizacion</li>
      <li>Territorios de Aprendizaje</li>
      <li><a href="{{ path('rutaGestion') }}">Visita</a></li>
      
    </ul>

{% endblock %}


{% block section %}
<div class="container">
    <h1>Visitas</h1>
    <hr>
    <h3> Nueva Visita</h3>
    <br />
    <br />
  </div>
     

  {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

    {{ form_errors(form) }}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
  
              <button name="grupo[guardar]" id="grupo_guardar" type="submit" class="btn btn-success">Guardar</button>
              
              <a href="{{ path('territorioaprendizajeGestion') }}" class="btn btn-danger" title="" alt="Borrar" aria-hidden="true" data-toggle="confirmation" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-original-title="¿Eliminar registros?">Cancelar</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
        


    <div class="section">
      <div class="container">
        
		
			<div class="row">
				<div class="col-md-12">
					<fieldset>
						<legend>Datos básicos de la Visita</legend>
					</fieldset>            
				</div>
			</div>	

<div class="row">
	<div class="col-md-4">

          {{ form_label(form.fecha) }}
				  {{ form_errors(form.fecha) }}
          {{ form_widget(form.fecha, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
                
  <div class="col-md-4">
          {{ form_label(form.objetivo) }}
				  {{ form_errors(form.objetivo) }}
          {{ form_widget(form.objetivo, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>
  <div class="col-md-4">
          {{ form_label(form.agenda) }}
          {{ form_errors(form.agenda) }}
          {{ form_widget(form.agenda, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>         
</div>
<div class="row">
  <div class="col-md-4">

          {{ form_label(form.lugar) }}
          {{ form_errors(form.lugar) }}
          {{ form_widget(form.lugar, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
                
  <div class="col-md-4">
          {{ form_label(form.asistentes) }}
          {{ form_errors(form.asistentes) }}
          {{ form_widget(form.asistentes, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>
  <div class="col-md-4">
          {{ form_label(form.comite_compras) }}
          {{ form_errors(form.comite_compras) }}
          {{ form_widget(form.comite_compras, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>         
</div>
<div class="row">
  <div class="col-md-4">

          {{ form_label(form.funcionamiento_comite_compras) }}
          {{ form_errors(form.funcionamiento_comite_compras) }}
          {{ form_widget(form.funcionamiento_comite_compras, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
                
  <div class="col-md-4">
          {{ form_label(form.comite_vamos_bien) }}
          {{ form_errors(form.comite_vamos_bien) }}
          {{ form_widget(form.comite_vamos_bien, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>
  <div class="col-md-4">
          {{ form_label(form.funcionamiento_comite_vamos_bien) }}
          {{ form_errors(form.funcionamiento_comite_vamos_bien) }}
          {{ form_widget(form.funcionamiento_comite_vamos_bien, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>         
</div>
<div class="row">
  <div class="col-md-4">

          {{ form_label(form.logros_compras) }}
          {{ form_errors(form.logros_compras) }}
          {{ form_widget(form.logros_compras, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
                
  <div class="col-md-4">
          {{ form_label(form.logros_vamos_bien) }}
          {{ form_errors(form.logros_vamos_bien) }}
          {{ form_widget(form.logros_vamos_bien, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>
  <div class="col-md-4">
          {{ form_label(form.contador) }}
          {{ form_errors(form.contador) }}
          {{ form_widget(form.contador, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>         
</div>
<div class="row">
  <div class="col-md-4">

          {{ form_label(form.desempeno_contador) }}
          {{ form_errors(form.logros_compras) }}
          {{ form_widget(form.logros_compras, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
                
  <div class="col-md-4">
          {{ form_label(form.observaciones_contador) }}
          {{ form_errors(form.observaciones_contador) }}
          {{ form_widget(form.observaciones_contador, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>
  <div class="col-md-4">
          {{ form_label(form.observaciones_presupuesto_asignado) }}
          {{ form_errors(form.observaciones_presupuesto_asignado) }}
          {{ form_widget(form.observaciones_presupuesto_asignado, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>         
</div>
<div class="row">
  <div class="col-md-4">

          {{ form_label(form.cambios_presupuesto_asignado) }}
          {{ form_errors(form.cambios_presupuesto_asignado) }}
          {{ form_widget(form.cambios_presupuesto_asignado, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
                
  <div class="col-md-4">
          {{ form_label(form.cambios_razones_presupuesto_asignado) }}
          {{ form_errors(form.cambios_razones_presupuesto_asignado) }}
          {{ form_widget(form.cambios_razones_presupuesto_asignado, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>
  <div class="col-md-4">
          {{ form_label(form.desempeno_organizacional) }}
          {{ form_errors(form.desempeno_organizacional) }}
          {{ form_widget(form.desempeno_organizacional, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>         
</div>
<div class="row">
  <div class="col-md-4">

          {{ form_label(form.desempeno_productivo) }}
          {{ form_errors(form.desempeno_productivo) }}
          {{ form_widget(form.desempeno_productivo, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
                
  <div class="col-md-4">
          {{ form_label(form.desempeno_comercial) }}
          {{ form_errors(form.desempeno_comercial) }}
          {{ form_widget(form.desempeno_comercial, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>
  <div class="col-md-4">
          {{ form_label(form.desempeno_administrativo) }}
          {{ form_errors(form.desempeno_administrativo) }}
          {{ form_widget(form.desempeno_administrativo, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>         
</div>
<div class="row">
  <div class="col-md-4">

          {{ form_label(form.desempeno_financiero) }}
          {{ form_errors(form.desempeno_financiero) }}
          {{ form_widget(form.desempeno_financiero, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
                
  <div class="col-md-4">
          {{ form_label(form.cambios_integrantes_grupo) }}
          {{ form_errors(form.cambios_integrantes_grupo) }}
          {{ form_widget(form.cambios_integrantes_grupo, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>
  <div class="col-md-4">
          {{ form_label(form.cambios_razones_integrantes_grupo) }}
          {{ form_errors(form.cambios_razones_integrantes_grupo) }}
          {{ form_widget(form.cambios_razones_integrantes_grupo, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>         
</div>
<div class="row">
  <div class="col-md-3">

          {{ form_label(form.observaciones) }}
          {{ form_errors(form.observaciones) }}
          {{ form_widget(form.observaciones, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
                
  <div class="col-md-3">
          {{ form_label(form.compromisos) }}
          {{ form_errors(form.compromisos) }}
          {{ form_widget(form.compromisos, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>
  <div class="col-md-3">
          {{ form_label(form.interventoria) }}
          {{ form_errors(form.interventoria) }}
          {{ form_widget(form.interventoria, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>   
  <div class="col-md-3">
          {{ form_label(form.razones_interventoria) }}
          {{ form_errors(form.razones_interventoria) }}
          {{ form_widget(form.razones_interventoria, { 'attr': {'class': 'form-control', 'placeholder': 'primer nombre '} }) }}
  </div>        
</div>
<div class="row">
  <div class="col-md-3">

          {{ form_label(form.desempeno_contador) }}
          {{ form_errors(form.desempeno_contador) }}
          {{ form_widget(form.desempeno_contador, { 'attr': {'class': 'form-control', 'placeholder': 'Nomnre territorio aprendizaje'} }) }}
  </div>
                
 
          
</div>

			

			<br/>				
       
      </div>
    </div>

  {{ form_end(form) }}
               
{% endblock %}

