{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Concursos{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Concursos de Mejoramiento</li>
      <li class="active">Concursos</li>
    </ul>

{% endblock %}

	

{% block section %}

  <div class="container">
    <h1>Gestión Concursos</h1>
    <hr>
  </div>

  <br />  

    

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group">
              <a href="{{ path('homepage') }}" class="btn btn-warning">Volver</a>
              <a href="{{ path('concursoNuevo') }}" class="btn btn-success">Nuevo</a>
            </div>

          
          </div>
        </div>
      </div>
    </div>
    
    <br />    
    <br />    

    <div class="container">
    <div class="alert alert-[[estadoMensaje]] alert-dismissible" id="MensajeCtrl" ng-show="mostrarMensaje === true" role="alert">[[textoMensaje]]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
   </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 table-responsive">
            <table class="table table-striped table-hover" ng-controller="gestionConcursoCtrl">
              <thead>
                	<tr>
	                  <th class="text-center">#</th> 
                    <th></th>                 
	                  <th class="text-left">Fecha de las bases concurso</th>
	                  <th class="text-left">Tipo</th>
	                  <th class="text-left">Temática</th>
					          <th class="text-left">Modo Concurso</th>
	                  <th class="text-center">Acciones</th>
	                </tr>
	           </thead>
	           <tbody>
               
              {% set consecutivo = 1 %}
	    	
	    		{% for concurso in concursos %}
	                
	                <tr id="filaConcurso{{ consecutivo }}">
	                  <td class="text-center">{{ consecutivo }}</td>
                    <td></td>
	                  <td class="text-left">
	                    <b>FB</b>  {{ concurso.fechaBases |  date('d - m - Y') }}
	                    <br>
						          <b>FF</b>  {{ concurso.fechaFinalizacion |  date('d - m - Y') }}
	                    <br>
						          <b>FI</b>  {{ concurso.fechaInicio |  date('d - m - Y') }}
	                    <br>
	                   </td>
					           <td class="text-left">
	                    {{concurso.tipo}}
	                   </td>
					           <td class="text-left">
	                    {{concurso.tematica}}
	                  </td>
					          <td class="text-left">
	                    {{concurso.modalidad}}
	                  </td>			
	                  <td class="text-center">

                      {#<a href="{{ path('comiteIntegrante', {'idConcurso': concurso.id}) }}" alt="Jurados Comité" title="Jurados Comité"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a> |#}
                      
	                    <a href="{{ path('actividadGestion')}}" alt="Asignacion Actividades" title="Asignacion Actividades"> <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></a> |

	                    <a href="{{ path('concursoGrupo', {'idConcurso': concurso.id}) }}" alt="Asignacion Grupos" title="Asignacion Grupos"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a> | 

	                    <a href="{{ path('concursoSoporte', {'idConcurso': concurso.id}) }}" alt="subir archivos" title="Subir archivos"><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span></a> | 
                       
                     
                      <a href="{{ path('distribucionGestion')}}" alt="Distribucion Premios" title="Distribucion Premios"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a> |
 <br> 

                      <a href="{{ path('aprobacionGestion', {'idConcurso': concurso.id}) }}" alt="aprobacion concurso" title="Aprobación Concurso"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a> | 


                      <a href="{{ path('criterioGestion', {'idConcurso': concurso.id})}}" alt="Criterio Calificacion" title="Criterio Calificación"> <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a> |

					            <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ concurso.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> | 
 <br> 
	                    <a title="Editar" alt="Editar" href="{{ path('concursoEditar', {'idConcurso': concurso.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> | 

	                    <a class="ng-binding ng-isolate-scope" href="" mwl-confirm="" alt="Anular" title="Anular registro" message="¿Está seguro de anular este registro?" confirm-text="Si &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;" cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;" on-confirm="eliminarConcurso({{concurso.id}}, {{consecutivo}});" on-cancel="" confirm-button-type="danger" cancel-button-type="default" handle-focus="true" ng-click="idConcurso = {{concurso.id}};"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>

	                  </td>
	                </tr>
	                {% set consecutivo = consecutivo + 1 %}	
	                {% else %}
	                
	                <tr>
	                  	<td colspan="7" class="info">No se encontraron registros.</td>
	                </tr>
	                
	                {% endfor %}
			  
               </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>  

	{% for concurso in concursos %}
    <!-- Modal -->
    <div class="modal fade" id="myModal{{ concurso.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ concurso.id }} | {{ concurso.tipo }}</h4>
          </div>
          <div class="modal-body">
            <b>Tipo de Concurso:{{ concurso.tipo }}</b>
            <br>
            <b>Modalidad del Concurso: {{concurso.modalidad}}</b>
            <br>
            <b>Temática del Concurso: Oriente {{concurso.tematica}}</b>
            <br>
            <b>Ambito del Concurso: {{concurso.ambito}}</b>
            <br>
            <b>Problematica del Concurso: {{concurso.problematica}}</b>
            <br>
            <b>Actividades del Concurso: {{concurso.actividades}}</b>
            <br>
            <b>Resultados del Concurso: {{concurso.resultados}}</b>
            <br>
            <b>Valor del Concurso: {{concurso.valor}}</b>
            <br>
            <b>Distribución del Concurso: {{concurso.distribucion}}</b>
            <br>
            <b>Criterios del Concurso: {{concurso.criterios}}</b>            
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}           
{% endblock %}

