{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Comite Compras{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Formacion de capital social asociativo y desarrollo empresarial</li>
      <li><a href="{{ path('grupoGestion') }}">Grupos</a></li>
      <li class="active">Comite Compras</li>
    </ul>

{% endblock %}

{% block section %}

 <div class="container">
    <h1>Comite Compras</h1>
    <br>
    {% for grupos in grupo %}
    <h2> Grupo: {{ grupos.nombre }}</h2>
    {% endfor %}
    <br>
    <hr>
    <h3>Asignación Beneficiarios-Comite Compras</h3>
  </div>

  <br />
  <br />

    <div class="container">
    <div class="alert alert-[[estadoMensaje]] alert-dismissible" id="MensajeCtrl" ng-show="mostrarMensaje === true" role="alert">[[textoMensaje]]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    </div>

<div class="section">
      <div class="container"> 
        <div class="row">
            <div class="col-md-6">
              <div class="btn-group">
                <a href="{{ path('grupoGestion') }}" class="btn btn-warning">Volver</a>                             
              </div>
            </div>
        </div>
      </div>
  </div>

  <br /> 

<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 well">            
            <br>
            <div class="row well">
              <div class="col-md-6">
                <label>Cargo</label>
                <br>
                <input list="cargo" placeholder="Cargo..." class="form-control">
                <datalist id="cargo">
                  <option value="Funcionario"></option>
                  <option value="Promotor"></option>
                </datalist>
              </div>
              <div class="col-md-6">
                <label>Entidad</label>
                <br>
                <input list="entidad" placeholder="Entidad..." class="form-control">
                <datalist id="entidad">
                  <option value=""></option>
                </datalist>
              </div>
            </div>
            <hr>            



            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>
                    
                  </th>
                  <th>Grupo</th>
                  <th>Datos del Beneficiario</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                
              {% set consecutivo = 1 %}              
        
            {% for beneficiario in beneficiarios %}
        
             <tr>
                  <td class="text-center">{{ consecutivo }}</td>
                  <td>  
                    
                  </td>
                  <td>
                    {{ beneficiario.grupo.nombre }}
                  </td>
                  <td>
                    Primero Apellido: {{ beneficiario.primerApellido }}
                    <br>
                    Segundo Apellido: {{ beneficiario.segundoApellido }}
                    <br>
                    Primero Nombre: {{ beneficiario.primerNombre }}
                    <br>
                    Segundo Nombre: {{ beneficiario.segundoNombre }}
                  </td>                                      
                  <td class="text-center">
                    <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ beneficiario.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    <br>                    
                    <a href="{{ path('grupoBeneficiarioComiteComprasAsignacion', {'idGrupo': idGrupo, 'idBeneficiario': beneficiario.id}) }}" title="Asignar" alt="Asignar"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                    <br>                      
                  </td>
                </tr>
        
            {% set consecutivo = consecutivo + 1 %}
                  {% else %}
                  
                  <tr>
                      <td colspan="7" class="info">No se encontraron registros.</td>
                  </tr>
                  
                  {% endfor %}
        
                
              </tbody>
            </table>



            

            <div class="col-md-12 text-center">
              <ul class="pagination">
                <li>
                  <a href="#">Anterior</a>
                </li>
                <li>
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">3</a>
                </li>
                <li>
                  <a href="#">4</a>
                </li>
                <li>
                  <a href="#">5</a>
                </li>
                <li>
                  <a href="#">Siguiente</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-md-offset-1 well">            
            <table class="table table-striped table-hover" ng-controller="gestionComiteComprasCtrl">
              <thead>           
                <tr>
                  <th>#</th>
                  <th>
                    
                  </th>
                  <th>Grupo</th>
                  <th>Datos del Beneficiario</th>
                  <th>Acciones</th>
                </tr>
        
              </thead>
              <tbody>
        {% set consecutivo = 1 %}
        
          {% for asignacionBeneficiariosCC in asignacionesBeneficiariosCC %}
                <tr id="filaIntegranteCLEAR{{ consecutivo }}">
                  <td>{{ consecutivo }}</td>
                  <td>
                    
                  </td>
                  <td>
                    {{ asignacionBeneficiariosCC.beneficiario.grupo.nombre }}
                  </td>
                  <td>
                    Primero Apellido: {{ asignacionBeneficiariosCC.beneficiario.primerApellido }}
                    <br>
                    Segundo Apellido: {{ asignacionBeneficiariosCC.beneficiario.segundoApellido }}
                    <br>
                    Primero Nombre: {{ asignacionBeneficiariosCC.beneficiario.primerNombre }}
                    <br>
                    Segundo Nombre: {{ asignacionBeneficiariosCC.beneficiario.segundoNombre }}
                  </td>
          
                  <td>
                    <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ asignacionBeneficiariosCC.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> | 
                    <a class="ng-binding ng-isolate-scope" href="" mwl-confirm="" alt="Anular" title="Anular registro" message="¿Está seguro de anular este registro?" confirm-text="Si &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;" cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;" on-confirm="eliminarBeneficiarioComiteCompras('{{ path('grupoBeneficiarioComiteComprasEliminar', {'idGrupo': idGrupo, 'idAsignacionBeneficiariosCVB': asignacionBeneficiariosCC.id}) }}')" on-cancel="" confirm-button-type="danger" cancel-button-type="default" handle-focus="true"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
                  </td>
                </tr>
        
         {% set consecutivo = consecutivo + 1 %}
                  {% else %}
          <tr>
                      <td colspan="7" class="info">No se encontraron registros.</td>
                  </tr>
                  
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  {% for beneficiario in beneficiarios %}
    <!-- Modal -->
    <div class="modal fade" id="myModal{{ beneficiario.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ beneficiario.grupo.id }} | {{ beneficiario.grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Tipo de Documento:{{ beneficiario.tipoDocumento }}</b>
            <br>
            <b>Numero de Documento: {{ beneficiario.numeroDocumento }}</b>
            <br>
            <b>Primero Apellido: {{ beneficiario.primerApellido }}</b>
            <br>
            <b>Segundo Apellido: {{ beneficiario.segundoApellido }}</b>
            <br>
            <b>Primero Nombre: {{ beneficiario.primerNombre }}</b>
            <br>
            <b>Segundo Nombre: {{ beneficiario.segundoNombre }}</b>
            <br>
            <b>Genero: {{ beneficiario.genero }}</b>
            <br>
            <b>Fecha de Nacimiento: {{ beneficiario.fechaNacimiento |  date('d - m - Y') }}</b>
            <br>
            <b>Edad al momento de la inscripcion: {{ beneficiario.edadInscripcion }}</b>
            <br>
            <b>Deplazado por la violencia: {{ beneficiario.desplazado }}</b>
            <br>            
            <b>Pertenencia Etnica: {{ beneficiario.pertenenciaEtnica }}</b>
            <br>
            <b>Grupo indigena: {{ beneficiario.grupoIndigena }}</b>
            <br>
            <b>Pertenece a la red unidos: {{ beneficiario.redUnidos }}</b>
            <br>
            <b>Sabe leer: {{ beneficiario.sabeLeer }}</b>
            <br>
            <b>Sabe escribir: {{ beneficiario.sabeEscribir }}</b>
            <br>
             <b>Puntaje del sisben: {{ beneficiario.puntajeSisben }}</b>
            <br>
            <b>Corte sisben: {{ beneficiario.corteSisben }}</b>
            <br>
            <b>Discapacidad: {{ beneficiario.discapacidad }}</b>
            <br>
            <b>Rol grupo familiar: {{ beneficiario.rolGrupoFamiliar }}</b>
            <br>
            <b>Mimebros nucleo familiar: {{ beneficiario.miembrosNucleoFamiliar }}</b>
            <br>
            <b>Hijos menores 5: {{ beneficiario.hijosMenores5 }}</b>
      <br>
            <b>Nivel de estudios: {{ beneficiario.nivelEstudios }}</b>
      <br>
            <b>Ocupacion: {{ beneficiario.ocupacion }}</b>
      <br>
            <b>Tipo de vivienda: {{ beneficiario.tipoVivienda }}</b>
      <br>
            <b>Rural: {{ beneficiario.rural }}</b>
      <br>
            <b>Direccion: {{ beneficiario.direccion }}</b>
      <br>
            <b>Barrio: {{ beneficiario.barrio }}</b>
      <br>
            <b>Corregimiento: {{ beneficiario.corregimiento }}</b>
      <br>
            <b>Vereda: {{ beneficiario.vereda }}</b>
      <br>
            <b>Cacerio: {{ beneficiario.cacerio }}</b>
      <br>
            <b>Telefono Fijo: {{ beneficiario.telefonoFijo }}</b>
      <br>
            <b>Telefono Celular: {{ beneficiario.telefonoCelular }}</b>
      <br>
            <b>Correo electronico: {{ beneficiario.correoElectronico }}</b>
      <br>
            <b>Estado civil: {{ beneficiario.estadoCivil }}</b>
      <br>
            <b>Información del Conyuge</b>
      <br>
            <b>Tipo de documento del conyuge: {{ beneficiario.tipoDocumentoConyugue }}</b>
      <br>
            <b>Numero de documento del conyuge: {{ beneficiario.numeroDocumentoConyugue }}</b>
      <br>
            <b>Primer apellido del conyuge: {{ beneficiario.primerApellidoConyugue }}</b>
      <br>
            <b>Segundo apellido del conyuge: {{ beneficiario.segundoApellidoConyugue }}</b>
      <br>
            <b>Primer nombre del conyuge: {{ beneficiario.primerNombreConyugue }}</b>
      <br>
            <b>Segundo nombre del conyuge: {{ beneficiario.segundoNombreConyugue }}</b>
      <br>
            <b>Telefono fijo del conyuge: {{ beneficiario.telefonoFijoConyugue }}</b>
      <br>
            <b>Telefono celular del conyuge: {{ beneficiario.telefonoCelularConyugue }}</b>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
   {% endfor %}             

   {% for asignacionBeneficiariosCC in asignacionesBeneficiariosCC %}
    <!-- Modal -->
    <div class="modal fade" id="myModal{{ asignacionBeneficiariosCC.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ asignacionBeneficiariosCC.beneficiario.grupo.id }} | {{ asignacionBeneficiariosCC.beneficiario.grupo.nombre }}</h4>
          </div>
          <div class="modal-body">
            <b>Tipo de Documento:{{ asignacionBeneficiariosCC.beneficiario.tipoDocumento }}</b>
            <br>
            <b>Numero de Documento: {{ asignacionBeneficiariosCC.beneficiario.numeroDocumento }}</b>
            <br>
            <b>Primero Apellido: {{ asignacionBeneficiariosCC.beneficiario.primerApellido }}</b>
            <br>
            <b>Segundo Apellido: {{ asignacionBeneficiariosCC.beneficiario.segundoApellido }}</b>
            <br>
            <b>Primero Nombre: {{ asignacionBeneficiariosCC.beneficiario.primerNombre }}</b>
            <br>
            <b>Segundo Nombre: {{ asignacionBeneficiariosCC.beneficiario.segundoNombre }}</b>
            <br>
            <b>Genero: {{ asignacionBeneficiariosCC.beneficiario.genero }}</b>
            <br>
            <b>Fecha de Nacimiento: {{ asignacionBeneficiariosCC.beneficiario.fechaNacimiento |  date('d - m - Y') }}</b>
            <br>
            <b>Edad al momento de la inscripcion: {{ asignacionBeneficiariosCC.beneficiario.edadInscripcion }}</b>
            <br>
            <b>Deplazado por la violencia: {{ asignacionBeneficiariosCC.beneficiario.desplazado }}</b>
            <br>            
            <b>Pertenencia Etnica: {{ asignacionBeneficiariosCC.beneficiario.pertenenciaEtnica }}</b>
            <br>
            <b>Grupo indigena: {{ asignacionBeneficiariosCC.beneficiario.grupoIndigena }}</b>
            <br>
            <b>Pertenece a la red unidos: {{ asignacionBeneficiariosCC.beneficiario.redUnidos }}</b>
            <br>
            <b>Sabe leer: {{ asignacionBeneficiariosCC.beneficiario.sabeLeer }}</b>
            <br>
            <b>Sabe escribir: {{ asignacionBeneficiariosCC.beneficiario.sabeEscribir }}</b>
            <br>
             <b>Puntaje del sisben: {{ asignacionBeneficiariosCC.beneficiario.puntajeSisben }}</b>
            <br>
            <b>Corte sisben: {{ asignacionBeneficiariosCC.beneficiario.corteSisben }}</b>
            <br>
            <b>Discapacidad: {{ asignacionBeneficiariosCC.beneficiario.discapacidad }}</b>
            <br>
            <b>Rol grupo familiar: {{ asignacionBeneficiariosCC.beneficiario.rolGrupoFamiliar }}</b>
            <br>
            <b>Mimebros nucleo familiar: {{ asignacionBeneficiariosCC.beneficiario.miembrosNucleoFamiliar }}</b>
            <br>
            <b>Hijos menores 5: {{ asignacionBeneficiariosCC.beneficiario.hijosMenores5 }}</b>
            <br>
            <b>Nivel de estudios: {{ asignacionBeneficiariosCC.beneficiario.nivelEstudios }}</b>
            <br>
            <b>Ocupacion: {{ asignacionBeneficiariosCC.beneficiario.ocupacion }}</b>
            <br>
            <b>Tipo de vivienda: {{ asignacionBeneficiariosCC.beneficiario.tipoVivienda }}</b>
      <br>
            <b>Rural: {{ asignacionBeneficiariosCC.beneficiario.rural }}</b>
      <br>
            <b>Direccion: {{ asignacionBeneficiariosCC.beneficiario.direccion }}</b>
      <br>
            <b>Barrio: {{ asignacionBeneficiariosCC.beneficiario.barrio }}</b>
      <br>
            <b>Corregimiento: {{ asignacionBeneficiariosCC.beneficiario.corregimiento }}</b>
      <br>
            <b>Vereda: {{ asignacionBeneficiariosCC.beneficiario.vereda }}</b>
      <br>
            <b>Cacerio: {{ asignacionBeneficiariosCC.beneficiario.cacerio }}</b>
      <br>
            <b>Telefono Fijo: {{ asignacionBeneficiariosCC.beneficiario.telefonoFijo }}</b>
      <br>
            <b>Telefono Celular: {{ asignacionBeneficiariosCC.beneficiario.telefonoCelular }}</b>
      <br>
            <b>Correo electronico: {{ asignacionBeneficiariosCC.beneficiario.correoElectronico }}</b>
      <br>
            <b>Estado civil: {{ asignacionBeneficiariosCC.beneficiario.estadoCivil }}</b>
      <br>
            <b>Información del Conyuge</b>
      <br>
            <b>Tipo de documento del conyuge: {{ asignacionBeneficiariosCC.beneficiario.tipoDocumentoConyugue }}</b>
      <br>
            <b>Numero de documento del conyuge: {{ asignacionBeneficiariosCC.beneficiario.numeroDocumentoConyugue }}</b>
      <br>
            <b>Primer apellido del conyuge: {{ asignacionBeneficiariosCC.beneficiario.primerApellidoConyugue }}</b>
      <br>
            <b>Segundo apellido del conyuge: {{ asignacionBeneficiariosCC.beneficiario.segundoApellidoConyugue }}</b>
      <br>
            <b>Primer nombre del conyuge: {{ asignacionBeneficiariosCC.beneficiario.primerNombreConyugue }}</b>
      <br>
            <b>Segundo nombre del conyuge: {{ asignacionBeneficiariosCC.beneficiario.segundoNombreConyugue }}</b>
      <br>
            <b>Telefono fijo del conyuge: {{ asignacionBeneficiariosCC.beneficiario.telefonoFijoConyugue }}</b>
      <br>
            <b>Telefono celular del conyuge: {{ asignacionBeneficiariosCC.beneficiario.telefonoCelularConyugue }}</b>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
   {% endfor %}             

               
{% endblock %}

