{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Territorios Organización asignar{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li class="active">Concrusos de Mejoramiento</li>
	   <li><a href="{{ path('territorioaprendizajeGestion') }}">Pasantias</a></li>
      <li class="active">Organizaciones</li>
    </ul>

{% endblock %}

{% block section %}

 <div class="container">
    <h1>Gestión Territorios</h1>
    <hr>
    <h3>Asignación Organización</h3>
  </div>

  <br />
  <br />

    <div class="container">
    <div class="alert alert-[[estadoMensaje]] alert-dismissible" id="MensajeCtrl" ng-show="mostrarMensaje === true" role="alert">[[textoMensaje]]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    </div>

<div class="section">
      <div class="container"> 
        <div class="row">
            <div class="col-md-6">
              <div class="btn-group">
                <a href="{{ path('territorioaprendizajeGestion') }}" class="btn btn-warning">Volver</a>                             
              </div>
            </div>
        </div>
      </div>
  </div>

  <br /> 

	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 well">            
            <br>

            <div class="row well" ng-controller="FiltrosTerritorioOrganizacionCtrl">

              <div class="row">
              <div class="col-md-12 text-right">
            <div class="btn-group [[styleBuscarHerramientas]]">              
                
                <button class="btn btn-info" ng-click="buttonBuscarHerramientasTerritorioOrganizacion(CountBuscarHerramientas)">Filtros <span class="caret"></span></button>  
              <button class="btn btn-primary" ng-click="limpiarCamposFiltroBusquedaTerritorioOrganizacion();">Limpiar</button>                            
            </div>
          </div>
        </div>

        <br />

        <div ng-show="CountBuscarHerramientas === 1">

        <form method="get" action="{{ path('territorioAprendizajeOrganizacion', {'idTerritorioAprendizaje': idTerritorioAprendizaje}) }}">               
                  
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

        {{ form_errors(form) }}

        <div class="row">       

                  <div class="col-md-6">

                    {{ form_label(form.nombre_organizacion) }}
                    {{ form_errors(form.nombre_organizacion) }}
                    {{ form_widget(form.nombre_organizacion, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre Organización'} }) }}

                    
                  </div>

                  <div class="col-md-6">

                    {{ form_label(form.linea_productiva) }}
                    {{ form_errors(form.linea_productiva) }}
                    {{ form_widget(form.linea_productiva, { 'attr': {'class': 'form-control', 'placeholder': 'Linea Productiva'} }) }}

                  </div>

        </div>

        <br />

        <div class="row">
                  <div class="col-md-3">
                  </div> 
                  <div class="col-md-6">

                    {{ form_label(form.tipo_producto) }}
                    {{ form_errors(form.tipo_producto) }}
                    {{ form_widget(form.tipo_producto, { 'attr': {'class': 'form-control', 'placeholder': 'Tipo Producto'} }) }}
   
                  </div>

        </div>

        

        <br />        

        <div class="row">    

                  <div class="col-md-12 text-right">

                  <button class="btn btn-default" style="color:white; background-color:#ccc;"  type="submit" name="submit-filter" value="filter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

                  </div>                  
        </div>

        {{ form_end(form) }}

        </form>

      </div>


        </div>


            
            <hr>            
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                    <th class="text-center">{{ knp_pagination_sortable(pagination1, 'Id', 'a.id') }}</th>
                    <th></th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination1, 'Organizaciones', 'a.organizaciones') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(pagination1, 'Acciones', 'a.acciones') }}</th>
                </tr>                
              </thead>
              <tbody>
                
         {% set consecutivo = 1 %}
        
          {% for organizacion in pagination1 %}
        
        <tr {% if loop.index is odd %}class="color"{% endif %}>
                  <td class="text-center">{{ organizacion.id }}</td>
                  <td>

                  </td>
                  <td>                    
                    {{ organizacion.nombreorganizacion }}
                    <br />
                    Linea Productiva: {{organizacion.lineaproductiva}}
                    <br>
                    Tipo de Producto: {{organizacion.tipoproducto}}
                    <br>
                    <br>
                  <td>
                    <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ organizacion.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    <br>                    
                    <a href="{{ path('territorioAprendizajeAsignarOrganizacion', {'idTerritorioAprendizaje': idTerritorioAprendizaje, 'idOrganizacion': organizacion.id}) }}" title="Asignar" alt="Asignar"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                    <br>                    
                  </td>
                </tr>
        
            {% set consecutivo = consecutivo + 1 %}
                  {% else %}
          <tr>
                      <td colspan="7" class="info">No se encontraron registros.</td>
                  </tr>
                  
                  {% endfor %}
        
                
              </tbody>
            </table>
            <div class="navigation text-center">
              <nav>
                <ul class="pagination">
                  {{ knp_pagination_render(pagination1) }}
                </ul>
              </nav>
            </div>
          </div>

          <div class="col-md-6 col-md-offset-1 well">            
            <table class="table table-striped table-hover" ng-controller="gestionOrganizacionTerritorioCtrl">
              <thead>           
                <tr>
                  <th>#</th>
                  <th>
                    
                  </th>
                  <th>Organizaciones asignadas</th>
                  <th></th>
                  <th>Acciones</th>
                </tr>
        
              </thead>
              <tbody>
        {% set consecutivo = 1 %}
        
          {% for asignacionTerritorioOrganizacion in asignacionesTerritoriosOrganizacion %}
                <tr id="filaIntegranteCLEAR{{ consecutivo }}">
                  <td>{{ consecutivo }}</td>
                  <td>
                    
                  </td>                  
                  <td>
                    {{ asignacionTerritorioOrganizacion.organizacion.nombreorganizacion }}
                    <br />
                    Linea Productiva: {{asignacionTerritorioOrganizacion.organizacion.lineaproductiva}}
                    <br>
                    Tipo de Producto: {{asignacionTerritorioOrganizacion.organizacion.tipoproducto}}
                    <br>
                  </td>
                  <td>
                    
                  </td>
          
                  <td>
                    <a href="#" alt="Detalle" title="Detalle" data-toggle="modal" data-target="#myModal{{ asignacionTerritorioOrganizacion.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> | 
                    <a class="ng-binding ng-isolate-scope" href="" mwl-confirm="" alt="Anular" title="Anular registro" message="¿Está seguro de anular este registro?" confirm-text="Si &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;" cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;" on-confirm="eliminarOrganizacionTerritorio('{{ path('territorioAprendizajeEliminarOrganizacion', {'idTerritorioAprendizaje': idTerritorioAprendizaje, 'idTerritorioOrganizacion': asignacionTerritorioOrganizacion.id}) }}')" on-cancel="" confirm-button-type="danger" cancel-button-type="default" handle-focus="true"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>                                   
                  </td>
                </tr>
        
         {% set consecutivo = consecutivo + 1 %}
                  {% else %}
          <tr>
                      <td colspan="7" class="info">No se encontraron registros.</td>
                  </tr>
                  
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

   {% for organizacion in pagination1 %}
    <!-- Modal -->
   <div class="modal fade" id="myModal{{  organizacion.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content col-md-12 table-responsive">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <tr class="col-md-12 table-responsive">
              <td><h4 class="modal-title text-center" id="myModalLabel">{{ organizacion.id }} {{ organizacion.nombreorganizacion }}</h4><td>
                            
            </tr>
          </div>
        </br>
          <div class="col-md-12 table-responsive">
          <table class="table table-bordered">            
              <thead>
                <tr class="bg-primary">
                    <th class="text-center col-md-5">Información</th>
                    <th class="text-center col-md-7">Datos de la Organización</th>                    
                </tr>
              </thead>   

              <tbody>    

              <tr class="active text-muted">            
                    
                  <td class="text-center">
                    Nombre de la Organización
                  </td>         
                  <td class="text-center">
                    {{ organizacion.nombreorganizacion }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Linea Productiva
                  </td>
                  <td class="text-center">
                    {{organizacion.lineaproductiva}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Tipo de Producto
                  </td>
                  <td class="text-center">
                   {{organizacion.tipoproducto}}
                  </td>
              </tr>

              
              <tr class="active text-muted">             
                  <td class="text-center">
                    Dirección
                  </td>
                  <td class="text-center">
                   {{organizacion.direccion}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Descripción
                  </td>
                  <td class="text-center">
                    {{organizacion.descripcion}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Municipio
                  </td>
                  <td class="text-center">
                   {{organizacion.municipio}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Número de Documento Contacto
                  </td>
                  <td class="text-center">
                    {{organizacion.numerodocumentocontacto}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                   Apellidos Contacto
                  </td>
                  <td class="text-center">
                    {{organizacion.primerapellidocontacto}} {{organizacion.segundoapellidocontacto}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                   Nombres Contacto
                  </td>
                  <td class="text-center">
                    {{organizacion.primernombrecontacto}} {{organizacion.segundonombrecontacto}}
                  </td>
              </tr> 

             
              <tr class="active text-muted">             
                  <td class="text-center">
                    Telefono Fijo
                  </td>
                  <td class="text-center">
                    {{organizacion.telefonofijocontacto}}
                  </td>
              </tr> 

              <tr class="active text-muted">             
                  <td class="text-center">
                    Telefono Celular
                  </td>
                  <td class="text-center">
                    {{organizacion.telefonocelularcontacto}}
                  </td>
              </tr> 

              <tr class="active text-muted">             
                  <td class="text-center">
                    Correo Electronico
                  </td>
                  <td class="text-center">
                    {{organizacion.correoelectronicocontacto}}
                  </td>
              </tr> 

              <tr class="active text-muted">             
                  <td class="text-center">
                    Ruta
                  </td>
                  {% if organizacion.ruta == null %}
                  <td class="text-center">
                    Deshabilitado
                  </td>
                  {% else %}
                  <td class="text-center">
                    Hablilitado
                  </td>
              </tr>
              {% endif %} 

              <tr class="active text-muted">             
                  <td class="text-center">
                    Pasantia
                  </td>
                  {% if organizacion.pasantia == null %}
                  <td class="text-center">
                    Deshabilitado
                  </td>
                  {% else %}
                  <td class="text-center">
                    Hablilitado
                  </td>
              </tr>
              {% endif %} 

              <tr class="active text-muted">             
                  <td class="text-center">
                    Observaciones
                  </td>
                  <td class="text-center">
                    {{organizacion.observaciones}}
                  </td>
              </tr> 





            </div>
          </tbody>  
          </table>  
           <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>  
          </div>      
      </div>
    </div>
  </div>


    {% endfor %}


{% for asignacionTerritorioOrganizacion in asignacionesTerritoriosOrganizacion %}
    <!-- Modal -->

    <div class="modal fade" id="myModal{{  asignacionTerritorioOrganizacion.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content col-md-12 table-responsive">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <tr class="col-md-12 table-responsive">
              <td><h4 class="modal-title text-center" id="myModalLabel">{{ asignacionTerritorioOrganizacion.Organizacion.id }} {{ asignacionTerritorioOrganizacion.Organizacion.nombreorganizacion }}</h4><td>
                            
            </tr>
          </div>
        </br>
          <div class="col-md-12 table-responsive">
          <table class="table table-bordered">            
              <thead>
                <tr class="bg-primary">
                    <th class="text-center col-md-5">Información</th>
                    <th class="text-center col-md-7">Datos de la Organización</th>                    
                </tr>
              </thead>   

              <tbody>    

              <tr class="active text-muted">            
                    
                  <td class="text-center">
                    Nombre de la Organización
                  </td>         
                  <td class="text-center">
                    {{ asignacionTerritorioOrganizacion.Organizacion.nombreorganizacion }}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Linea Productiva
                  </td>
                  <td class="text-center">
                    {{asignacionTerritorioOrganizacion.Organizacion.lineaproductiva}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Tipo de Producto
                  </td>
                  <td class="text-center">
                   {{asignacionTerritorioOrganizacion.Organizacion.tipoproducto}}
                  </td>
              </tr>

              
              <tr class="active text-muted">             
                  <td class="text-center">
                    Dirección
                  </td>
                  <td class="text-center">
                   {{asignacionTerritorioOrganizacion.Organizacion.direccion}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Descripción
                  </td>
                  <td class="text-center">
                    {{asignacionTerritorioOrganizacion.Organizacion.descripcion}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Municipio
                  </td>
                  <td class="text-center">
                   {{asignacionTerritorioOrganizacion.Organizacion.municipio}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                    Número de Documento Contacto
                  </td>
                  <td class="text-center">
                    {{asignacionTerritorioOrganizacion.Organizacion.numerodocumentocontacto}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                   Apellidos Contacto
                  </td>
                  <td class="text-center">
                    {{asignacionTerritorioOrganizacion.Organizacion.primerapellidocontacto}} {{asignacionTerritorioOrganizacion.Organizacion.segundoapellidocontacto}}
                  </td>
              </tr>

              <tr class="active text-muted">             
                  <td class="text-center">
                   Nombres Contacto
                  </td>
                  <td class="text-center">
                    {{asignacionTerritorioOrganizacion.Organizacion.primernombrecontacto}} {{asignacionTerritorioOrganizacion.Organizacion.segundonombrecontacto}}
                  </td>
              </tr> 

             
              <tr class="active text-muted">             
                  <td class="text-center">
                    Telefono Fijo
                  </td>
                  <td class="text-center">
                    {{asignacionTerritorioOrganizacion.Organizacion.telefonofijocontacto}}
                  </td>
              </tr> 

              <tr class="active text-muted">             
                  <td class="text-center">
                    Telefono Celular
                  </td>
                  <td class="text-center">
                    {{asignacionTerritorioOrganizacion.Organizacion.telefonocelularcontacto}}
                  </td>
              </tr> 

              <tr class="active text-muted">             
                  <td class="text-center">
                    Correo Electronico
                  </td>
                  <td class="text-center">
                    {{asignacionTerritorioOrganizacion.Organizacion.correoelectronicocontacto}}
                  </td>
              </tr> 

              <tr class="active text-muted">             
                  <td class="text-center">
                    Ruta
                  </td>
                  {% if asignacionTerritorioOrganizacion.Organizacion.ruta == null %}
                  <td class="text-center">
                    Deshabilitado
                  </td>
                  {% else %}
                  <td class="text-center">
                    Hablilitado
                  </td>
              </tr>
              {% endif %} 

              <tr class="active text-muted">             
                  <td class="text-center">
                    Pasantia
                  </td>
                  {% if asignacionTerritorioOrganizacion.Organizacion.pasantia == null %}
                  <td class="text-center">
                    Deshabilitado
                  </td>
                  {% else %}
                  <td class="text-center">
                    Hablilitado
                  </td>
              </tr>
              {% endif %} 

              <tr class="active text-muted">             
                  <td class="text-center">
                    Observaciones
                  </td>
                  <td class="text-center">
                    {{asignacionTerritorioOrganizacion.Organizacion.observaciones}}
                  </td>
              </tr> 





            </div>
          </tbody>  
          </table>  
           <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>  
          </div>      
      </div>
    </div>
  </div>

    {% endfor %}

{% endblock %}

