{% extends 'AppBundle::frontend.html.twig' %}


{% block title %}Pasantias{% endblock %}

{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Inicio</a></li>
      <li>Gestión Empresarial</li>
      <li>Servicio Complementario</li>
      <li class="active">Pasantias</li>
    </ul>

{% endblock %}

{% block section %}

  <div class="container">
    <h1>Gestión Pasantias</h1>
    <hr>
  </div>

  <br />
  <br />

    <div class="section" ng-controller="FiltrosPasantiaCtrl">
      <div class="container">
        <div class="row" >
          
          <div class="col-md-6">
            <div class="btn-group">
              <a href="{{ path('homepage') }}" class="btn btn-warning">Volver</a>
              <a href="{{ path('pasantiaNuevo') }}" class="btn btn-success">Nuevo</a>
            </div>
          </div>

          <div class="col-md-4">           
          </div>

          <div class="col-md-2">
            <div class="btn-group [[styleBuscarHerramientas]]">              
                
                <button class="btn btn-info" ng-click="buttonBuscarHerramientasPasantia(CountBuscarHerramientas)">Filtros <span class="caret"></span></button>  
              <button class="btn btn-primary" ng-click="limpiarCamposFiltroBusquedaPasantia();">Limpiar</button>                            
            </div>
          </div>


        </div>
      </div>

      <br />

  <div class="container well" ng-show="CountBuscarHerramientas === 1">

        <form method="get" action="{{ path('pasantiaGestion') }}">               
                  
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}

        {{ form_errors(form) }}

        <div class="row">          

            

                  <div class="col-md-3">
                  
                  {{ form_label(form.nombre_pasantia) }}
                  {{ form_errors(form.nombre_pasantia) }}
                  {{ form_widget(form.nombre_pasantia, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre Pasantia'} }) }}

                  </div>

                  <div class="col-md-3">

                    {{ form_label(form.observaciones) }}
                    {{ form_errors(form.observaciones) }}
                    {{ form_widget(form.observaciones, { 'attr': {'class': 'form-control', 'placeholder': 'Observaciones'} }) }}

                  </div>
                 


        </div>

        <br />        

        <div class="row">    

                  <div class="col-md-12 text-right">

                  <button class="btn btn-default" style="color:white; background-color:#ccc;"  type="submit" name="submit-filter" value="filter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

                  </div>                  
        </div>

        {{ form_end(form) }}

        </form>

      </div>
      



    </div>

    <br />



    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 table-responsive">
            <table class="table table-striped table-hover" ng-controller="gestionPasantiaCtrl">
              <thead>
                	<tr>
	                  <th class="text-center">{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
	                  <th class="text-center">{{ knp_pagination_sortable(pagination, 'Nombre Pasantia', 'a.nombrePasantia') }}</th>
	                  <th class="text-center">{{ knp_pagination_sortable(pagination, 'Observaciones', 'a.observaciones') }}</th>
	                  <th class="text-center">{{ knp_pagination_sortable(pagination, 'Acciones', 'a.acciones') }}</th>
	                </tr>
	           </thead>
	           <tbody>
          {% set consecutivo = 1 %}
        
          {% for article in pagination %}
                  
                  <tr {% if loop.index is odd %}class="color"{% endif %}>
                  <tr id="filaBeca{{ consecutivo }}">

                    <td class="text-center">{{article.id }}</td>               
                    <td class="text-center">{{article.nombrePasantia }}</td>
                    <td class="text-center">{{article.observaciones}}</td>      

                    <td class="text-center">

                   <a href="{{ path('pasantiaTerritorio', {'idPasantia': article.id}) }}" alt="Asignacion Territorio" title="Asignacion Territorio"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a> | 

                   {% if article.territorioAprendizaje != NULL and pasantia.grupo != NULL %}                   

                   <a href="{{ path('pasantiaOrganizacion', {'idPasantia': article.id}) }}" alt="Asignacion Organizaciones" title="Asignacion Organizaciones"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></a> |  

                   {% endif %}

                   <a href="{{ path('pasantiaGrupo', {'idPasantia': article.id}) }}" alt="Asignacion Grupos" title="Asignacion Grupos"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a> |  
 
                   <a href="{{ path('pasantiaSoporte', {'idPasantia': article.id}) }}" alt="subir archivos" title="Subir archivos"><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span></a> | 

                   <a title="Editar" alt="Editar" href="{{ path('pasantiaEditar', {'idPasantia': article.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> | 
                    
                   <a class="ng-binding ng-isolate-scope" href="" mwl-confirm="" alt="Anular" title="Anular registro" message="¿Está seguro de anular este registro?" confirm-text="Si &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;" cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;" on-confirm="eliminarPasantia({{article.id}}, {{consecutivo}});" on-cancel="" confirm-button-type="danger" cancel-button-type="default" handle-focus="true" ng-click="idPasantia = {{article.id}};"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> 
                    
                    </td>
                  </tr>
                  {% set consecutivo = consecutivo + 1 %} 
                  {% else %}
                  
                  <tr>
                      <td colspan="7" class="info">No se encontraron registros.</td>
                  </tr>
                  
                  {% endfor %}
            
	    	
	    		
	                
	             
              
               </tbody>
            </table>
            <div class="navigation text-center">
              <nav>
                <ul class="pagination">
                  {{ knp_pagination_render(pagination) }}
                </ul>
              </nav>
            </div>  
          </div>
        </div>
      </div>
    </div>  


    
               
{% endblock %}

