<nav>


	<div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span>TOP</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav"></ul>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion Empresarial<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li class="dropdown dropdown-submenu">
                  <a href="#">Formacion de capital social asociativo y desarrollo empresarial</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('gruposGestion') }}">Gestion de Grupos </a>
                    </li>
                    <li>
                      <a href="{{ path('CLEARGestion') }}">Gestion de CLEAR</a>
                    </li>
                    <li>
                      <a href="seguimiento-principal.html">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Concursos de mejoramiento </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('concursoGestion') }}">Gestion de Concursos</a>
                    </li>
                    <li>
                      <a href="jurados.html">Gestion de Jurados</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Servicio complementario</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="pasantias.html">Participacion Rutas y pasantias </a>
                    </li>
                    <li>
                      <a href="talleres.html">Participacion en talleres</a>
                    </li>
                    <li>
                      <a href="ferias.html">Participacioón en Ferias</a>
                    </li>
                    <li>
                      <a href="#">Participacioón en Ferias de difusion</a>
                    </li>
                    <li>
                      <a href="#">Desarrollo de ferias de difusion del proyecto</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion Financiera<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li class="dropdown dropdown-submenu">
                  <a href="#">Participacion en modulos capacitación financiera</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="1-grupos.html">Gestion de agendamiento de capacitaciones</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Gestión de rutas y pasantias financiera</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="1-grupos.html">Gestion de rutas y pasantias financieras</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Incentivos al ahorro</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="1-grupos.html">Gestion de registro de cuentas y planes de ahorro por familia</a>
                    </li>
                    <li>
                      <a href="1-grupos.html">Gestion de registro de planes de ahorro asociativo</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Gestión de polizas de seguro de vida</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion de conocimientos<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li class="dropdown dropdown-submenu">
                  <a href="#">Capacitaciones</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="1-grupos.html">Gestion de Capacitaciones</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Eventos </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="1-grupos.html">Gestion de eventos</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Becas </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="1-grupos.html">Gestion de Becas</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Experiencias Exitosas</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('experienciaGestion') }}">Experiencias Exitosas</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="7-talentos-rurales.html">Talentos</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="1-grupos.html">Gestion de Talentos</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion Administrativa<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li class="dropdown dropdown-submenu">
                  <a href="#">Plan Operativo Anual - POA</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('POAGestion') }}">Gestion del POA</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Gestion de informes mensuales</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="1-grupos.html">Gestion de eventos</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Ordenes de pago </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="1-grupos.html">Gestion de Becas</a>
                    </li>
                    <li>
                      <a href="#">Gestion de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>



</nav>

