<nav>


	<div class="navbar navbar-default navbar-static-top">
      <div class="container">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span>TOP</span></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          
          <ul class="nav navbar-nav">


            <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión Empresarial<strong class="caret"></strong></a>
              
              <ul class="dropdown-menu">
                <li class="dropdown dropdown-submenu">
                  <a href="#">Formación de capital social asociativo y desarrollo empresarial</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('gruposGestion') }}">Gestión de Grupos </a>
                    </li>
                    <li>
                      <a href="{{ path('CLEARGestion') }}">Gestión de CLEAR</a>
                    </li>
                    <li>
                      <a href="seguimiento-principal.html">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Concursos de mejoramiento </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('concursoGestion') }}">Gestión de Concursos</a>
                    </li>
                    <li>
                      <a href="jurados.html">Gestión de Jurados</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Servicio complementario</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="pasantias.html">Participación Rutas y pasantias </a>
                    </li>
                    <li>
                      <a href="talleres.html">Participación en talleres</a>
                    </li>
                    <li>
                      <a href="ferias.html">Participación en Ferias</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión Financiera<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li class="dropdown dropdown-submenu">
                  <a href="#">Capacitación financiera</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('programaCapacitacionFinancieraGestion') }}">Gestión  programas de capacitación financiera</a>
                    </li>
					  <li>
                      <a href="{{ path('participanteGestion') }}">Gestión de participantes no beneficiarios</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Rutas y pasantias financieras</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Gestión de rutas y pasantias financieras</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Incentivos al ahorro</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('ahorroGestion') }}">Gestión de registro de cuentas y planes de ahorro por familia</a>
                    </li>
                    <li>
                      <a href="1-grupos.html">Gestión de registro de planes de ahorro asociativo</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Polizas de seguro de vida</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('polizasGestion') }}">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión de conocimientos<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li class="dropdown dropdown-submenu">
                  <a href="#">Capacitaciones</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('capacitacionGestion') }}">Gestión de Capacitaciones</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Eventos </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('eventoGestion') }}">Gestión de eventos</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Becas </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('becaGestion') }}">Gestión de Becas</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Experiencias Exitosas</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('experienciaGestion') }}">Experiencias Exitosas</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="7-talentos-rurales.html">Talentos</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('talentoGestion') }}">Gestión de Talentos</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión Administrativa<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li class="dropdown dropdown-submenu">
                  <a href="#">Plan Operativo Anual - POA</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('POAGestion') }}">Gestión del POA</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Gestión de informes mensuales</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="1-grupos.html">Gestión de eventos</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu">
                  <a href="#">Ordenes de pago </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="1-grupos.html">Gestión de Becas</a>
                    </li>
                    <li>
                      <a href="#">Gestión de seguimiento y monitoreo</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>



</nav>

